* {
  font-family: "Roboto", sans-serif;
  transition: 0.3s all ease-in-out; }

p {
  line-height: 1.8em; }

.KW_progressContainer {
  left: 0;
  width: 100%;
  height: 0.4em;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  background-color: white;
  content: "";
  display: table;
  table-layout: fixed; }

.KW_progressBar {
  width: 0;
  float: left;
  height: 100%;
  z-index: 99;
  max-width: 100%;
  background-color: orange;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease; }

.titlediv {
  text-align: center;
  padding: 2em 0;
  font-weight: bold;
  font-size: 2em;
  color: #00377D; }

.whitetext {
  color: white; }

.highfidheader {
  color: #026F8B;
  font-weight: bold;
  font-size: 1.2em; }

.sixembottom {
  padding-bottom: 6em; }

.fourembottom {
  padding-bottom: 4em; }

.fouremboth {
  padding: 4em 0; }

.sixemboth {
  padding: 6em 0; }

.subheader {
  font-weight: bold;
  font-size: 1.2em;
  color: #00BFA0; }

.centerdesc {
  width: 90%;
  margin: 0 auto;
  line-height: 2em; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .centerdesc {
      width: 65%; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .centerdesc {
      width: 55%; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    .centerdesc {
      width: 40%; } }
  @media (min-width: 1820px) {
    .centerdesc {
      width: 35%; } }
  @media (min-width: 2560) {
    .centerdesc {
      width: 25%; } }

#herosection {
  background-image: url("img/eventosaur/herobg.png");
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: auto;
  position: relative; }
  @media (min-width: 375px) and (max-width: 768px) {
    #herosection {
      height: 600px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    #herosection {
      height: 650px; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    #herosection {
      height: 600px; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    #herosection {
      height: 600px; } }
  @media (min-width: 1820px) {
    #herosection {
      height: 800px; } }
  @media (min-width: 2560) {
    #herosection {
      height: 2800px; } }
  #herosection .logodiv {
    width: 90%;
    margin: 0 auto;
    padding: 6em 0 2em; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #herosection .logodiv {
        width: 60%;
        margin: 0 auto;
        padding: 8em 0 2em; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #herosection .logodiv {
        position: absolute;
        top: 35%;
        transform: translateY(-50%);
        right: 5%;
        width: 40%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #herosection .logodiv {
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        right: 15%;
        width: 30%; } }
    @media (min-width: 1820px) {
      #herosection .logodiv {
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        right: 5%;
        width: 40%; } }
  #herosection .macdiv {
    width: 95%;
    margin: 0 auto;
    z-index: 999; }
    @media (min-width: 375px) and (max-width: 768px) {
      #herosection .macdiv {
        width: 78%;
        max-width: 450px; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      #herosection .macdiv {
        width: 75%;
        max-width: 520px;
        position: absolute;
        top: 70%;
        transform: translateY(-50%);
        left: -8em; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #herosection .macdiv {
        width: 65%;
        max-width: 720px;
        position: absolute;
        top: 62%;
        transform: translateY(-50%);
        left: -8em; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #herosection .macdiv {
        width: 55%;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: -10em; } }
    @media (min-width: 1820px) {
      #herosection .macdiv {
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: 5em; } }
  #herosection .storytitle {
    text-align: center;
    width: 90%;
    padding: 2em 0;
    margin: 0 auto;
    font-size: 1.2em; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #herosection .storytitle {
        font-size: 1em;
        position: absolute;
        top: 70%;
        transform: translateY(-50%);
        right: 5%;
        width: 40%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #herosection .storytitle {
        font-size: 1.2em;
        position: absolute;
        top: 85%;
        transform: translateY(-50%);
        right: 5%;
        width: 40%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #herosection .storytitle {
        font-size: 1.2em;
        position: absolute;
        top: 90%;
        transform: translateY(-50%);
        right: 15%;
        width: 30%; } }
    @media (min-width: 1820px) {
      #herosection .storytitle {
        font-size: 1.4em;
        position: absolute;
        top: 80%;
        transform: translateY(-50%);
        right: 15%;
        width: 30%; } }
  #herosection #greenline {
    width: 100%;
    height: 8px;
    background-color: #00BFA0;
    position: absolute;
    bottom: 0; }

#rolesection .roleflex {
  display: flex;
  flex-wrap: wrap; }
  #rolesection .roleflex .roletitle {
    background-color: #00BFA0;
    text-align: center;
    width: 90%;
    margin: 1em auto;
    padding: 1em;
    position: relative; }
    #rolesection .roleflex .roletitle .roletitletext {
      font-size: 1.8em;
      color: white;
      font-weight: bold; }
      @media (min-width: 768px) and (max-width: 1023px) {
        #rolesection .roleflex .roletitle .roletitletext {
          position: absolute;
          top: 40%;
          transform: translateY(-50%);
          right: 50%;
          transform: translateX(40%); } }
      @media (min-width: 1024px) and (max-width: 1439px) {
        #rolesection .roleflex .roletitle .roletitletext {
          position: absolute;
          top: 40%;
          transform: translateY(-50%);
          right: 50%;
          transform: translateX(40%); } }
      @media (min-width: 1440px) and (max-width: 1819px) {
        #rolesection .roleflex .roletitle .roletitletext {
          position: absolute;
          top: 40%;
          transform: translateY(-50%);
          right: 50%;
          transform: translateX(40%); } }
      @media (min-width: 1820px) {
        #rolesection .roleflex .roletitle .roletitletext {
          font-size: 2em;
          position: absolute;
          top: 40%;
          transform: translateY(-50%);
          right: 50%;
          transform: translateX(40%); } }
    @media (min-width: 768px) and (max-width: 1023px) {
      #rolesection .roleflex .roletitle {
        width: 25%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #rolesection .roleflex .roletitle {
        width: 25%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #rolesection .roleflex .roletitle {
        width: 25%; } }
    @media (min-width: 1820px) {
      #rolesection .roleflex .roletitle {
        width: 25%; } }
  #rolesection .roleflex .rolecontent {
    background-color: #F5F5F5;
    text-align: center;
    width: 90%;
    margin: 1em auto; }
    #rolesection .roleflex .rolecontent .cofoundertext {
      color: #414141;
      padding-top: 2em;
      font-weight: bold;
      font-size: 1.2em; }
      @media (min-width: 1820px) {
        #rolesection .roleflex .rolecontent .cofoundertext {
          font-size: 1.4em; } }
    #rolesection .roleflex .rolecontent .roleline {
      width: 70px;
      height: 5px;
      background-color: #00BFA0;
      margin: 0 auto; }
    #rolesection .roleflex .rolecontent .rolecontenttext {
      width: 100%;
      padding: 1em;
      font-size: 1.1em;
      text-align: center;
      margin: 0 auto; }
      @media (min-width: 768px) and (max-width: 1023px) {
        #rolesection .roleflex .rolecontent .rolecontenttext {
          width: 100%;
          padding: 2em; } }
      @media (min-width: 1024px) and (max-width: 1439px) {
        #rolesection .roleflex .rolecontent .rolecontenttext {
          width: 90%;
          padding: 2em; } }
      @media (min-width: 1440px) and (max-width: 1819px) {
        #rolesection .roleflex .rolecontent .rolecontenttext {
          width: 60%;
          padding: 2em; } }
      @media (min-width: 1820px) {
        #rolesection .roleflex .rolecontent .rolecontenttext {
          width: 50%;
          padding: 3em; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      #rolesection .roleflex .rolecontent {
        width: 73%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #rolesection .roleflex .rolecontent {
        width: 73%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #rolesection .roleflex .rolecontent {
        width: 73%; } }
    @media (min-width: 1820px) {
      #rolesection .roleflex .rolecontent {
        width: 73%; } }

#problemsection .probcontentflex {
  display: flex;
  flex-wrap: wrap; }
  #problemsection .probcontentflex .probhalf {
    order: 3;
    width: 90%;
    margin: 0 auto;
    line-height: 1.8em; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #problemsection .probcontentflex .probhalf {
        order: 1;
        width: 50%;
        padding: 1em;
        line-height: 1.8em; }
        #problemsection .probcontentflex .probhalf p {
          margin: 0 auto;
          width: 95%;
          line-height: 1.8em; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #problemsection .probcontentflex .probhalf {
        order: 1;
        width: 50%;
        padding: 1em; }
        #problemsection .probcontentflex .probhalf p {
          margin: 0 auto;
          width: 95%;
          line-height: 1.8em; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #problemsection .probcontentflex .probhalf {
        order: 1;
        width: 50%;
        padding: 1em; }
        #problemsection .probcontentflex .probhalf p {
          margin: 0 auto;
          width: 75%;
          line-height: 1.8em; } }
    @media (min-width: 1820px) {
      #problemsection .probcontentflex .probhalf {
        order: 1;
        width: 50%;
        padding: 1em; }
        #problemsection .probcontentflex .probhalf p {
          margin: 0 auto;
          width: 70%;
          line-height: 1.8em; } }
  #problemsection .probcontentflex .prob1liner {
    order: 1;
    width: 90%;
    margin: 0 auto;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-size: 1.2em; }
    #problemsection .probcontentflex .prob1liner p {
      line-height: 1.9em; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #problemsection .probcontentflex .prob1liner {
        order: 3;
        width: 50%;
        padding: 3em 1em;
        font-size: 1.3em; }
        #problemsection .probcontentflex .prob1liner p {
          margin: 0 auto;
          width: 80%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #problemsection .probcontentflex .prob1liner {
        order: 3;
        width: 50%;
        padding: 3em 1em;
        font-size: 1.3em; }
        #problemsection .probcontentflex .prob1liner p {
          margin: 0 auto;
          width: 80%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #problemsection .probcontentflex .prob1liner {
        order: 3;
        width: 50%;
        padding: 3em 1em;
        font-size: 1.3em; }
        #problemsection .probcontentflex .prob1liner p {
          margin: 0 auto;
          width: 60%; } }
    @media (min-width: 1820px) {
      #problemsection .probcontentflex .prob1liner {
        order: 3;
        width: 50%;
        padding: 2em 0; }
        #problemsection .probcontentflex .prob1liner p {
          font-size: 1.2em;
          margin: 0 auto;
          width: 50%;
          text-align: center;
          font-weight: 400; } }
#problemsection .probimgdiv {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 1820px) {
    #problemsection .probimgdiv {
      width: 75%;
      padding: 6em 0; } }
  #problemsection .probimgdiv img {
    width: 100%; }

#processsection {
  background-color: #F5F5F5;
  width: 95%;
  margin: 0 auto 4em; }
  #processsection .processdiagdiv {
    width: 95%;
    margin: 0 auto; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #processsection .processdiagdiv {
        width: 90%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #processsection .processdiagdiv {
        width: 80%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #processsection .processdiagdiv {
        width: 70%; } }
    @media (min-width: 1820px) {
      #processsection .processdiagdiv {
        width: 58%;
        padding: 8em 0; } }

#shiftsection {
  background-color: #00BFA0;
  width: 95%;
  margin: 0 auto 4em; }
  #shiftsection .ufdiagdiv {
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #shiftsection .ufdiagdiv {
        width: 80%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #shiftsection .ufdiagdiv {
        width: 70%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #shiftsection .ufdiagdiv {
        width: 55%; } }
    @media (min-width: 1820px) {
      #shiftsection .ufdiagdiv {
        width: 50%;
        padding: 6em 0; } }

.earexpflex {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 1440px) and (max-width: 1819px) {
    .earexpflex {
      width: 75%; } }
  @media (min-width: 1820px) {
    .earexpflex {
      width: 75%; } }
  .earexpflex .earexpdiv {
    margin: 0 auto; }
    .earexpflex .earexpdiv img {
      width: 100%; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .earexpflex .earexpdiv {
        width: 70%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .earexpflex .earexpdiv {
        width: 40%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .earexpflex .earexpdiv {
        width: 40%; } }
    @media (min-width: 1820px) {
      .earexpflex .earexpdiv {
        width: 40%;
        padding: 3em 0; } }

#vdsection .vdflex {
  display: flex;
  flex-wrap: wrap;
  background-color: #F5F5F5;
  width: 95%;
  margin: 0 auto 4em;
  padding: 4em 0; }
  #vdsection .vdflex .vddesc {
    margin: 0 auto;
    width: 90%;
    font-size: 0.8em; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #vdsection .vdflex .vddesc {
        width: 25%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #vdsection .vdflex .vddesc {
        width: 25%;
        font-size: 1em; } }
    @media (min-width: 1820px) {
      #vdsection .vdflex .vddesc {
        width: 25%;
        font-size: 1em; } }
  #vdsection .vdflex .vdimgdiv {
    width: 90%;
    margin: 0 auto; }
    #vdsection .vdflex .vdimgdiv img {
      width: 100%; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #vdsection .vdflex .vdimgdiv {
        width: 60%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #vdsection .vdflex .vdimgdiv {
        width: 60%; } }
    @media (min-width: 1820px) {
      #vdsection .vdflex .vdimgdiv {
        width: 40%; } }
    #vdsection .vdflex .vdimgdiv #noserp {
      text-align: center;
      color: #7E7E7E; }
      @media (min-width: 1440px) and (max-width: 1819px) {
        #vdsection .vdflex .vdimgdiv #noserp {
          font-size: 1.2em; } }
      @media (min-width: 1820px) {
        #vdsection .vdflex .vdimgdiv #noserp {
          font-size: 1.2em; } }

#reflectionsection .reflectionflex {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    #reflectionsection .reflectionflex .learnings {
      width: 70%;
      margin: 0 auto; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    #reflectionsection .reflectionflex .learnings {
      width: 45%;
      margin: 0 auto; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    #reflectionsection .reflectionflex .learnings {
      width: 35%;
      margin: 0 auto; } }
  @media (min-width: 1820px) {
    #reflectionsection .reflectionflex .learnings {
      width: 35%;
      margin: 0 auto; } }
  #reflectionsection .reflectionflex .smalltitle {
    font-size: 1.4em;
    color: #00377D;
    font-weight: bold; }

.container,
body,
html {
  height: 100%;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

#header {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 2em;
  width: 100%; }
  @media (min-width: 768px) and (max-width: 1023px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 1820px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  #header #headerflex .name {
    transition: 0.3s all ease-in-out;
    position: relative; }
    #header #headerflex .name a {
      color: black;
      transition: 0.3s all ease-in-out; }
    #header #headerflex .name p {
      font-family: georgia;
      font-size: 1.5em; }
  #header #headerflex .innerpagename {
    padding-left: 1em; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #header #headerflex .innerpagename {
        padding-left: 2em; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #header #headerflex .innerpagename {
        padding-left: 0; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #header #headerflex .innerpagename {
        padding-left: 0; } }
    @media (min-width: 1820px) {
      #header #headerflex .innerpagename {
        padding-left: 0; } }
  #header #headerflex .name:hover {
    transition: 0.3s all ease-in-out;
    color: #F04B33;
    cursor: pointer; }
    #header #headerflex .name:hover a {
      color: #F04B33;
      transition: 0.3s all ease-in-out; }
  #header #headerflex #navflex {
    width: 80%;
    padding-top: 1em;
    display: none; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    @media (min-width: 1820px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    #header #headerflex #navflex .navitem {
      width: 20%;
      text-align: left;
      transition: 0.3s all ease-in-out; }
      #header #headerflex #navflex .navitem a {
        transition: 0.3s all ease-in-out;
        color: black; }
      @media (min-width: 1024px) and (max-width: 1439px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      @media (min-width: 1440px) and (max-width: 1819px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      @media (min-width: 1820px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      #header #headerflex #navflex .navitem p {
        font-size: 0.9em;
        font-weight: 500; }
    #header #headerflex #navflex .navitem:hover {
      font-weight: bolder;
      cursor: pointer; }
      #header #headerflex #navflex .navitem:hover a {
        transition: 0.3s all ease-in-out;
        color: #F04B33; }

#menuicon {
  font-size: 1.1em;
  position: absolute;
  right: 0;
  z-index: 100;
  top: 0;
  padding: 2.1em 1.1em 0 0;
  display: block;
  position: fixed; }
  @media (min-width: 768px) and (max-width: 1023px) {
    #menuicon {
      padding: 2.1em 2em 0 0; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    #menuicon {
      display: none; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    #menuicon {
      display: none; } }
  @media (min-width: 1820px) {
    #menuicon {
      display: none; } }

#mobilemenuwrapper {
  opacity: 0;
  z-index: -2;
  transition: 0.3s all ease-in-out;
  width: 100%;
  background-color: white;
  padding: 0 1.5em 0 1em;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  -webkit-box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75);
  -moz-box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75);
  box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75); }
  #mobilemenuwrapper #menunameflex {
    padding-top: 2em;
    transition: 0.3s all ease-in-out; }
    @media (min-width: 375px) and (max-width: 768px) {
      #mobilemenuwrapper #menunameflex #menuName {
        padding-left: 0.17em; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      #mobilemenuwrapper #menunameflex #menuName {
        padding-left: 3.8em; } }
    #mobilemenuwrapper #menunameflex #menuName a {
      letter-spacing: normal;
      font-size: 1.5em;
      transition: 0.3s all ease-in-out; }
      #mobilemenuwrapper #menunameflex #menuName a p {
        font-family: georgia;
        color: black; }
    #mobilemenuwrapper #menunameflex #menuxicon {
      position: absolute;
      top: 0;
      right: 0;
      padding: 2.45em 1.5em 0 0; }
      @media (min-width: 768px) and (max-width: 1023px) {
        #mobilemenuwrapper #menunameflex #menuxicon {
          padding: 2.45em 2.4em 0 0; } }
  #mobilemenuwrapper #menuline {
    height: 3px;
    background-color: black;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    margin-top: 1.2em;
    transition: 0.3s all ease-in-out; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #mobilemenuwrapper #menuline {
        margin: 1.2em 0 0 3.6em;
        width: 85%; } }
  #mobilemenuwrapper ul {
    padding-top: 2em;
    transition: 0.3s all ease-in-out; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #mobilemenuwrapper ul {
        padding: 3em 0 0 2.5em; } }
    #mobilemenuwrapper ul li {
      list-style: none;
      padding: 1.5em 0; }
      #mobilemenuwrapper ul li a {
        color: black; }

#footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 8em 0 4em; }
  #footer #hello {
    font-family: georgia;
    font-size: 3em; }
  #footer #contactflex {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    justify-content: space-between; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #footer #contactflex {
        width: 70%; } }
    #footer #contactflex .contcontent {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      padding: 2em 0;
      transition: 0.3s all ease-in-out; }
      @media (min-width: 768px) and (max-width: 1023px) {
        #footer #contactflex .contcontent {
          width: 50%;
          padding: 2em 0; } }
      @media (min-width: 1024px) and (max-width: 1439px) {
        #footer #contactflex .contcontent {
          width: 50%;
          padding: 2em 0; } }
      @media (min-width: 1440px) and (max-width: 1819px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      @media (min-width: 1820px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      #footer #contactflex .contcontent a {
        color: black;
        transition: 0.3s all ease-in-out; }
      #footer #contactflex .contcontent .contline {
        height: 4px;
        width: 50px;
        background-color: black;
        border-radius: 2px;
        position: relative;
        top: 10px;
        margin-right: 1.5em;
        transition: 0.3s all ease-in-out; }
    #footer #contactflex .contcontent:hover {
      transition: 0.3s all ease-in-out;
      cursor: pointer; }
      #footer #contactflex .contcontent:hover a {
        color: #F04B33;
        transition: 0.3s all ease-in-out; }
      #footer #contactflex .contcontent:hover .contline {
        background-color: #F04B33;
        transition: 0.3s all ease-in-out;
        transform: translateX(6px); }

.footernavcontainer {
  display: flex;
  justify-content: space-between; }
  .footernavcontainer .navbutton {
    width: 50%;
    padding: 1em 0;
    background-color: #F5F5F5;
    text-align: center; }
  .footernavcontainer .esaurnxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-color: #00936E;
    background-image: url("img/homepage2/esaurbg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .esaurnxt:hover .nextprojbig,
    .footernavcontainer .esaurnxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .piunxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-color: #00936E;
    background-image: url("img/homepage/piubg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .piunxt:hover .nextprojbig,
    .footernavcontainer .piunxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .actinxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-color: #00936E;
    background-image: url("img/actilist/herobg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .actinxt:hover .nextprojbig,
    .footernavcontainer .actinxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .smarthomenxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-color: #00936E;
    background-image: url("img/smarthome/homeimg2.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .smarthomenxt:hover .nextprojbig,
    .footernavcontainer .smarthomenxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .expedianxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-color: #00936E;
    background-image: url("img/homepage/hotel_room.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .expedianxt:hover .nextprojbig,
    .footernavcontainer .expedianxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .datescoutnxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-color: #00936E;
    background-image: url("img/homepage/dscoutcouplebg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .datescoutnxt:hover .nextprojbig,
    .footernavcontainer .datescoutnxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer a {
    color: #424242; }
  .footernavcontainer .nextprojsmall {
    font-size: 0.8em; }
  .footernavcontainer .nextprojbig {
    font-size: 1em;
    font-weight: 500; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1820px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }

.footerdiv {
  background-color: #292929;
  width: 100%; }

.getintouch {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
  padding: 2em 0;
  text-align: center; }
  @media (min-width: 375px) and (max-width: 768px) {
    .getintouch {
      font-size: 1.5em; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .getintouch {
      font-size: 2em;
      text-align: center; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 1820px) {
    .getintouch {
      font-size: 2em; } }

.iconsflex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 4em;
  justify-content: center; }
  .iconsflex .email {
    font-size: 1.5em;
    color: white; }
  .iconsflex .icondiv {
    width: 28px;
    margin: 0 2em; }
  .iconsflex .mail {
    fill: #F5F5F5;
    width: 28px;
    padding-top: 0.57em; }
  .iconsflex .in {
    fill: #F5F5F5;
    width: 28px; }
  .iconsflex .mailicon:hover .mail {
    transition: all 0.20s ease-in-out;
    fill: #DC4638; }
  .iconsflex .inicon:hover .in {
    transition: all 0.20s ease-in-out;
    fill: #0075B5; }

.resumeline {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 1em;
  padding-bottom: 1em; }
  .resumeline #resume {
    color: #D92A1C; }

.arrowup {
  width: 50px;
  margin: 0 auto;
  padding: 2em 0 3em; }

.copyrightdiv {
  width: 100%;
  max-width: 1000px;
  border-radius: 3px 3px 0 0;
  margin: 0 auto;
  background-color: #F5F5F5; }

.copyright {
  padding: 0.8em 0;
  text-align: center;
  color: #7E7E7E;
  font-size: 0.8em;
  margin: 0 auto; }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .copyright {
      padding: 0.8em 0 0.8em 10em;
      text-align: left; } }

/*# sourceMappingURL=eventosaur.css.map */
