body {
  background-color: #F3f3f3; }

.wrapper {
  margin: 0 auto;
  width: 90%; }
  @media (min-width: 0px) {
    .wrapper {
      width: 90%; } }
  @media (min-width: 768px) {
    .wrapper {
      width: 80%; } }
  @media (min-width: 1024px) {
    .wrapper {
      max-width: 1000px; } }
  @media (min-width: 1440px) {
    .wrapper {
      max-width: 1000px; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    .wrapper {
      max-width: 1000px; } }
  @media (min-width: 2560px) {
    .wrapper {
      max-width: 1550px; } }

#header {
  padding: 2em 0;
  margin: 0 auto;
  width: 100%; }
  @media (min-width: 768px) {
    #header {
      padding: 2em 0; } }
  @media (min-width: 1024px) {
    #header {
      padding: 2em 0; } }
  @media (min-width: 1440px) {
    #header {
      padding: 2em 0; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #header {
      padding: 2em 0; } }
  @media (min-width: 2560px) {
    #header {
      max-width: 1550px; } }
  @media (min-width: 768px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 1024px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 1440px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 2560px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  #header #headerflex .name {
    transition: 0.3s all ease-in-out;
    position: relative; }
    #header #headerflex .name a {
      color: black;
      transition: 0.3s all ease-in-out; }
    #header #headerflex .name p {
      font-family: georgia;
      width: 180px;
      font-size: 1.5em;
      margin: 0; }
      @media (min-width: 2560px) {
        #header #headerflex .name p {
          font-size: 1.9em;
          width: 280px; } }
  #header #headerflex .name:hover {
    transition: 0.3s all ease-in-out;
    color: #F04B33;
    cursor: pointer; }
    #header #headerflex .name:hover a {
      color: #F04B33;
      transition: 0.3s all ease-in-out; }
  #header #headerflex #navflex {
    width: 80%;
    padding-top: 1em;
    display: none; }
    @media (min-width: 1024px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    @media (min-width: 1440px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    @media (min-width: 2560px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    #header #headerflex #navflex .navitem {
      width: 20%;
      text-align: left;
      transition: 0.3s all ease-in-out; }
      #header #headerflex #navflex .navitem a {
        transition: 0.3s all ease-in-out;
        color: black; }
      @media (min-width: 1024px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      @media (min-width: 1440px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      @media (min-width: 2560px) {
        #header #headerflex #navflex .navitem {
          text-align: right;
          font-size: 1.4em; } }
      #header #headerflex #navflex .navitem p {
        font-size: 0.9em;
        font-weight: 500; }
    #header #headerflex #navflex .navitem:hover {
      font-weight: bolder;
      cursor: pointer; }
      #header #headerflex #navflex .navitem:hover a {
        transition: 0.3s all ease-in-out;
        color: #F04B33; }

#menuicon {
  font-size: 1.1em;
  position: absolute;
  right: 0;
  z-index: 100;
  top: 0;
  padding: 2em 1em;
  display: block;
  position: fixed; }
  @media (min-width: 768px) {
    #menuicon {
      padding: 2em; } }
  @media (min-width: 1024px) {
    #menuicon {
      display: none; } }
  @media (min-width: 1440px) {
    #menuicon {
      display: none; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #menuicon {
      display: none; } }
  @media (min-width: 2560px) {
    #menuicon {
      display: none; } }

#mobilemenuwrapper {
  opacity: 0;
  z-index: -2;
  transition: 0.3s all ease-in-out;
  width: 100%;
  background-color: white;
  padding: 0 1.5em 0 1em;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  -webkit-box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75);
  -moz-box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75);
  box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75); }
  #mobilemenuwrapper #menunameflex {
    padding: 2em 0 0;
    transition: 0.3s all ease-in-out; }
    @media (min-width: 768px) {
      #mobilemenuwrapper #menunameflex {
        padding: 2em 0 0 1em; } }
    #mobilemenuwrapper #menunameflex #menuName a {
      letter-spacing: normal;
      font-size: 1.5em;
      transition: 0.3s all ease-in-out; }
      #mobilemenuwrapper #menunameflex #menuName a p {
        width: 180px;
        font-family: georgia;
        color: black; }
    #mobilemenuwrapper #menunameflex #menuxicon {
      position: absolute;
      top: 0;
      right: 0;
      padding: 2.45em 1.5em 0 0; }
      @media (min-width: 768px) {
        #mobilemenuwrapper #menunameflex #menuxicon {
          padding: 2.45em 2.4em 0 0; } }
  #mobilemenuwrapper #menuline {
    height: 3px;
    background-color: black;
    margin: 0 auto;
    width: 100%;
    margin-top: 2em;
    transition: 0.3s all ease-in-out; }
    @media (min-width: 768px) {
      #mobilemenuwrapper #menuline {
        width: 95%; } }
  #mobilemenuwrapper ul {
    padding: 1em 0;
    transition: 0.3s all ease-in-out;
    margin: 0; }
    @media (min-width: 768px) {
      #mobilemenuwrapper ul {
        margin-left: 1.25em; } }
    #mobilemenuwrapper ul li {
      list-style: none;
      padding: 1.5em 0; }
      #mobilemenuwrapper ul li a {
        color: black; }

#intro {
  margin: 0 auto;
  padding: 8em 0 2em; }
  #intro #hello {
    font-family: georgia;
    font-size: 3em; }
    @media (min-width: 2560px) {
      #intro #hello {
        font-size: 3.4em; } }
  #intro #shortintro {
    width: 90%;
    padding-top: 2em;
    font-size: 1.2em;
    color: #7f7f7f; }
    @media (min-width: 768px) {
      #intro #shortintro {
        width: 60%; } }
    @media (min-width: 1024px) {
      #intro #shortintro {
        width: 45%; } }
    @media (min-width: 1440px) {
      #intro #shortintro {
        width: 45%; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #intro #shortintro {
        width: 42%; } }
    @media (min-width: 2560px) {
      #intro #shortintro {
        width: 42%;
        font-size: 1.4em; } }
    #intro #shortintro a {
      text-decoration: none; }
      #intro #shortintro a span {
        color: #F04B33; }
  #intro #factflex {
    padding-top: 4em;
    display: flex;
    flex-wrap: wrap; }
    #intro #factflex .factbox {
      width: 100%;
      padding-bottom: 2em;
      margin: 0 auto; }
      @media (min-width: 1024px) {
        #intro #factflex .factbox {
          width: 50%;
          padding: 0; } }
      @media (min-width: 1440px) {
        #intro #factflex .factbox {
          width: 50%;
          padding: 0; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        #intro #factflex .factbox {
          width: 50%;
          padding: 0; } }
      @media (min-width: 2560px) {
        #intro #factflex .factbox {
          width: 50%;
          padding: 0; } }
      #intro #factflex .factbox #facttitle {
        font-size: 0.9em;
        color: #7f7f7f; }
        @media (min-width: 2560px) {
          #intro #factflex .factbox #facttitle {
            font-size: 1.2em; } }
        #intro #factflex .factbox #facttitle p {
          margin: 0;
          padding: 0; }
      #intro #factflex .factbox #fact {
        padding-top: 0.8em; }
        #intro #factflex .factbox #fact .slightlyboldtext {
          font-weight: 500; }
        @media (min-width: 2560px) {
          #intro #factflex .factbox #fact {
            font-size: 1.4em; } }
    #intro #factflex .lastfactbox {
      padding-bottom: 0; }
  #intro #arrow {
    position: relative;
    top: 2em;
    margin: 1.5em auto;
    width: 40px;
    animation-name: blinker;
    animation-duration: 1.75s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; }
    @media (min-width: 2560px) {
      #intro #arrow {
        top: 2.5em; } }

@keyframes blinker {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0px); } }
.arrowdowndiv:hover {
  animation-play-state: paused; }

.breakline {
  height: 1px;
  position: relative;
  margin-top: 8em;
  width: 100%;
  background-color: #D5D5D5; }

#projectstitle {
  font-family: georgia;
  font-size: 3em; }
  @media (min-width: 2560px) {
    #projectstitle {
      font-size: 3.4em; } }

.breaklinetop {
  margin: 4em 0; }

.breaklineaboutme {
  height: 1px;
  position: relative;
  top: 2em;
  width: 100%;
  background-color: #D5D5D5; }

.ndadiv {
  width: 100%;
  background-color: white;
  position: relative;
  margin: 5em 0 2em;
  border-radius: 5px; }
  .ndadiv #statusbar {
    position: absolute;
    width: 8px;
    background-color: #F04B33;
    height: 100%;
    border-radius: 5px 0 0 5px; }
  .ndadiv p {
    padding: 1em 2em;
    font-size: 1em;
    color: #7E7E7E; }
    .ndadiv p a {
      color: #F04B33; }

.maincard {
  background-color: white;
  margin: 8em auto 0;
  border-radius: 5px;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all ease-in-out;
  position: relative; }
  .maincard #link {
    color: black; }
  .maincard .cardcontents {
    padding: 1em; }
    @media (min-width: 768px) {
      .maincard .cardcontents {
        padding: 2em; } }
    @media (min-width: 1024px) {
      .maincard .cardcontents {
        padding: 2em 4em; } }
    @media (min-width: 1440px) {
      .maincard .cardcontents {
        padding: 2em 4em; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      .maincard .cardcontents {
        padding: 2em 4em; } }
    @media (min-width: 2560px) {
      .maincard .cardcontents {
        padding: 2em 4em; } }
    .maincard .cardcontents .projectdate {
      opacity: 1;
      transition: 0.4s all ease-in-out;
      font-size: 0.7em;
      position: relative;
      color: #7f7f7f; }
      @media (min-width: 1024px) {
        .maincard .cardcontents .projectdate {
          font-size: 1em;
          opacity: 0;
          transition: 0.4s all ease-in-out; } }
      @media (min-width: 1440px) {
        .maincard .cardcontents .projectdate {
          font-size: 1em;
          opacity: 0;
          transition: 0.4s all ease-in-out; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        .maincard .cardcontents .projectdate {
          font-size: 1em;
          opacity: 0;
          transition: 0.4s all ease-in-out; } }
      @media (min-width: 2560px) {
        .maincard .cardcontents .projectdate {
          font-size: 1.4em;
          opacity: 0;
          transition: 0.4s all ease-in-out; } }
  .maincard #projecttitle {
    font-family: georgia;
    font-size: 2em;
    font-weight: 600; }
    @media (min-width: 768px) {
      .maincard #projecttitle {
        padding: 1em 0 0 1em; } }
    @media (min-width: 1024px) {
      .maincard #projecttitle {
        font-size: 3em; } }
    @media (min-width: 1440px) {
      .maincard #projecttitle {
        font-size: 3em; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      .maincard #projecttitle {
        font-size: 3em; } }
    @media (min-width: 2560px) {
      .maincard #projecttitle {
        font-size: 3em; } }
  .maincard #blackline {
    height: 4px;
    background-color: black;
    width: 100%; }
    @media (min-width: 768px) {
      .maincard #blackline {
        margin-left: 2em;
        width: 60%; } }
    @media (min-width: 1024px) {
      .maincard #blackline {
        width: 70%;
        margin-bottom: 2em; } }
    @media (min-width: 1440px) {
      .maincard #blackline {
        width: 70%;
        margin-bottom: 2em; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      .maincard #blackline {
        width: 60%;
        margin-bottom: 2em; } }
    @media (min-width: 2560px) {
      .maincard #blackline {
        width: 70%;
        margin-bottom: 2em; } }
  .maincard #projectflex {
    display: flex;
    flex-wrap: wrap; }
  .maincard #projectcontent {
    width: 100%;
    padding: 1em 0; }
    @media (min-width: 768px) {
      .maincard #projectcontent {
        width: 90%;
        padding-left: 2.5em; } }
    @media (min-width: 1024px) {
      .maincard #projectcontent {
        width: 50%;
        padding: 2em; } }
    @media (min-width: 1440px) {
      .maincard #projectcontent {
        width: 50%;
        padding: 2em; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      .maincard #projectcontent {
        width: 50%;
        padding: 2em; } }
    @media (min-width: 2560px) {
      .maincard #projectcontent {
        width: 50%;
        padding: 2em; } }
    .maincard #projectcontent #primarycontent {
      font-size: 1em;
      padding-bottom: 2em; }
      @media (min-width: 768px) {
        .maincard #projectcontent #primarycontent {
          font-size: 1.2em; } }
      @media (min-width: 1024px) {
        .maincard #projectcontent #primarycontent {
          font-size: 1.2em; } }
      @media (min-width: 1440px) {
        .maincard #projectcontent #primarycontent {
          font-size: 1.2em; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        .maincard #projectcontent #primarycontent {
          font-size: 1.2em; } }
      @media (min-width: 2560px) {
        .maincard #projectcontent #primarycontent {
          font-size: 1.6em; } }
    .maincard #projectcontent #secondarycontent {
      font-size: 0.8em;
      color: #7E7E7E; }
      @media (min-width: 768px) {
        .maincard #projectcontent #secondarycontent {
          font-size: 1em; } }
      @media (min-width: 1024px) {
        .maincard #projectcontent #secondarycontent {
          font-size: 1em; } }
      @media (min-width: 1440px) {
        .maincard #projectcontent #secondarycontent {
          font-size: 1em; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        .maincard #projectcontent #secondarycontent {
          font-size: 1em; } }
      @media (min-width: 2560px) {
        .maincard #projectcontent #secondarycontent {
          font-size: 1.4em; } }

.maincard:hover {
  box-shadow: 0 14px 96px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.4s all ease-in-out; }
  .maincard:hover .projectdate {
    transition: 0.4s all ease-in-out;
    opacity: 1; }

#aboutsection {
  margin: 0 auto;
  padding: 8em 0 4em; }
  #aboutsection #hello {
    font-family: georgia;
    font-size: 3em; }
    @media (min-width: 2560px) {
      #aboutsection #hello {
        font-size: 3.4em; } }
  #aboutsection #aboutme {
    width: 90%;
    font-size: 1em;
    line-height: 1.8em;
    padding-top: 2em;
    color: #414141; }
    #aboutsection #aboutme a {
      text-decoration: none; }
      #aboutsection #aboutme a span {
        color: #F04B33; }
    @media (min-width: 768px) {
      #aboutsection #aboutme {
        width: 85%; } }
    @media (min-width: 1024px) {
      #aboutsection #aboutme {
        width: 65%; } }
    @media (min-width: 1440px) {
      #aboutsection #aboutme {
        width: 65%; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #aboutsection #aboutme {
        width: 55%; } }
    @media (min-width: 2560px) {
      #aboutsection #aboutme {
        width: 65%;
        font-size: 1.6em; } }

#thduppic {
  width: 100%;
  padding: 4em 0;
  margin: 0 auto; }
  @media (min-width: 0px) {
    #thduppic {
      width: 100%; } }
  @media (min-width: 768px) {
    #thduppic {
      width: 90%; } }
  @media (min-width: 1024px) {
    #thduppic {
      padding: 2em 0;
      width: 50%; } }
  @media (min-width: 1440px) {
    #thduppic {
      padding: 2em 0;
      width: 50%; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #thduppic {
      padding: 2em 0;
      width: 50%; } }
  @media (min-width: 2560px) {
    #thduppic {
      padding: 2em 0;
      width: 50%; } }
  #thduppic img {
    width: 100%;
    margin: 0 auto; }

#thdpic {
  width: 90%;
  padding: 4em 0;
  margin: 0 auto; }
  @media (min-width: 0px) {
    #thdpic {
      width: 70%; } }
  @media (min-width: 768px) {
    #thdpic {
      width: 60%; } }
  @media (min-width: 1024px) {
    #thdpic {
      padding: 2em 0;
      width: 40%; } }
  @media (min-width: 1440px) {
    #thdpic {
      padding: 2em 0;
      width: 35%; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #thdpic {
      padding: 2em 0;
      width: 30%; } }
  @media (min-width: 2560px) {
    #thdpic {
      padding: 2em 0;
      width: 30%; } }
  #thdpic img {
    width: 100%;
    margin: 0 auto; }

#piupic {
  width: 80%;
  padding: 4em 0;
  margin: 0 auto; }
  @media (min-width: 0px) {
    #piupic {
      width: 70%; } }
  @media (min-width: 768px) {
    #piupic {
      width: 40%; } }
  @media (min-width: 1024px) {
    #piupic {
      padding: 2em 0;
      width: 20%; } }
  @media (min-width: 1440px) {
    #piupic {
      padding: 2em 0;
      width: 20%; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #piupic {
      padding: 2em 0;
      width: 20%; } }
  @media (min-width: 2560px) {
    #piupic {
      padding: 2em 0;
      width: 20%; } }
  #piupic img {
    width: 100%;
    margin: 0 auto; }

#premerapic {
  width: 100%;
  padding: 4em 0;
  margin: 0 auto; }
  @media (min-width: 0px) {
    #premerapic {
      width: 100%; } }
  @media (min-width: 768px) {
    #premerapic {
      width: 90%; } }
  @media (min-width: 1024px) {
    #premerapic {
      padding: 2em 0;
      width: 50%; } }
  @media (min-width: 1440px) {
    #premerapic {
      padding: 2em 0;
      width: 45%; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #premerapic {
      padding: 2em 0;
      width: 50%; } }
  @media (min-width: 2560px) {
    #premerapic {
      padding: 2em 0;
      width: 50%; } }
  #premerapic img {
    width: 100%;
    margin: 0 auto; }

#uberpic {
  width: 80%;
  padding: 4em 0;
  margin: 0 auto; }
  @media (min-width: 0px) {
    #uberpic {
      width: 70%; } }
  @media (min-width: 768px) {
    #uberpic {
      width: 40%; } }
  @media (min-width: 1024px) {
    #uberpic {
      padding: 2em 0;
      width: 25%; } }
  @media (min-width: 1440px) {
    #uberpic {
      padding: 2em 0;
      width: 25%; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #uberpic {
      padding: 2em 0;
      width: 25%; } }
  @media (min-width: 2560px) {
    #uberpic {
      padding: 2em 0;
      width: 25%; } }
  #uberpic img {
    width: 100%;
    margin: 0 auto; }

#expediapic {
  width: 80%;
  padding: 4em 0;
  margin: 0 auto; }
  @media (min-width: 0px) {
    #expediapic {
      width: 70%; } }
  @media (min-width: 768px) {
    #expediapic {
      width: 45%; } }
  @media (min-width: 1024px) {
    #expediapic {
      padding: 2em 0;
      width: 30%; } }
  @media (min-width: 1440px) {
    #expediapic {
      padding: 2em 0;
      width: 30%; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #expediapic {
      padding: 2em 0;
      width: 30%; } }
  @media (min-width: 2560px) {
    #expediapic {
      padding: 2em 0;
      width: 30%; } }
  #expediapic img {
    width: 100%;
    margin: 0 auto; }

#actipic {
  width: 90%;
  padding: 4em 0;
  margin: 0 auto; }
  @media (min-width: 0px) {
    #actipic {
      width: 75%; } }
  @media (min-width: 768px) {
    #actipic {
      width: 50%; } }
  @media (min-width: 1024px) {
    #actipic {
      padding: 2em 0;
      width: 30%; } }
  @media (min-width: 1440px) {
    #actipic {
      padding: 2em 0;
      width: 30%; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #actipic {
      padding: 2em 0;
      width: 30%; } }
  @media (min-width: 2560px) {
    #actipic {
      padding: 2em 0;
      width: 30%; } }
  #actipic img {
    width: 100%;
    margin: 0 auto; }

#smarthomepic {
  width: 100%;
  padding: 4em 0;
  margin: 0 auto; }
  @media (min-width: 0px) {
    #smarthomepic {
      width: 100%; } }
  @media (min-width: 768px) {
    #smarthomepic {
      width: 80%; } }
  @media (min-width: 1024px) {
    #smarthomepic {
      padding: 2em 0;
      width: 50%; } }
  @media (min-width: 1440px) {
    #smarthomepic {
      padding: 2em 0;
      width: 50%; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #smarthomepic {
      padding: 2em 0;
      width: 50%; } }
  @media (min-width: 2560px) {
    #smarthomepic {
      padding: 2em 0;
      width: 50%; } }
  #smarthomepic img {
    width: 100%;
    margin: 0 auto; }

.container,
body,
html {
  height: 100%;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

#footer {
  margin: 0 auto;
  padding: 8em 0 4em; }
  #footer #hello {
    font-family: georgia;
    font-size: 3em; }
  #footer #contactflex {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    justify-content: space-between; }
    @media (min-width: 1024px) {
      #footer #contactflex {
        width: 100%; } }
    #footer #contactflex .contcontent {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      padding: 2em 0;
      transition: 0.3s all ease-in-out; }
      @media (min-width: 768px) {
        #footer #contactflex .contcontent {
          width: 50%;
          padding: 2em 0; } }
      @media (min-width: 1024px) {
        #footer #contactflex .contcontent {
          width: 25%;
          padding: 2em 0; } }
      @media (min-width: 1440px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      @media (min-width: 2560px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      #footer #contactflex .contcontent a {
        color: black;
        transition: 0.3s all ease-in-out; }
        @media (min-width: 18200px) and (max-width: 25590px) {
          #footer #contactflex .contcontent a {
            font-size: 1.4em; } }
        @media (min-width: 2560px) {
          #footer #contactflex .contcontent a {
            font-size: 1.6em; } }
      #footer #contactflex .contcontent .contline {
        height: 4px;
        width: 50px;
        background-color: black;
        border-radius: 2px;
        position: relative;
        top: 10px;
        margin-right: 1.5em;
        transition: 0.3s all ease-in-out; }
        @media (min-width: 2560px) {
          #footer #contactflex .contcontent .contline {
            top: 20px; } }
    #footer #contactflex .contcontent:hover {
      transition: 0.3s all ease-in-out;
      cursor: pointer; }
      #footer #contactflex .contcontent:hover a {
        color: #F04B33;
        transition: 0.3s all ease-in-out; }
      #footer #contactflex .contcontent:hover .contline {
        background-color: #F04B33;
        transition: 0.3s all ease-in-out;
        transform: translateX(6px); }

.footernavcontainer {
  display: flex;
  justify-content: space-between; }
  .footernavcontainer .navbutton {
    width: 50%;
    padding: 1em 0;
    background-color: #F3F3F3;
    text-align: center; }
  .footernavcontainer .esaurnxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage2/esaurbg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .esaurnxt:hover .nextprojbig,
    .footernavcontainer .esaurnxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .piunxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage/piubg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .piunxt:hover .nextprojbig,
    .footernavcontainer .piunxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .actinxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/actilist/herobg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .actinxt:hover .nextprojbig,
    .footernavcontainer .actinxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .smarthomenxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/smarthome/homeimg2.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .smarthomenxt:hover .nextprojbig,
    .footernavcontainer .smarthomenxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .expedianxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage/hotel_room.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .expedianxt:hover .nextprojbig,
    .footernavcontainer .expedianxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .datescoutnxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage/dscoutcouplebg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .datescoutnxt:hover .nextprojbig,
    .footernavcontainer .datescoutnxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer a {
    color: #424242; }
  .footernavcontainer .nextprojsmall {
    font-size: 1em; }
    @media (min-width: 2560px) {
      .footernavcontainer .nextprojsmall {
        font-size: 1.4em; } }
  .footernavcontainer .nextprojbig {
    font-size: 1em;
    font-weight: 500; }
    @media (min-width: 768px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1024px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1440px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 2560px) {
      .footernavcontainer .nextprojbig {
        font-size: 2.4em; } }

.footerdiv {
  background-color: #292929;
  width: 100%; }

.getintouch {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
  padding: 2em 0;
  text-align: center; }
  @media (min-width: 0px) {
    .getintouch {
      font-size: 1.5em; } }
  @media (min-width: 768px) {
    .getintouch {
      font-size: 2em;
      text-align: center; } }
  @media (min-width: 1024px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 1440px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 2560px) {
    .getintouch {
      font-size: 2em; } }

.iconsflex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 4em;
  justify-content: center; }
  .iconsflex .email {
    font-size: 1.5em;
    color: white; }
  .iconsflex .icondiv {
    width: 28px;
    margin: 0 2em; }
  .iconsflex .mail {
    fill: #F5F5F5;
    width: 28px;
    padding-top: 0.57em; }
  .iconsflex .in {
    fill: #F5F5F5;
    width: 28px; }
  .iconsflex .mailicon:hover .mail {
    transition: all 0.20s ease-in-out;
    fill: #DC4638; }
  .iconsflex .inicon:hover .in {
    transition: all 0.20s ease-in-out;
    fill: #0075B5; }

.resumeline {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 1em;
  padding-bottom: 1em; }
  .resumeline #resume {
    color: #D92A1C; }

.arrowup {
  width: 50px;
  margin: 0 auto;
  padding: 2em 0 3em; }

.copyrightdiv {
  width: 100%;
  border-radius: 3px 3px 0 0;
  margin: 0 auto 2em;
  background-color: #F5F5F5; }

.copyright {
  padding: 0.8em 0;
  text-align: center;
  color: #7E7E7E;
  font-size: 1em;
  margin: 0 auto; }
  @media (min-width: 2560px) {
    .copyright {
      font-size: 1.4em; } }

/*# sourceMappingURL=homepage2018.css.map */
