* {
  font-family: "Roboto", sans-serif; }

#header {
  padding: 2em 0;
  margin: 0 auto;
  width: 100%; }
  @media (min-width: 767px) {
    #header {
      padding: 2em 0; } }
  @media (min-width: 1024px) {
    #header {
      padding: 2em 0; } }
  @media (min-width: 1440px) {
    #header {
      padding: 2em 0; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #header {
      padding: 2em 0; } }
  @media (min-width: 2560px) {
    #header {
      max-width: 1550px; } }
  @media (min-width: 767px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 1024px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 1440px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 2560px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  #header #headerflex .name {
    transition: 0.3s all ease-in-out;
    position: relative; }
    #header #headerflex .name a {
      color: black;
      transition: 0.3s all ease-in-out; }
    #header #headerflex .name p {
      font-family: georgia;
      width: 180px;
      font-size: 1.5em;
      margin: 0; }
      @media (min-width: 2560px) {
        #header #headerflex .name p {
          font-size: 1.9em;
          width: 280px; } }
  #header #headerflex .name:hover {
    transition: 0.3s all ease-in-out;
    color: #F04B33;
    cursor: pointer; }
    #header #headerflex .name:hover a {
      color: #F04B33;
      transition: 0.3s all ease-in-out; }
  #header #headerflex #navflex {
    width: 80%;
    padding-top: 1em;
    display: none; }
    @media (min-width: 1024px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    @media (min-width: 1440px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    @media (min-width: 2560px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    #header #headerflex #navflex .navitem {
      width: 20%;
      text-align: left;
      transition: 0.3s all ease-in-out; }
      #header #headerflex #navflex .navitem a {
        transition: 0.3s all ease-in-out;
        color: black; }
      @media (min-width: 1024px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      @media (min-width: 1440px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      @media (min-width: 2560px) {
        #header #headerflex #navflex .navitem {
          text-align: right;
          font-size: 1.4em; } }
      #header #headerflex #navflex .navitem p {
        font-size: 0.9em;
        font-weight: 500; }
    #header #headerflex #navflex .navitem:hover {
      font-weight: bolder;
      cursor: pointer; }
      #header #headerflex #navflex .navitem:hover a {
        transition: 0.3s all ease-in-out;
        color: #F04B33; }

#menuicon {
  font-size: 1.1em;
  position: absolute;
  right: 0;
  z-index: 100;
  top: 0;
  padding: 2em 1em;
  display: block;
  position: fixed; }
  @media (min-width: 767px) {
    #menuicon {
      padding: 2em; } }
  @media (min-width: 1024px) {
    #menuicon {
      display: none; } }
  @media (min-width: 1440px) {
    #menuicon {
      display: none; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #menuicon {
      display: none; } }
  @media (min-width: 2560px) {
    #menuicon {
      display: none; } }

#mobilemenuwrapper {
  opacity: 0;
  z-index: -2;
  transition: 0.3s all ease-in-out;
  width: 100%;
  background-color: white;
  padding: 0 1.5em 0 1em;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  -webkit-box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75);
  -moz-box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75);
  box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75); }
  #mobilemenuwrapper #menunameflex {
    padding: 2em 0 0;
    transition: 0.3s all ease-in-out; }
    @media (min-width: 767px) {
      #mobilemenuwrapper #menunameflex {
        padding: 2em 0 0 1em; } }
    #mobilemenuwrapper #menunameflex #menuName a {
      letter-spacing: normal;
      font-size: 1.5em;
      transition: 0.3s all ease-in-out; }
      #mobilemenuwrapper #menunameflex #menuName a p {
        width: 180px;
        font-family: georgia;
        color: black; }
    #mobilemenuwrapper #menunameflex #menuxicon {
      position: absolute;
      top: 0;
      right: 0;
      padding: 2.45em 1.5em 0 0; }
      @media (min-width: 767px) {
        #mobilemenuwrapper #menunameflex #menuxicon {
          padding: 2.45em 2.4em 0 0; } }
  #mobilemenuwrapper #menuline {
    height: 3px;
    background-color: black;
    margin: 0 auto;
    width: 100%;
    margin-top: 2em;
    transition: 0.3s all ease-in-out; }
    @media (min-width: 767px) {
      #mobilemenuwrapper #menuline {
        width: 95%; } }
  #mobilemenuwrapper ul {
    padding: 1em 0;
    transition: 0.3s all ease-in-out;
    margin: 0; }
    @media (min-width: 767px) {
      #mobilemenuwrapper ul {
        margin-left: 1.25em; } }
    #mobilemenuwrapper ul li {
      list-style: none;
      padding: 1.5em 0; }
      #mobilemenuwrapper ul li a {
        color: black; }

.titlediv {
  text-align: center;
  padding: 2em 0;
  font-weight: 300;
  font-size: 3em;
  color: #026F8B; }

.whitetext {
  color: white;
  font-size: 1.3em; }

.highfidheader {
  color: #026F8B;
  font-weight: bold;
  font-size: 1.2em; }

.sixembottom {
  padding-bottom: 6em; }

.fourembottom {
  padding-bottom: 4em; }

.fouremboth {
  padding: 4em 0; }

.sixemboth {
  padding: 6em 0; }

.centerdesc {
  width: 90%;
  margin: 0 auto;
  line-height: 2em; }
  .centerdesc .subheader {
    font-weight: bold;
    font-size: 1.2em;
    color: #026F8B; }
  @media (min-width: 767px) {
    .centerdesc {
      width: 65%; } }
  @media (min-width: 1024px) {
    .centerdesc {
      width: 55%; } }
  @media (min-width: 1440px) {
    .centerdesc {
      width: 40%; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    .centerdesc {
      width: 35%; } }
  @media (min-width: 2560px) {
    .centerdesc {
      width: 25%; } }

#herosection {
  background-image: url("img/pumpitup/herobg.png");
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 400px;
  position: relative; }
  @media (min-width: 0px) {
    #herosection {
      height: 600px; } }
  @media (min-width: 767px) {
    #herosection {
      height: 800px; } }
  @media (min-width: 1024px) {
    #herosection {
      height: 600px; } }
  @media (min-width: 1440px) {
    #herosection {
      height: 600px; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #herosection {
      height: 800px; } }
  @media (min-width: 2560px) {
    #herosection {
      height: 2800px; } }
  #herosection #piulogodiv {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 70%; }
    #herosection #piulogodiv #piulogo {
      width: 100%; }
    @media (min-width: 0px) {
      #herosection #piulogodiv {
        width: 80%;
        top: 30%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%); } }
    @media (min-width: 767px) {
      #herosection #piulogodiv {
        width: 50%;
        top: 30%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%); } }
    @media (min-width: 1024px) {
      #herosection #piulogodiv {
        width: 30%;
        left: 10%;
        position: absolute;
        top: 60%;
        transform: translateY(-50%); } }
    @media (min-width: 1440px) {
      #herosection #piulogodiv {
        width: 25%;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: 15%; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #herosection #piulogodiv {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15%; } }
    @media (min-width: 2560px) {
      #herosection #piulogodiv {
        width: 30%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15%; } }
  #herosection #herophonediv {
    position: absolute;
    bottom: 0;
    visibility: hidden; }
    @media (min-width: 1024px) {
      #herosection #herophonediv {
        right: 5%;
        visibility: visible; } }
    @media (min-width: 1440px) {
      #herosection #herophonediv {
        right: 15%;
        visibility: visible; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #herosection #herophonediv {
        right: 15%;
        visibility: visible; } }
    @media (min-width: 2560px) {
      #herosection #herophonediv {
        right: 15%;
        visibility: visible; } }
  #herosection #redline {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.4em;
    background-color: #D63D31; }

#processsection {
  background-color: #f6f6f6; }
  #processsection .roleflex {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #processsection .roleflex {
        width: 75%; } }
  #processsection .roleitem {
    width: 50%;
    padding-bottom: 4em; }
    @media (min-width: 767px) {
      #processsection .roleitem {
        width: 50%;
        margin: 0 auto; } }
    @media (min-width: 1024px) {
      #processsection .roleitem {
        width: 25%;
        margin: 0 auto; } }
    @media (min-width: 1440px) {
      #processsection .roleitem {
        width: 25%; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #processsection .roleitem {
        width: 25%; } }
  #processsection .roletitle {
    color: #A0A0A0; }
    @media (min-width: 767px) {
      #processsection .roletitle {
        width: 80%;
        margin: 0 auto; } }
    @media (min-width: 1024px) {
      #processsection .roletitle {
        width: 80%;
        margin: 0 auto; } }
    @media (min-width: 1440px) {
      #processsection .roletitle {
        width: 80%; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #processsection .roletitle {
        width: 80%; } }
  #processsection .rolebody {
    color: #032A2F;
    font-size: 1em;
    width: 90%; }
    @media (min-width: 767px) {
      #processsection .rolebody {
        font-size: 1.2em;
        width: 80%;
        margin: 1em auto; } }
    @media (min-width: 1024px) {
      #processsection .rolebody {
        font-size: 1.2em;
        width: 80%;
        margin: 1em auto; } }
    @media (min-width: 1440px) {
      #processsection .rolebody {
        font-size: 1.2em;
        width: 100%;
        margin: 1em auto; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #processsection .rolebody {
        font-size: 1.2em;
        width: 100%;
        margin: 1em auto; } }
  #processsection .processimgdiv {
    width: 90%;
    margin: 0 auto;
    padding: 4em 0 8em; }
    #processsection .processimgdiv #processimg {
      width: 100%; }
    @media (min-width: 767px) {
      #processsection .processimgdiv {
        width: 70%; } }
    @media (min-width: 1024px) {
      #processsection .processimgdiv {
        width: 50%; } }
    @media (min-width: 1440px) {
      #processsection .processimgdiv {
        width: 40%; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #processsection .processimgdiv {
        width: 40%;
        padding: 8em 0; } }

@media (min-width: 18200px) and (max-width: 25590px) {
  #problemsection {
    width: 80%;
    margin: 0 auto; } }
#problemsection .centerdesc {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0; }
  @media (min-width: 767px) {
    #problemsection .centerdesc {
      width: 65%; } }
  @media (min-width: 1024px) {
    #problemsection .centerdesc {
      width: 55%; } }
  @media (min-width: 1440px) {
    #problemsection .centerdesc {
      width: 40%; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #problemsection .centerdesc {
      width: 40%; } }
  @media (min-width: 2560px) {
    #problemsection .centerdesc {
      width: 35%; } }
#problemsection .problemflex {
  display: flex;
  flex-wrap: wrap;
  padding: 6em 0;
  justify-content: center; }
  #problemsection .problemflex .homediv {
    width: 90%;
    margin: 0 auto; }
    #problemsection .problemflex .homediv #simplehome {
      width: 100%; }
    @media (min-width: 0px) {
      #problemsection .problemflex .homediv {
        width: 90%; } }
    @media (min-width: 767px) {
      #problemsection .problemflex .homediv {
        width: 65%; } }
    @media (min-width: 1024px) {
      #problemsection .problemflex .homediv {
        width: 45%; } }
    @media (min-width: 1440px) {
      #problemsection .problemflex .homediv {
        width: 40%; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #problemsection .problemflex .homediv {
        width: 40%; } }
    @media (min-width: 2560px) {
      #problemsection .problemflex .homediv {
        width: 35%; } }
  #problemsection .problemflex .issuehalf {
    width: 90%;
    margin-left: 0;
    padding-top: 4em; }
    @media (min-width: 0px) {
      #problemsection .problemflex .issuehalf {
        width: 80%;
        margin-left: 0;
        padding-top: 4em; } }
    @media (min-width: 767px) {
      #problemsection .problemflex .issuehalf {
        width: 50%;
        margin-left: 0;
        padding-top: 4em; } }
    @media (min-width: 1024px) {
      #problemsection .problemflex .issuehalf {
        width: 30%;
        margin: 0 6em;
        padding-top: 3em; } }
    @media (min-width: 1440px) {
      #problemsection .problemflex .issuehalf {
        width: 30%;
        margin: 0 6em;
        padding-top: 3em; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #problemsection .problemflex .issuehalf {
        width: 30%;
        margin-left: 6em;
        padding-top: 3em; } }
    @media (min-width: 2560px) {
      #problemsection .problemflex .issuehalf {
        width: 30%;
        margin-left: 6em;
        padding-top: 3em; } }
    #problemsection .problemflex .issuehalf .homeissuediv {
      display: flex;
      padding: 1em 0; }
      #problemsection .problemflex .issuehalf .homeissuediv .annotation {
        background-color: #D63D31;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 30px;
        color: white;
        font-weight: bold;
        margin-right: 1em; }
      #problemsection .problemflex .issuehalf .homeissuediv .issuedesc {
        width: 85%; }

#researchsection {
  background-color: #026F8B; }
  #researchsection .researchiconsflex {
    padding: 8em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    #researchsection .researchiconsflex .icondiv {
      width: 30%;
      padding: 2em 0;
      margin: 0 auto; }
      @media (min-width: 767px) {
        #researchsection .researchiconsflex .icondiv {
          width: 15%; } }
      @media (min-width: 1024px) {
        #researchsection .researchiconsflex .icondiv {
          width: auto; } }
      @media (min-width: 1440px) {
        #researchsection .researchiconsflex .icondiv {
          width: auto; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        #researchsection .researchiconsflex .icondiv {
          width: auto; } }
      @media (min-width: 2560px) {
        #researchsection .researchiconsflex .icondiv {
          width: auto; } }

.researchcontentsection .journeymapdiv {
  width: 95%;
  margin: 0 auto; }
  .researchcontentsection .journeymapdiv .journeymap {
    width: 100%; }
  @media (min-width: 0px) {
    .researchcontentsection .journeymapdiv {
      width: 95%; } }
  @media (min-width: 767px) {
    .researchcontentsection .journeymapdiv {
      width: 85%; } }
  @media (min-width: 1024px) {
    .researchcontentsection .journeymapdiv {
      width: 85%; } }
  @media (min-width: 1440px) {
    .researchcontentsection .journeymapdiv {
      width: 75%; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    .researchcontentsection .journeymapdiv {
      width: 70%; } }
  @media (min-width: 2560px) {
    .researchcontentsection .journeymapdiv {
      width: 60%; } }
.researchcontentsection .keyfindingflex {
  display: flex;
  flex-wrap: wrap; }
  .researchcontentsection .keyfindingflex .keyfindingdiv {
    width: 90%;
    margin: 0 auto; }
    .researchcontentsection .keyfindingflex .keyfindingdiv .rfingdiv {
      width: 90%;
      margin: 0 auto; }
      @media (min-width: 18200px) and (max-width: 25590px) {
        .researchcontentsection .keyfindingflex .keyfindingdiv .rfingdiv {
          width: 70%; } }
      .researchcontentsection .keyfindingflex .keyfindingdiv .rfingdiv img {
        width: 100%; }
    @media (min-width: 0px) {
      .researchcontentsection .keyfindingflex .keyfindingdiv {
        width: 90%; } }
    @media (min-width: 767px) {
      .researchcontentsection .keyfindingflex .keyfindingdiv {
        width: 50%; } }
    @media (min-width: 1024px) {
      .researchcontentsection .keyfindingflex .keyfindingdiv {
        width: 33%; } }
    @media (min-width: 1440px) {
      .researchcontentsection .keyfindingflex .keyfindingdiv {
        width: 33%; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      .researchcontentsection .keyfindingflex .keyfindingdiv {
        width: 33%; } }
    @media (min-width: 2560px) {
      .researchcontentsection .keyfindingflex .keyfindingdiv {
        width: 33%; } }

#ideationsection {
  background-color: #026F8B; }
  #ideationsection .ideaiconsflex {
    padding: 8em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto; }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #ideationsection .ideaiconsflex {
        width: 70%; } }
    #ideationsection .ideaiconsflex .icondiv {
      width: 30%;
      margin: 0 auto; }
      @media (min-width: 767px) {
        #ideationsection .ideaiconsflex .icondiv {
          width: 15%; } }
      @media (min-width: 1024px) {
        #ideationsection .ideaiconsflex .icondiv {
          width: auto; } }
      @media (min-width: 1440px) {
        #ideationsection .ideaiconsflex .icondiv {
          width: auto; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        #ideationsection .ideaiconsflex .icondiv {
          width: auto; } }
      @media (min-width: 2560px) {
        #ideationsection .ideaiconsflex .icondiv {
          width: auto; } }

.ideacontentsection .userneedflex {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  @media (min-width: 18200px) and (max-width: 25590px) {
    .ideacontentsection .userneedflex {
      width: 70%; } }
  .ideacontentsection .userneedflex .userneeddiv .userneed {
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 1024px) {
      .ideacontentsection .userneedflex .userneeddiv .userneed {
        width: 80%; } }
    @media (min-width: 1440px) {
      .ideacontentsection .userneedflex .userneeddiv .userneed {
        width: 80%; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      .ideacontentsection .userneedflex .userneeddiv .userneed {
        width: 80%; } }
    .ideacontentsection .userneedflex .userneeddiv .userneed img {
      width: 100%; }
  @media (min-width: 1024px) {
    .ideacontentsection .userneedflex .userneeddiv {
      width: 33%; } }
  @media (min-width: 1440px) {
    .ideacontentsection .userneedflex .userneeddiv {
      width: 33%; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    .ideacontentsection .userneedflex .userneeddiv {
      width: 33%; } }
.ideacontentsection .conceptdiv {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 767px) {
    .ideacontentsection .conceptdiv {
      width: 75%; } }
  @media (min-width: 1024px) {
    .ideacontentsection .conceptdiv {
      width: 75%; } }
  @media (min-width: 1440px) {
    .ideacontentsection .conceptdiv {
      width: 65%; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    .ideacontentsection .conceptdiv {
      width: 55%; } }
  .ideacontentsection .conceptdiv .concept {
    width: 100%; }
.ideacontentsection .sketchesflex {
  display: flex;
  flex-wrap: wrap; }
  .ideacontentsection .sketchesflex .sketchdiv {
    width: 90%;
    margin: 0 auto;
    padding: 2em 0; }
    @media (min-width: 767px) {
      .ideacontentsection .sketchesflex .sketchdiv {
        width: 65%; } }
    @media (min-width: 1024px) {
      .ideacontentsection .sketchesflex .sketchdiv {
        width: 50%;
        padding: 4em 2em; } }
    @media (min-width: 1440px) {
      .ideacontentsection .sketchesflex .sketchdiv {
        width: 33%;
        padding: 4em 2em; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      .ideacontentsection .sketchesflex .sketchdiv {
        width: 30%;
        padding: 4em 2em; } }

#lowfidsection {
  background-color: #026F8B; }
  #lowfidsection .ideaiconsflex {
    padding: 8em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto; }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #lowfidsection .ideaiconsflex {
        width: 70%; } }
    #lowfidsection .ideaiconsflex .icondiv {
      width: 30%;
      margin: 0 auto; }
      @media (min-width: 767px) {
        #lowfidsection .ideaiconsflex .icondiv {
          width: 15%; } }
      @media (min-width: 1024px) {
        #lowfidsection .ideaiconsflex .icondiv {
          width: auto; } }
      @media (min-width: 1440px) {
        #lowfidsection .ideaiconsflex .icondiv {
          width: auto; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        #lowfidsection .ideaiconsflex .icondiv {
          width: auto; } }
      @media (min-width: 2560px) {
        #lowfidsection .ideaiconsflex .icondiv {
          width: auto; } }

.lowfidcontentsection .changeflex {
  display: flex;
  flex-wrap: wrap; }
  .lowfidcontentsection .changeflex .changediv {
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 1024px) {
      .lowfidcontentsection .changeflex .changediv {
        width: 40%; } }
    @media (min-width: 1440px) {
      .lowfidcontentsection .changeflex .changediv {
        width: 40%; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      .lowfidcontentsection .changeflex .changediv {
        width: 50%; } }
    .lowfidcontentsection .changeflex .changediv .changepic {
      width: 90%;
      margin: 0 auto; }
      @media (min-width: 767px) {
        .lowfidcontentsection .changeflex .changediv .changepic {
          width: 60%; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        .lowfidcontentsection .changeflex .changediv .changepic {
          width: 55%; } }
      .lowfidcontentsection .changeflex .changediv .changepic img {
        width: 100%; }
.lowfidcontentsection .lowfidflex {
  display: flex;
  flex-wrap: wrap; }
  .lowfidcontentsection .lowfidflex .lowfiddiv {
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 1024px) {
      .lowfidcontentsection .lowfidflex .lowfiddiv {
        width: 50%; } }
    @media (min-width: 1440px) {
      .lowfidcontentsection .lowfidflex .lowfiddiv {
        width: 50%; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      .lowfidcontentsection .lowfidflex .lowfiddiv {
        width: 50%; } }
    .lowfidcontentsection .lowfidflex .lowfiddiv .lowfid {
      width: 100%;
      margin: 0 auto; }
      @media (min-width: 767px) {
        .lowfidcontentsection .lowfidflex .lowfiddiv .lowfid {
          width: 75%; } }
      @media (min-width: 1024px) {
        .lowfidcontentsection .lowfidflex .lowfiddiv .lowfid {
          width: 80%; } }
      @media (min-width: 1440px) {
        .lowfidcontentsection .lowfidflex .lowfiddiv .lowfid {
          width: 65%; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        .lowfidcontentsection .lowfidflex .lowfiddiv .lowfid {
          width: 65%; } }
      .lowfidcontentsection .lowfidflex .lowfiddiv .lowfid img {
        width: 100%; }
  .lowfidcontentsection .lowfidflex .lowfidtaskdiv {
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 1024px) {
      .lowfidcontentsection .lowfidflex .lowfidtaskdiv {
        width: 50%; } }
    @media (min-width: 1440px) {
      .lowfidcontentsection .lowfidflex .lowfidtaskdiv {
        width: 50%; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      .lowfidcontentsection .lowfidflex .lowfidtaskdiv {
        width: 50%; } }
    .lowfidcontentsection .lowfidflex .lowfidtaskdiv .lowfidtask {
      width: 90%;
      padding-top: 6em;
      margin: 0 auto; }
      @media (min-width: 0px) {
        .lowfidcontentsection .lowfidflex .lowfidtaskdiv .lowfidtask {
          width: 75%; } }
      @media (min-width: 767px) {
        .lowfidcontentsection .lowfidflex .lowfidtaskdiv .lowfidtask {
          width: 50%; } }
      @media (min-width: 1024px) {
        .lowfidcontentsection .lowfidflex .lowfidtaskdiv .lowfidtask {
          width: 55%; } }
      @media (min-width: 1440px) {
        .lowfidcontentsection .lowfidflex .lowfidtaskdiv .lowfidtask {
          width: 40%; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        .lowfidcontentsection .lowfidflex .lowfidtaskdiv .lowfidtask {
          width: 35%; } }
      .lowfidcontentsection .lowfidflex .lowfidtaskdiv .lowfidtask img {
        width: 100%; }

#highfidsection {
  background-color: #026F8B; }
  #highfidsection .protobtndiv {
    padding: 6em 0; }
    #highfidsection .protobtndiv .protobtn {
      width: 260px;
      font-size: 1.5em;
      color: white;
      border: 2px solid white;
      text-align: center;
      border-radius: 8px;
      margin: 0 auto; }
      #highfidsection .protobtndiv .protobtn p {
        padding-top: 0.5em; }
    #highfidsection .protobtndiv .protobtn:hover {
      cursor: pointer;
      background-color: white;
      font-weight: 600;
      color: #026F8B;
      transition: all 0.30s ease-in-out; }

#highfidcontentsection .hfsec {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 767px) {
    #highfidcontentsection .hfsec {
      width: 90%; } }
  @media (min-width: 1024px) {
    #highfidcontentsection .hfsec {
      width: 85%; } }
  @media (min-width: 1440px) {
    #highfidcontentsection .hfsec {
      width: 80%; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    #highfidcontentsection .hfsec {
      width: 75%; } }
#highfidcontentsection .hfsecuserneedflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 767px) {
    #highfidcontentsection .hfsecuserneedflex .hfsecuserneeddiv {
      width: 50%; } }
  @media (min-width: 1024px) {
    #highfidcontentsection .hfsecuserneedflex .hfsecuserneeddiv {
      width: 50%; } }
  @media (min-width: 1440px) {
    #highfidcontentsection .hfsecuserneedflex .hfsecuserneeddiv {
      width: 50%; } }
  #highfidcontentsection .hfsecuserneedflex .hfsecuserneediconflex {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    @media (min-width: 1024px) {
      #highfidcontentsection .hfsecuserneedflex .hfsecuserneediconflex .userneedicondiv {
        width: 90%; } }
    @media (min-width: 1440px) {
      #highfidcontentsection .hfsecuserneedflex .hfsecuserneediconflex .userneedicondiv {
        width: 50%;
        position: relative;
        left: -0.5em; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #highfidcontentsection .hfsecuserneedflex .hfsecuserneediconflex .userneedicondiv {
        width: 50%;
        position: relative;
        left: -0.5em; } }
    #highfidcontentsection .hfsecuserneedflex .hfsecuserneediconflex .userneedicon {
      padding-bottom: 1.5em; }
      @media (min-width: 0px) {
        #highfidcontentsection .hfsecuserneedflex .hfsecuserneediconflex .userneedicon {
          width: 100%;
          padding-bottom: 1.5em; } }
      @media (min-width: 767px) {
        #highfidcontentsection .hfsecuserneedflex .hfsecuserneediconflex .userneedicon {
          width: 90%;
          padding-bottom: 1.5em; } }
      @media (min-width: 1024px) {
        #highfidcontentsection .hfsecuserneedflex .hfsecuserneediconflex .userneedicon {
          width: 80%;
          padding: 1em; } }
      @media (min-width: 1440px) {
        #highfidcontentsection .hfsecuserneedflex .hfsecuserneediconflex .userneedicon {
          width: 90%;
          padding: 0; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        #highfidcontentsection .hfsecuserneedflex .hfsecuserneediconflex .userneedicon {
          width: 100%;
          padding: 0 1em; } }
  #highfidcontentsection .hfsecuserneedflex .hfsecuserneeddesc {
    width: 100%; }
    @media (min-width: 0px) {
      #highfidcontentsection .hfsecuserneedflex .hfsecuserneeddesc {
        width: 95%; } }
    @media (min-width: 767px) {
      #highfidcontentsection .hfsecuserneedflex .hfsecuserneeddesc {
        width: 50%; } }
    @media (min-width: 1024px) {
      #highfidcontentsection .hfsecuserneedflex .hfsecuserneeddesc {
        width: 50%; } }
    @media (min-width: 1440px) {
      #highfidcontentsection .hfsecuserneedflex .hfsecuserneeddesc {
        width: 40%; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #highfidcontentsection .hfsecuserneedflex .hfsecuserneeddesc {
        width: 35%; } }
    #highfidcontentsection .hfsecuserneedflex .hfsecuserneeddesc p {
      line-height: 2em;
      color: #032A2F; }
#highfidcontentsection .hfimgsection {
  background-color: #f6f6f6; }
  #highfidcontentsection .hfimgsection .hfimgdiv {
    margin: 0 auto;
    width: 100%; }
    #highfidcontentsection .hfimgsection .hfimgdiv img {
      width: 100%; }
    @media (min-width: 0px) {
      #highfidcontentsection .hfimgsection .hfimgdiv {
        padding: 1em 0.5em; } }
    @media (min-width: 767px) {
      #highfidcontentsection .hfimgsection .hfimgdiv {
        width: 80%;
        padding: 2em 1em; } }
    @media (min-width: 1024px) {
      #highfidcontentsection .hfimgsection .hfimgdiv {
        width: 70%;
        padding: 4em 0; } }
    @media (min-width: 1440px) {
      #highfidcontentsection .hfimgsection .hfimgdiv {
        width: 50%;
        padding: 6em 0; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #highfidcontentsection .hfimgsection .hfimgdiv {
        width: 50%;
        padding: 8em 0; } }
  #highfidcontentsection .hfimgsection .hfimgdiv2 {
    margin: 0 auto;
    padding: 1em 0.5em; }
    #highfidcontentsection .hfimgsection .hfimgdiv2 img {
      width: 100%; }
    @media (min-width: 0px) {
      #highfidcontentsection .hfimgsection .hfimgdiv2 {
        padding: 1em 0.5em; } }
    @media (min-width: 767px) {
      #highfidcontentsection .hfimgsection .hfimgdiv2 {
        width: 80%;
        padding: 2em 1em; } }
    @media (min-width: 1024px) {
      #highfidcontentsection .hfimgsection .hfimgdiv2 {
        width: 75%;
        padding: 4em 0; } }
    @media (min-width: 1440px) {
      #highfidcontentsection .hfimgsection .hfimgdiv2 {
        width: 60%;
        padding: 6em 0; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #highfidcontentsection .hfimgsection .hfimgdiv2 {
        width: 60%;
        padding: 8em 0; } }
#highfidcontentsection .hfimgsectionflex {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap; }
  #highfidcontentsection .hfimgsectionflex .hfimgdiv {
    margin: 0 auto;
    width: 100%;
    padding: 4em 1em 1em; }
    #highfidcontentsection .hfimgsectionflex .hfimgdiv img {
      width: 100%; }
    @media (min-width: 767px) {
      #highfidcontentsection .hfimgsectionflex .hfimgdiv {
        width: 70%;
        padding: 4em 1em; } }
    @media (min-width: 1024px) {
      #highfidcontentsection .hfimgsectionflex .hfimgdiv {
        width: 50%;
        padding: 4em 1em; } }
    @media (min-width: 1440px) {
      #highfidcontentsection .hfimgsectionflex .hfimgdiv {
        width: 50%;
        padding: 6em 2em; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #highfidcontentsection .hfimgsectionflex .hfimgdiv {
        width: 40%;
        padding: 8em 2em; } }
  #highfidcontentsection .hfimgsectionflex .hifiimgannotationsdiv {
    margin: 0 auto; }
    @media (min-width: 1024px) {
      #highfidcontentsection .hfimgsectionflex .hifiimgannotationsdiv {
        width: 50%; } }
    @media (min-width: 1440px) {
      #highfidcontentsection .hfimgsectionflex .hifiimgannotationsdiv {
        width: 50%; } }
    #highfidcontentsection .hfimgsectionflex .hifiimgannotationsdiv .hifiimgannotations {
      width: 90%;
      margin: 0 auto;
      padding: 4em 0; }
      #highfidcontentsection .hfimgsectionflex .hifiimgannotationsdiv .hifiimgannotations img {
        width: 100%; }
      @media (min-width: 767px) {
        #highfidcontentsection .hfimgsectionflex .hifiimgannotationsdiv .hifiimgannotations {
          width: 80%;
          padding: 2em 1em; } }
      @media (min-width: 1024px) {
        #highfidcontentsection .hfimgsectionflex .hifiimgannotationsdiv .hifiimgannotations {
          width: 60%;
          padding: 4em 0; } }
      @media (min-width: 1440px) {
        #highfidcontentsection .hfimgsectionflex .hifiimgannotationsdiv .hifiimgannotations {
          width: 45%;
          padding: 6em 0; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        #highfidcontentsection .hfimgsectionflex .hifiimgannotationsdiv .hifiimgannotations {
          width: 80%;
          padding: 8em 0; } }

#reactionsection {
  background-color: #026F8B; }

.reactioncontent .reactionflex {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 0px) {
    .reactioncontent .reactionflex {
      width: 90%;
      margin: 0 auto; } }
  @media (min-width: 1440px) {
    .reactioncontent .reactionflex {
      width: 85%;
      margin: 0 auto; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    .reactioncontent .reactionflex {
      width: 85%;
      margin: 0 auto; } }
  .reactioncontent .reactionflex .reactionbox {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 2em auto; }
    @media (min-width: 0px) {
      .reactioncontent .reactionflex .reactionbox {
        width: 45%; } }
    @media (min-width: 767px) {
      .reactioncontent .reactionflex .reactionbox {
        width: 35%; } }
    @media (min-width: 1024px) {
      .reactioncontent .reactionflex .reactionbox {
        width: 22%; } }
    @media (min-width: 1440px) {
      .reactioncontent .reactionflex .reactionbox {
        width: 22%; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      .reactioncontent .reactionflex .reactionbox {
        width: 20%; } }
    .reactioncontent .reactionflex .reactionbox .reaction {
      width: 100%;
      margin: 0 auto; }
      .reactioncontent .reactionflex .reactionbox .reaction img {
        width: 100%; }
  .reactioncontent .reactionflex .reactionbox:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

#reflectionsection {
  background-color: #026F8B; }
  #reflectionsection p {
    color: white; }
  #reflectionsection .futureflex {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #reflectionsection .futureflex {
        width: 65%; } }
    #reflectionsection .futureflex .futureheader {
      font-weight: bold;
      font-style: italic;
      font-size: 1.2em; }
    #reflectionsection .futureflex .futurecontent {
      font-size: 1em; }
    #reflectionsection .futureflex .futurediv {
      padding-bottom: 2em; }
      @media (min-width: 767px) {
        #reflectionsection .futureflex .futurediv {
          width: 50%;
          padding: 2em 1em; } }
      @media (min-width: 1024px) {
        #reflectionsection .futureflex .futurediv {
          width: 33%;
          padding: 2em 1em; } }
      @media (min-width: 1440px) {
        #reflectionsection .futureflex .futurediv {
          width: 33%;
          padding: 2em 1em; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        #reflectionsection .futureflex .futurediv {
          width: 33%;
          padding: 2em 1em; } }
  #reflectionsection .reflectionflex {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #reflectionsection .reflectionflex {
        width: 65%; } }
    #reflectionsection .reflectionflex .refelctionheader {
      font-weight: bold;
      font-style: italic;
      font-size: 1.2em; }
    #reflectionsection .reflectionflex .reflectioncontent {
      font-size: 1em;
      line-height: 1.8em; }
    #reflectionsection .reflectionflex .reflectiondiv {
      padding-bottom: 2em; }
      @media (min-width: 767px) {
        #reflectionsection .reflectionflex .reflectiondiv {
          width: 70%;
          padding: 2em 1em; } }
      @media (min-width: 1024px) {
        #reflectionsection .reflectionflex .reflectiondiv {
          width: 50%;
          padding: 2em; } }
      @media (min-width: 1440px) {
        #reflectionsection .reflectionflex .reflectiondiv {
          width: 50%;
          padding: 3em; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        #reflectionsection .reflectionflex .reflectiondiv {
          width: 50%;
          padding: 4em; } }
  #reflectionsection #iframe {
    height: 400px;
    width: 310px;
    margin: 0 auto; }
    @media (min-width: 0px) {
      #reflectionsection #iframe {
        height: 445px;
        width: 375px;
        margin: 0 auto; } }
    @media (min-width: 767px) {
      #reflectionsection #iframe {
        height: 550px;
        width: 600px;
        margin: 0 auto; } }
    @media (min-width: 1024px) {
      #reflectionsection #iframe {
        height: 600px;
        width: 800px;
        margin: 0 auto; } }
    @media (min-width: 1440px) {
      #reflectionsection #iframe {
        height: 600px;
        width: 800px;
        margin: 0 auto; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      #reflectionsection #iframe {
        height: 750px;
        width: 1000px;
        margin: 0 auto; } }
  #reflectionsection #videocredits {
    text-align: center;
    padding: 1em 0;
    color: #BCBCBC; }

.container,
body,
html {
  height: 100%;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

#footer {
  margin: 0 auto;
  padding: 8em 0 4em; }
  #footer #hello {
    font-family: georgia;
    font-size: 3em; }
  #footer #contactflex {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    justify-content: space-between; }
    @media (min-width: 1024px) {
      #footer #contactflex {
        width: 100%; } }
    #footer #contactflex .contcontent {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      padding: 2em 0;
      transition: 0.3s all ease-in-out; }
      @media (min-width: 767px) {
        #footer #contactflex .contcontent {
          width: 50%;
          padding: 2em 0; } }
      @media (min-width: 1024px) {
        #footer #contactflex .contcontent {
          width: 25%;
          padding: 2em 0; } }
      @media (min-width: 1440px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      @media (min-width: 2560px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      #footer #contactflex .contcontent a {
        color: black;
        transition: 0.3s all ease-in-out; }
        @media (min-width: 18200px) and (max-width: 25590px) {
          #footer #contactflex .contcontent a {
            font-size: 1.4em; } }
        @media (min-width: 2560px) {
          #footer #contactflex .contcontent a {
            font-size: 1.6em; } }
      #footer #contactflex .contcontent .contline {
        height: 4px;
        width: 50px;
        background-color: black;
        border-radius: 2px;
        position: relative;
        top: 10px;
        margin-right: 1.5em;
        transition: 0.3s all ease-in-out; }
        @media (min-width: 2560px) {
          #footer #contactflex .contcontent .contline {
            top: 20px; } }
    #footer #contactflex .contcontent:hover {
      transition: 0.3s all ease-in-out;
      cursor: pointer; }
      #footer #contactflex .contcontent:hover a {
        color: #F04B33;
        transition: 0.3s all ease-in-out; }
      #footer #contactflex .contcontent:hover .contline {
        background-color: #F04B33;
        transition: 0.3s all ease-in-out;
        transform: translateX(6px); }

.footernavcontainer {
  display: flex;
  justify-content: space-between; }
  .footernavcontainer .navbutton {
    width: 50%;
    padding: 1em 0;
    background-color: #F3F3F3;
    text-align: center; }
  .footernavcontainer .esaurnxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage2/esaurbg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .esaurnxt:hover .nextprojbig,
    .footernavcontainer .esaurnxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .piunxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage/piubg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .piunxt:hover .nextprojbig,
    .footernavcontainer .piunxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .actinxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/actilist/herobg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .actinxt:hover .nextprojbig,
    .footernavcontainer .actinxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .smarthomenxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/smarthome/homeimg2.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .smarthomenxt:hover .nextprojbig,
    .footernavcontainer .smarthomenxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .expedianxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage/hotel_room.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .expedianxt:hover .nextprojbig,
    .footernavcontainer .expedianxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .datescoutnxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage/dscoutcouplebg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .datescoutnxt:hover .nextprojbig,
    .footernavcontainer .datescoutnxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer a {
    color: #424242; }
  .footernavcontainer .nextprojsmall {
    font-size: 1em; }
    @media (min-width: 2560px) {
      .footernavcontainer .nextprojsmall {
        font-size: 1.4em; } }
  .footernavcontainer .nextprojbig {
    font-size: 1em;
    font-weight: 500; }
    @media (min-width: 767px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1024px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1440px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 2560px) {
      .footernavcontainer .nextprojbig {
        font-size: 2.4em; } }

.footerdiv {
  background-color: #292929;
  width: 100%; }

.getintouch {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
  padding: 2em 0;
  text-align: center; }
  @media (min-width: 0px) {
    .getintouch {
      font-size: 1.5em; } }
  @media (min-width: 767px) {
    .getintouch {
      font-size: 2em;
      text-align: center; } }
  @media (min-width: 1024px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 1440px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 2560px) {
    .getintouch {
      font-size: 2em; } }

.iconsflex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 4em;
  justify-content: center; }
  .iconsflex .email {
    font-size: 1.5em;
    color: white; }
  .iconsflex .icondiv {
    width: 28px;
    margin: 0 2em; }
  .iconsflex .mail {
    fill: #F5F5F5;
    width: 28px;
    padding-top: 0.57em; }
  .iconsflex .in {
    fill: #F5F5F5;
    width: 28px; }
  .iconsflex .mailicon:hover .mail {
    transition: all 0.20s ease-in-out;
    fill: #DC4638; }
  .iconsflex .inicon:hover .in {
    transition: all 0.20s ease-in-out;
    fill: #0075B5; }

.resumeline {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 1em;
  padding-bottom: 1em; }
  .resumeline #resume {
    color: #D92A1C; }

.arrowup {
  width: 50px;
  margin: 0 auto;
  padding: 2em 0 3em; }

.copyrightdiv {
  width: 100%;
  border-radius: 3px 3px 0 0;
  margin: 0 auto 2em;
  background-color: #F5F5F5; }

.copyright {
  padding: 0.8em 0;
  text-align: center;
  color: #7E7E7E;
  font-size: 1em;
  margin: 0 auto; }
  @media (min-width: 2560px) {
    .copyright {
      font-size: 1.4em; } }

/*# sourceMappingURL=pumpitup.css.map */
