.content {
  font-family: "Roboto", sans-serif; }

p {
  line-height: 2em; }

.darkcontainer {
  background-color: #414141; }

@media (min-width: 1820px) {
  .xlcontainer {
    width: 70%;
    margin: 0 auto; } }

.subtitle {
  font-weight: 500;
  font-size: 1.2em;
  color: #085056; }

.sectionheader {
  text-align: center;
  font-size: 2em;
  color: #085056; }
  @media (min-width: 1820px) {
    .sectionheader {
      font-size: 3em; } }

#ptitle {
  background-image: url("img/smarthome/homeimg2.png");
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 500px;
  position: relative; }
  @media (min-width: 375px) and (max-width: 768px) {
    #ptitle {
      height: 600px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    #ptitle {
      height: 700px; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    #ptitle {
      height: 600px; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    #ptitle {
      height: 600px; } }
  @media (min-width: 1820px) {
    #ptitle {
      height: 800px; } }
  #ptitle .projecttitle {
    font-size: 3em;
    text-align: center;
    color: #F5F5F5;
    margin: 0 auto;
    padding-top: 2.8em; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #ptitle .projecttitle {
        font-size: 4em; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #ptitle .projecttitle {
        font-size: 4em; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #ptitle .projecttitle {
        font-size: 5em; } }
    @media (min-width: 1820px) {
      #ptitle .projecttitle {
        font-size: 5em; } }

.intro {
  display: flex;
  flex-wrap: wrap; }
  .intro .smarthomediv {
    width: 100%; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .intro .smarthomediv {
        width: 50%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .intro .smarthomediv {
        width: 50%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .intro .smarthomediv {
        width: 50%; } }
    @media (min-width: 1820px) {
      .intro .smarthomediv {
        width: 50%; } }
  .intro .headintro {
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
    color: white; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .intro .headintro {
        width: 50%;
        padding-top: 4em; }
        .intro .headintro p {
          width: 70%;
          margin: 0 auto; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .intro .headintro {
        width: 50%;
        padding-top: 4em; }
        .intro .headintro p {
          width: 70%;
          margin: 0 auto; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .intro .headintro {
        width: 50%;
        padding-top: 6em; }
        .intro .headintro p {
          width: 40%;
          margin: 0 auto;
          font-size: 1.8em; } }
    @media (min-width: 1820px) {
      .intro .headintro {
        width: 50%;
        padding-top: 4em; }
        .intro .headintro p {
          width: 60%;
          margin: 0 auto;
          font-size: 1.8em; } }

.rolecontainer {
  background-color: #085056; }

.roleflex {
  padding: 2em 0 4em 1em; }
  @media (min-width: 375px) and (max-width: 768px) {
    .roleflex {
      padding: 2em 0 4em 2em; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .roleflex {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around;
      margin: 0 auto; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .roleflex {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around;
      margin: 0 auto; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    .roleflex {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around;
      margin: 0 auto; } }
  @media (min-width: 1820px) {
    .roleflex {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      justify-content: space-around;
      margin: 0 auto; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .roleitem {
    width: 50%;
    margin: 2em 0; } }
@media (min-width: 1024px) and (max-width: 1439px) {
  .roleitem {
    width: 50%;
    margin: 2em 0; } }

.roletitle {
  color: #A0A0A0;
  padding-top: 2em; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .roletitle {
      width: 80%;
      margin: 0 auto; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .roletitle {
      width: 80%;
      margin: 0 auto; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    .roletitle {
      width: 80%; } }
  @media (min-width: 1820px) {
    .roletitle {
      width: 80%; } }

.rolebody {
  color: #ECECEC;
  font-size: 1.1em;
  width: 90%; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .rolebody {
      font-size: 1.1em;
      width: 80%;
      margin: 1em auto; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .rolebody {
      font-size: 1.1em;
      width: 80%;
      margin: 1em auto; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    .rolebody {
      font-size: 1.1em;
      width: 100%;
      margin: 1em auto; } }
  @media (min-width: 1820px) {
    .rolebody {
      font-size: 1.1em;
      width: 100%;
      margin: 1em auto; } }

.introcontainer {
  padding: 4em 0; }
  .introcontainer .contentbox {
    width: 90%;
    margin: 0 auto;
    padding: 2em 0; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .introcontainer .contentbox {
        width: 60%;
        padding: 4em 0; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .introcontainer .contentbox {
        width: 55%;
        padding: 4em 0; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .introcontainer .contentbox {
        width: 35%;
        padding: 4em 0; } }
    @media (min-width: 1820px) {
      .introcontainer .contentbox {
        width: 28%;
        padding: 4em 0; } }
  .introcontainer #iframe {
    height: 245px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .introcontainer #iframe {
        height: 400px; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .introcontainer #iframe {
        height: 400px;
        width: 800px;
        margin: 0 auto; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .introcontainer #iframe {
        height: 600px;
        width: 1200px;
        margin: 0 auto; } }
    @media (min-width: 1820px) {
      .introcontainer #iframe {
        height: 600px;
        width: 1200px;
        margin: 0 auto; } }

.featurescontainer {
  padding: 4em 0; }
  .featurescontainer .sectionheader {
    padding-bottom: 2em;
    color: white; }
  .featurescontainer .subtitle {
    color: #7EF486; }
  .featurescontainer p {
    color: #F5F5F5; }
  .featurescontainer .contentbox {
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 375px) and (max-width: 768px) {
      .featurescontainer .contentbox {
        width: 80%; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .featurescontainer .contentbox {
        width: 55%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .featurescontainer .contentbox {
        width: 50%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .featurescontainer .contentbox {
        width: 35%; } }
    @media (min-width: 1820px) {
      .featurescontainer .contentbox {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .featurescontainer .contentbox .featurecontent {
          padding-bottom: 2em;
          width: 33%; }
          .featurescontainer .contentbox .featurecontent p {
            width: 80%; } }

.ideationcontainer {
  padding: 4em 0; }
  .ideationcontainer .sectionheader {
    padding-bottom: 2em; }
  .ideationcontainer .contentbox {
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 375px) and (max-width: 768px) {
      .ideationcontainer .contentbox {
        width: 80%; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .ideationcontainer .contentbox {
        width: 55%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .ideationcontainer .contentbox {
        width: 50%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .ideationcontainer .contentbox {
        width: 35%; } }
    @media (min-width: 1820px) {
      .ideationcontainer .contentbox {
        width: 35%; } }
  .ideationcontainer .diagramdiv {
    padding: 4em 0; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .ideationcontainer .diagramdiv {
        display: flex; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .ideationcontainer .diagramdiv {
        display: flex; } }
    @media (min-width: 1820px) {
      .ideationcontainer .diagramdiv {
        display: flex; } }
    .ideationcontainer .diagramdiv .diagrams {
      width: 90%;
      margin: 0 auto;
      padding: 4em 0; }
      .ideationcontainer .diagramdiv .diagrams .subtitle {
        padding-bottom: 2em;
        text-align: center; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .ideationcontainer .diagramdiv .diagrams {
          width: 55%; } }
      @media (min-width: 1024px) and (max-width: 1439px) {
        .ideationcontainer .diagramdiv .diagrams {
          width: 40%; } }
      @media (min-width: 1440px) and (max-width: 1819px) {
        .ideationcontainer .diagramdiv .diagrams {
          width: 30%; } }
      @media (min-width: 1820px) {
        .ideationcontainer .diagramdiv .diagrams {
          width: 30%; } }
      .ideationcontainer .diagramdiv .diagrams img {
        width: 100%; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .ideationcontainer .diagramdiv .cktdiagram {
        width: 30%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .ideationcontainer .diagramdiv .cktdiagram {
        width: 25%; } }
    @media (min-width: 1820px) {
      .ideationcontainer .diagramdiv .cktdiagram {
        width: 25%; } }

.extradarkcontainer {
  background-color: #2b2b2b;
  padding: 4em 0; }
  .extradarkcontainer #photosbig {
    display: none; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .extradarkcontainer #photosbig {
        display: block; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .extradarkcontainer #photosbig {
        display: block;
        width: 900px;
        margin: 0 auto; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .extradarkcontainer #photosbig {
        display: block;
        width: 1000px;
        margin: 0 auto; } }
    @media (min-width: 1820px) {
      .extradarkcontainer #photosbig {
        display: block;
        width: 1000px;
        margin: 0 auto; } }
  .extradarkcontainer #photosmob {
    display: block; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .extradarkcontainer #photosmob {
        display: none; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .extradarkcontainer #photosmob {
        display: none; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .extradarkcontainer #photosmob {
        display: none; } }
    @media (min-width: 1820px) {
      .extradarkcontainer #photosmob {
        display: none; } }

.takeawaycontainer {
  padding: 4em 0; }
  .takeawaycontainer .sectionheader {
    padding-bottom: 2em; }
  .takeawaycontainer .contentbox {
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 375px) and (max-width: 768px) {
      .takeawaycontainer .contentbox {
        width: 80%; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .takeawaycontainer .contentbox {
        width: 55%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .takeawaycontainer .contentbox {
        width: 50%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .takeawaycontainer .contentbox {
        width: 35%; } }
    @media (min-width: 1820px) {
      .takeawaycontainer .contentbox {
        width: 28%; } }

.container,
body,
html {
  height: 100%;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

#header {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 2em;
  width: 100%; }
  @media (min-width: 768px) and (max-width: 1023px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 1820px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  #header #headerflex .name {
    transition: 0.3s all ease-in-out;
    position: relative; }
    #header #headerflex .name a {
      color: black;
      transition: 0.3s all ease-in-out; }
    #header #headerflex .name p {
      font-family: georgia;
      font-size: 1.5em; }
  #header #headerflex .name:hover {
    transition: 0.3s all ease-in-out;
    color: #F04B33;
    cursor: pointer; }
    #header #headerflex .name:hover a {
      color: #F04B33;
      transition: 0.3s all ease-in-out; }
  #header #headerflex #navflex {
    width: 80%;
    padding-top: 1em;
    display: flex;
    justify-content: space-between; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em; } }
    @media (min-width: 1820px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em; } }
    #header #headerflex #navflex .navitem {
      width: 20%;
      text-align: left;
      transition: 0.3s all ease-in-out; }
      #header #headerflex #navflex .navitem a {
        transition: 0.3s all ease-in-out;
        color: black; }
      @media (min-width: 1024px) and (max-width: 1439px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      @media (min-width: 1440px) and (max-width: 1819px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      @media (min-width: 1820px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      #header #headerflex #navflex .navitem p {
        font-size: 0.9em;
        font-weight: 500; }
    #header #headerflex #navflex .navitem:hover {
      font-weight: bolder;
      cursor: pointer; }
      #header #headerflex #navflex .navitem:hover a {
        transition: 0.3s all ease-in-out;
        color: #F04B33; }

#footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 8em 0 4em; }
  #footer #hello {
    font-family: georgia;
    font-size: 3em; }
  #footer #contactflex {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    justify-content: space-between; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #footer #contactflex {
        width: 70%; } }
    #footer #contactflex .contcontent {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      padding: 2em 0;
      transition: 0.3s all ease-in-out; }
      @media (min-width: 768px) and (max-width: 1023px) {
        #footer #contactflex .contcontent {
          width: 50%;
          padding: 2em 0; } }
      @media (min-width: 1024px) and (max-width: 1439px) {
        #footer #contactflex .contcontent {
          width: 50%;
          padding: 2em 0; } }
      @media (min-width: 1440px) and (max-width: 1819px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      @media (min-width: 1820px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      #footer #contactflex .contcontent a {
        color: black;
        transition: 0.3s all ease-in-out; }
      #footer #contactflex .contcontent .contline {
        height: 4px;
        width: 50px;
        background-color: black;
        border-radius: 2px;
        position: relative;
        top: 10px;
        margin-right: 1.5em;
        transition: 0.3s all ease-in-out; }
    #footer #contactflex .contcontent:hover {
      transition: 0.3s all ease-in-out;
      cursor: pointer; }
      #footer #contactflex .contcontent:hover a {
        color: #F04B33;
        transition: 0.3s all ease-in-out; }
      #footer #contactflex .contcontent:hover .contline {
        background-color: #F04B33;
        transition: 0.3s all ease-in-out;
        transform: translateX(6px); }

.footernavcontainer {
  display: flex;
  justify-content: space-between; }
  .footernavcontainer .navbutton {
    width: 50%;
    padding: 1em 0;
    background-color: #F5F5F5;
    text-align: center; }
  .footernavcontainer .esaurnxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-color: #00936E;
    background-image: url("img/homepage2/esaurbg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .esaurnxt:hover .nextprojbig,
    .footernavcontainer .esaurnxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .piunxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-color: #00936E;
    background-image: url("img/homepage/piubg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .piunxt:hover .nextprojbig,
    .footernavcontainer .piunxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .actinxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-color: #00936E;
    background-image: url("img/actilist/herobg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .actinxt:hover .nextprojbig,
    .footernavcontainer .actinxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .smarthomenxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-color: #00936E;
    background-image: url("img/smarthome/homeimg2.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .smarthomenxt:hover .nextprojbig,
    .footernavcontainer .smarthomenxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .expedianxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-color: #00936E;
    background-image: url("img/homepage/hotel_room.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .expedianxt:hover .nextprojbig,
    .footernavcontainer .expedianxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .datescoutnxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-color: #00936E;
    background-image: url("img/homepage/dscoutcouplebg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .datescoutnxt:hover .nextprojbig,
    .footernavcontainer .datescoutnxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer a {
    color: #424242; }
  .footernavcontainer .nextprojsmall {
    font-size: 0.8em; }
  .footernavcontainer .nextprojbig {
    font-size: 1em;
    font-weight: 500; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1820px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }

.footerdiv {
  background-color: #292929;
  width: 100%; }

.getintouch {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
  padding: 2em 0;
  text-align: center; }
  @media (min-width: 375px) and (max-width: 768px) {
    .getintouch {
      font-size: 1.5em; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .getintouch {
      font-size: 2em;
      text-align: center; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 1820px) {
    .getintouch {
      font-size: 2em; } }

.iconsflex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 4em;
  justify-content: center; }
  .iconsflex .email {
    font-size: 1.5em;
    color: white; }
  .iconsflex .icondiv {
    width: 28px;
    margin: 0 2em; }
  .iconsflex .mail {
    fill: #F5F5F5;
    width: 28px;
    padding-top: 0.57em; }
  .iconsflex .in {
    fill: #F5F5F5;
    width: 28px; }
  .iconsflex .mailicon:hover .mail {
    transition: all 0.20s ease-in-out;
    fill: #DC4638; }
  .iconsflex .inicon:hover .in {
    transition: all 0.20s ease-in-out;
    fill: #0075B5; }

.resumeline {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 1em;
  padding-bottom: 1em; }
  .resumeline #resume {
    color: #D92A1C; }

.arrowup {
  width: 50px;
  margin: 0 auto;
  padding: 2em 0 3em; }

.copyrightdiv {
  width: 100%;
  max-width: 1000px;
  border-radius: 3px 3px 0 0;
  margin: 0 auto;
  background-color: #F5F5F5; }

.copyright {
  padding: 0.8em 0;
  text-align: center;
  color: #7E7E7E;
  font-size: 0.8em;
  margin: 0 auto; }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .copyright {
      padding: 0.8em 0 0.8em 10em;
      text-align: left; } }

/*# sourceMappingURL=smarthome.css.map */
