#menuicon {
  font-size: 1.1em;
  position: absolute;
  right: 0;
  z-index: 1;
  top: 0;
  padding: 1.6em 1em 0 0; }

#mobilemenuwrapper {
  opacity: 0;
  transition: 0.3s all ease-in-out;
  width: 100%;
  background-color: white;
  padding: 0 1.5em 0 1em;
  position: absolute; }
  #mobilemenuwrapper #menunameflex {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0; }
    #mobilemenuwrapper #menunameflex #menuName {
      font-size: 1.5em;
      font-family: georgia;
      padding-left: 0.3em; }
  #mobilemenuwrapper li {
    list-style: none;
    padding: 1.2em 0; }

.container,
body,
html {
  height: 100%;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

#footer {
  margin: 0 auto;
  padding: 8em 0 4em; }
  #footer #hello {
    font-family: georgia;
    font-size: 3em; }
  #footer #contactflex {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    justify-content: space-between; }
    @media (min-width: 1024px) {
      #footer #contactflex {
        width: 100%; } }
    #footer #contactflex .contcontent {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      padding: 2em 0;
      transition: 0.3s all ease-in-out; }
      @media (min-width: 767px) {
        #footer #contactflex .contcontent {
          width: 50%;
          padding: 2em 0; } }
      @media (min-width: 1024px) {
        #footer #contactflex .contcontent {
          width: 25%;
          padding: 2em 0; } }
      @media (min-width: 1440px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      @media (min-width: 18200px) and (max-width: 25590px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      @media (min-width: 2560px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      #footer #contactflex .contcontent a {
        color: black;
        transition: 0.3s all ease-in-out; }
        @media (min-width: 18200px) and (max-width: 25590px) {
          #footer #contactflex .contcontent a {
            font-size: 1.4em; } }
        @media (min-width: 2560px) {
          #footer #contactflex .contcontent a {
            font-size: 1.6em; } }
      #footer #contactflex .contcontent .contline {
        height: 4px;
        width: 50px;
        background-color: black;
        border-radius: 2px;
        position: relative;
        top: 10px;
        margin-right: 1.5em;
        transition: 0.3s all ease-in-out; }
        @media (min-width: 2560px) {
          #footer #contactflex .contcontent .contline {
            top: 20px; } }
    #footer #contactflex .contcontent:hover {
      transition: 0.3s all ease-in-out;
      cursor: pointer; }
      #footer #contactflex .contcontent:hover a {
        color: #F04B33;
        transition: 0.3s all ease-in-out; }
      #footer #contactflex .contcontent:hover .contline {
        background-color: #F04B33;
        transition: 0.3s all ease-in-out;
        transform: translateX(6px); }

.footernavcontainer {
  display: flex;
  justify-content: space-between; }
  .footernavcontainer .navbutton {
    width: 50%;
    padding: 1em 0;
    background-color: #F3F3F3;
    text-align: center; }
  .footernavcontainer .esaurnxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage2/esaurbg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .esaurnxt:hover .nextprojbig,
    .footernavcontainer .esaurnxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .piunxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage/piubg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .piunxt:hover .nextprojbig,
    .footernavcontainer .piunxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .actinxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/actilist/herobg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .actinxt:hover .nextprojbig,
    .footernavcontainer .actinxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .smarthomenxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/smarthome/homeimg2.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .smarthomenxt:hover .nextprojbig,
    .footernavcontainer .smarthomenxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .expedianxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage/hotel_room.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .expedianxt:hover .nextprojbig,
    .footernavcontainer .expedianxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .datescoutnxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage/dscoutcouplebg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .datescoutnxt:hover .nextprojbig,
    .footernavcontainer .datescoutnxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer a {
    color: #424242; }
  .footernavcontainer .nextprojsmall {
    font-size: 1em; }
    @media (min-width: 2560px) {
      .footernavcontainer .nextprojsmall {
        font-size: 1.4em; } }
  .footernavcontainer .nextprojbig {
    font-size: 1em;
    font-weight: 500; }
    @media (min-width: 767px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1024px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1440px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 18200px) and (max-width: 25590px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 2560px) {
      .footernavcontainer .nextprojbig {
        font-size: 2.4em; } }

.footerdiv {
  background-color: #292929;
  width: 100%; }

.getintouch {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
  padding: 2em 0;
  text-align: center; }
  @media (min-width: 0px) {
    .getintouch {
      font-size: 1.5em; } }
  @media (min-width: 767px) {
    .getintouch {
      font-size: 2em;
      text-align: center; } }
  @media (min-width: 1024px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 1440px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 18200px) and (max-width: 25590px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 2560px) {
    .getintouch {
      font-size: 2em; } }

.iconsflex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 4em;
  justify-content: center; }
  .iconsflex .email {
    font-size: 1.5em;
    color: white; }
  .iconsflex .icondiv {
    width: 28px;
    margin: 0 2em; }
  .iconsflex .mail {
    fill: #F5F5F5;
    width: 28px;
    padding-top: 0.57em; }
  .iconsflex .in {
    fill: #F5F5F5;
    width: 28px; }
  .iconsflex .mailicon:hover .mail {
    transition: all 0.20s ease-in-out;
    fill: #DC4638; }
  .iconsflex .inicon:hover .in {
    transition: all 0.20s ease-in-out;
    fill: #0075B5; }

.resumeline {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 1em;
  padding-bottom: 1em; }
  .resumeline #resume {
    color: #D92A1C; }

.arrowup {
  width: 50px;
  margin: 0 auto;
  padding: 2em 0 3em; }

.copyrightdiv {
  width: 100%;
  border-radius: 3px 3px 0 0;
  margin: 0 auto 2em;
  background-color: #F5F5F5; }

.copyright {
  padding: 0.8em 0;
  text-align: center;
  color: #7E7E7E;
  font-size: 1em;
  margin: 0 auto; }
  @media (min-width: 2560px) {
    .copyright {
      font-size: 1.4em; } }

/*# sourceMappingURL=testbed.css.map */
