* {
  font-family: "Roboto", sans-serif;
  transition: 0.3s all ease-in-out;
  color: #414141; }

#header {
  padding: 2em 0;
  margin: 0 auto;
  width: 100%; }
  @media (min-width: 768px) and (max-width: 1023px) {
    #header {
      padding: 2em 0; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    #header {
      padding: 2em 0; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    #header {
      padding: 2em 0; } }
  @media (min-width: 1820px) and (max-width: 2559px) {
    #header {
      padding: 2em 0; } }
  @media (min-width: 2560px) {
    #header {
      max-width: 1550px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 1820px) and (max-width: 2559px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  @media (min-width: 2560px) {
    #header #headerflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; } }
  #header #headerflex .name {
    transition: 0.3s all ease-in-out;
    position: relative; }
    #header #headerflex .name a {
      color: black;
      transition: 0.3s all ease-in-out; }
    #header #headerflex .name p {
      font-family: georgia;
      width: 180px;
      font-size: 1.5em;
      margin: 0; }
      @media (min-width: 2560px) {
        #header #headerflex .name p {
          font-size: 1.9em;
          width: 280px; } }
  #header #headerflex .name:hover {
    transition: 0.3s all ease-in-out;
    color: #F04B33;
    cursor: pointer; }
    #header #headerflex .name:hover a {
      color: #F04B33;
      transition: 0.3s all ease-in-out; }
  #header #headerflex #navflex {
    width: 80%;
    padding-top: 1em;
    display: none; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    @media (min-width: 1820px) and (max-width: 2559px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    @media (min-width: 2560px) {
      #header #headerflex #navflex {
        width: 40%;
        justify-content: space-between;
        padding-top: 0.7em;
        display: flex; } }
    #header #headerflex #navflex .navitem {
      width: 20%;
      text-align: left;
      transition: 0.3s all ease-in-out; }
      #header #headerflex #navflex .navitem a {
        transition: 0.3s all ease-in-out;
        color: black; }
      @media (min-width: 1024px) and (max-width: 1439px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      @media (min-width: 1440px) and (max-width: 1819px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      @media (min-width: 1820px) and (max-width: 2559px) {
        #header #headerflex #navflex .navitem {
          text-align: right; } }
      @media (min-width: 2560px) {
        #header #headerflex #navflex .navitem {
          text-align: right;
          font-size: 1.4em; } }
      #header #headerflex #navflex .navitem p {
        font-size: 0.9em;
        font-weight: 500; }
    #header #headerflex #navflex .navitem:hover {
      font-weight: bolder;
      cursor: pointer; }
      #header #headerflex #navflex .navitem:hover a {
        transition: 0.3s all ease-in-out;
        color: #F04B33; }

#menuicon {
  font-size: 1.1em;
  position: absolute;
  right: 0;
  z-index: 100;
  top: 0;
  padding: 2em 1em;
  display: block;
  position: fixed; }
  @media (min-width: 768px) and (max-width: 1023px) {
    #menuicon {
      padding: 2em; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    #menuicon {
      display: none; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    #menuicon {
      display: none; } }
  @media (min-width: 1820px) and (max-width: 2559px) {
    #menuicon {
      display: none; } }
  @media (min-width: 2560px) {
    #menuicon {
      display: none; } }

#mobilemenuwrapper {
  opacity: 0;
  z-index: -2;
  transition: 0.3s all ease-in-out;
  width: 100%;
  background-color: white;
  padding: 0 1.5em 0 1em;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  -webkit-box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75);
  -moz-box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75);
  box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75); }
  #mobilemenuwrapper #menunameflex {
    padding: 2em 0 0;
    transition: 0.3s all ease-in-out; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #mobilemenuwrapper #menunameflex {
        padding: 2em 0 0 1em; } }
    #mobilemenuwrapper #menunameflex #menuName a {
      letter-spacing: normal;
      font-size: 1.5em;
      transition: 0.3s all ease-in-out; }
      #mobilemenuwrapper #menunameflex #menuName a p {
        width: 180px;
        font-family: georgia;
        color: black; }
    #mobilemenuwrapper #menunameflex #menuxicon {
      position: absolute;
      top: 0;
      right: 0;
      padding: 2.45em 1.5em 0 0; }
      @media (min-width: 768px) and (max-width: 1023px) {
        #mobilemenuwrapper #menunameflex #menuxicon {
          padding: 2.45em 2.4em 0 0; } }
  #mobilemenuwrapper #menuline {
    height: 3px;
    background-color: black;
    margin: 0 auto;
    width: 100%;
    margin-top: 2em;
    transition: 0.3s all ease-in-out; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #mobilemenuwrapper #menuline {
        width: 95%; } }
  #mobilemenuwrapper ul {
    padding: 1em 0;
    transition: 0.3s all ease-in-out;
    margin: 0; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #mobilemenuwrapper ul {
        margin-left: 1.25em; } }
    #mobilemenuwrapper ul li {
      list-style: none;
      padding: 1.5em 0; }
      #mobilemenuwrapper ul li a {
        color: black; }

p {
  line-height: 1.8em; }

body {
  background-color: #F3F3F3; }

#supercontainer {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    #supercontainer {
      width: 90%; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    #supercontainer {
      width: 80%; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    #supercontainer {
      width: 80%; } }
  @media (min-width: 1820px) and (max-width: 2559px) {
    #supercontainer {
      width: 70%; } }
  @media (min-width: 2560px) {
    #supercontainer {
      width: 60%; } }

.sixembottom {
  padding-bottom: 6em; }

.fourembottom {
  padding-bottom: 4em; }

.fouremboth {
  padding: 4em 0; }

.sixemboth {
  padding: 6em 0; }

.subheader {
  font-weight: bold;
  font-size: 1.2em;
  color: #00BFA0; }

#herosection {
  background-color: #A5E7E5;
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: auto;
  position: relative;
  height: 700px;
  border-radius: 4px; }
  @media (min-width: 375px) and (max-width: 768px) {
    #herosection {
      height: 700px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    #herosection {
      height: 700px; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    #herosection {
      height: 450px; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    #herosection {
      height: 600px; } }
  @media (min-width: 1820px) and (max-width: 2559px) {
    #herosection {
      height: 600px; } }
  @media (min-width: 2560px) {
    #herosection {
      height: 700px; } }
  #herosection .heroflex {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-between;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto; }
    @media (min-width: 375px) and (max-width: 768px) {
      #herosection .heroflex {
        width: 90%; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      #herosection .heroflex {
        width: 90%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #herosection .heroflex {
        width: 90%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      #herosection .heroflex {
        width: 90%; } }
    @media (min-width: 1820px) and (max-width: 2559px) {
      #herosection .heroflex {
        width: 85%; } }
    @media (min-width: 2560px) {
      #herosection .heroflex {
        width: 90%; } }
    #herosection .heroflex #hero_text {
      width: 100%;
      padding: 1.5em;
      margin-bottom: 3em; }
      @media (min-width: 375px) and (max-width: 768px) {
        #herosection .heroflex #hero_text {
          width: 90%; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        #herosection .heroflex #hero_text {
          width: 90%;
          margin-bottom: 3em; } }
      @media (min-width: 1024px) and (max-width: 1439px) {
        #herosection .heroflex #hero_text {
          width: 55%; } }
      @media (min-width: 1440px) and (max-width: 1819px) {
        #herosection .heroflex #hero_text {
          width: 45%;
          position: absolute;
          bottom: 0; } }
      @media (min-width: 1820px) and (max-width: 2559px) {
        #herosection .heroflex #hero_text {
          width: 45%;
          position: absolute;
          bottom: 0; } }
      @media (min-width: 2560px) {
        #herosection .heroflex #hero_text {
          width: 45%;
          position: absolute;
          bottom: 0; } }
      #herosection .heroflex #hero_text #pp_title {
        font-family: georgia;
        font-size: 2em;
        color: #282828; }
        @media (min-width: 1440px) and (max-width: 1819px) {
          #herosection .heroflex #hero_text #pp_title {
            font-size: 2.7em; } }
        @media (min-width: 1820px) and (max-width: 2559px) {
          #herosection .heroflex #hero_text #pp_title {
            font-size: 2.7em; } }
        @media (min-width: 2560px) {
          #herosection .heroflex #hero_text #pp_title {
            font-size: 3.2em; } }
      #herosection .heroflex #hero_text #herotextline {
        width: 90%;
        height: 3px;
        background-color: #282828; }
        @media (min-width: 768px) and (max-width: 1023px) {
          #herosection .heroflex #hero_text #herotextline {
            width: 70%; } }
        @media (min-width: 1024px) and (max-width: 1439px) {
          #herosection .heroflex #hero_text #herotextline {
            width: 95%; } }
        @media (min-width: 1440px) and (max-width: 1819px) {
          #herosection .heroflex #hero_text #herotextline {
            width: 98%; } }
        @media (min-width: 1820px) and (max-width: 2559px) {
          #herosection .heroflex #hero_text #herotextline {
            width: 85%; } }
        @media (min-width: 2560px) {
          #herosection .heroflex #hero_text #herotextline {
            width: 95%; } }
      #herosection .heroflex #hero_text #hero_desc {
        font-family: "Roboto", sans-serif;
        margin-top: 1em;
        color: #5B5B5B;
        line-height: 1.8em; }
        @media (min-width: 2560px) {
          #herosection .heroflex #hero_text #hero_desc {
            font-size: 1.4em; } }
    #herosection .heroflex #hero_img {
      width: 90%;
      margin: 0 auto;
      padding-bottom: 2em; }
      @media (min-width: 375px) and (max-width: 768px) {
        #herosection .heroflex #hero_img {
          width: 90%; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        #herosection .heroflex #hero_img {
          width: 80%; } }
      @media (min-width: 1024px) and (max-width: 1439px) {
        #herosection .heroflex #hero_img {
          width: 45%;
          padding-top: 2em; } }
      @media (min-width: 1440px) and (max-width: 1819px) {
        #herosection .heroflex #hero_img {
          width: 45%;
          padding-top: 2em; }
          #herosection .heroflex #hero_img img {
            width: 50%;
            position: absolute;
            bottom: 5em;
            right: 0; } }
      @media (min-width: 1820px) and (max-width: 2559px) {
        #herosection .heroflex #hero_img {
          width: 45%;
          padding-top: 2em; }
          #herosection .heroflex #hero_img img {
            width: 50%;
            position: absolute;
            bottom: 5em;
            right: 0; } }
      @media (min-width: 2560px) {
        #herosection .heroflex #hero_img {
          width: 45%;
          padding-top: 2em; }
          #herosection .heroflex #hero_img img {
            width: 50%;
            position: absolute;
            bottom: 5em;
            right: 0; } }

.rolecontainer {
  background-color: #EAEAEA;
  margin: 6em 0 0;
  border-radius: 8px; }
  .rolecontainer .roleflex {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8em;
    padding: 1em;
    justify-content: space-around; }
    .rolecontainer .roleflex .roleitem {
      width: 100%; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .rolecontainer .roleflex .roleitem {
          padding: 1em; } }
      @media (min-width: 1024px) and (max-width: 1439px) {
        .rolecontainer .roleflex .roleitem {
          padding: 1em; } }
      @media (min-width: 1440px) and (max-width: 1819px) {
        .rolecontainer .roleflex .roleitem {
          width: 22%; } }
      @media (min-width: 1820px) and (max-width: 2559px) {
        .rolecontainer .roleflex .roleitem {
          width: 23%; } }
      @media (min-width: 2560px) {
        .rolecontainer .roleflex .roleitem {
          width: 23%; } }
      .rolecontainer .roleflex .roleitem .itemtitle {
        font-size: 0.8em;
        color: #7E7E7E; }
        @media (min-width: 1024px) and (max-width: 1439px) {
          .rolecontainer .roleflex .roleitem .itemtitle {
            font-size: 1em; } }
        @media (min-width: 1440px) and (max-width: 1819px) {
          .rolecontainer .roleflex .roleitem .itemtitle {
            font-size: 1em; } }
        @media (min-width: 1820px) and (max-width: 2559px) {
          .rolecontainer .roleflex .roleitem .itemtitle {
            font-size: 1em; } }
        @media (min-width: 2560px) {
          .rolecontainer .roleflex .roleitem .itemtitle {
            font-size: 1.4em; } }
      .rolecontainer .roleflex .roleitem .itemcontent {
        font-size: 1em; }
        @media (min-width: 1024px) and (max-width: 1439px) {
          .rolecontainer .roleflex .roleitem .itemcontent {
            font-size: 1.2em; } }
        @media (min-width: 1440px) and (max-width: 1819px) {
          .rolecontainer .roleflex .roleitem .itemcontent {
            font-size: 1.2em; } }
        @media (min-width: 1820px) and (max-width: 2559px) {
          .rolecontainer .roleflex .roleitem .itemcontent {
            font-size: 1.2em; } }
        @media (min-width: 2560px) {
          .rolecontainer .roleflex .roleitem .itemcontent {
            font-size: 1.6em; } }

.contentsection {
  width: 100%;
  padding: 4em 0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .contentsection {
      width: 70%; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .contentsection {
      width: 70%;
      padding: 8em 0; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    .contentsection {
      width: 70%;
      padding: 8em 0; } }
  @media (min-width: 1820px) and (max-width: 2559px) {
    .contentsection {
      width: 70%;
      padding: 8em 0; } }
  @media (min-width: 2560px) {
    .contentsection {
      width: 70%;
      padding: 8em 0; } }
  .contentsection .sectiontitle {
    margin-bottom: 2em; }
    .contentsection .sectiontitle p {
      font-family: georgia;
      font-size: 2em; }
      @media (min-width: 2560px) {
        .contentsection .sectiontitle p {
          font-size: 3.2em;
          padding-bottom: 0.75em; } }
  .contentsection .sectioncontent .subheadaar {
    font-family: georgia;
    font-size: 1.2em;
    font-weight: 600; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .contentsection .sectioncontent .subheadaar {
        font-size: 1.2em; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .contentsection .sectioncontent .subheadaar {
        font-size: 1.2em; } }
    @media (min-width: 1820px) and (max-width: 2559px) {
      .contentsection .sectioncontent .subheadaar {
        font-size: 1.2em; } }
    @media (min-width: 2560px) {
      .contentsection .sectioncontent .subheadaar {
        font-size: 1.6em; } }
  .contentsection .sectioncontent p {
    font-size: 1em;
    line-height: 1.9em; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .contentsection .sectioncontent p {
        font-size: 1.2em; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .contentsection .sectioncontent p {
        font-size: 1.2em; } }
    @media (min-width: 1820px) and (max-width: 2559px) {
      .contentsection .sectioncontent p {
        font-size: 1.2em; } }
    @media (min-width: 2560px) {
      .contentsection .sectioncontent p {
        font-size: 1.8em; } }
  .contentsection .sectioncontent #probstatement {
    font-style: italic;
    font-family: georgia;
    font-size: 1.8em;
    line-height: 2em;
    color: #F04B33;
    margin-top: 3em; }
  .contentsection #process_img {
    margin: 8em auto;
    width: 100%; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .contentsection #process_img {
        width: 140%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .contentsection #process_img {
        width: 150%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .contentsection #process_img {
        width: 150%; } }
    @media (min-width: 1820px) and (max-width: 2559px) {
      .contentsection #process_img {
        width: 150%; } }
    @media (min-width: 2560px) {
      .contentsection #process_img {
        width: 150%; } }

.sectionseparator {
  width: 100%;
  height: 1px;
  background-color: #D5D5D5; }

.contentsectionflex {
  padding: 8em 0; }
  .contentsectionflex .sectiontitle {
    margin-bottom: 2em; }
    .contentsectionflex .sectiontitle p {
      font-family: georgia;
      font-size: 2em; }
  .contentsectionflex .sectionflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .contentsectionflex .sectionflex #mobilespace {
      padding-top: 4em; }
    .contentsectionflex .sectionflex .flexsectioncontent {
      width: 100%;
      font-size: 1em;
      line-height: 1.9em; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .contentsectionflex .sectionflex .flexsectioncontent {
          width: 70%; } }
      @media (min-width: 1024px) and (max-width: 1439px) {
        .contentsectionflex .sectionflex .flexsectioncontent {
          font-size: 1.2em;
          width: 70%; } }
      @media (min-width: 1440px) and (max-width: 1819px) {
        .contentsectionflex .sectionflex .flexsectioncontent {
          font-size: 1.2em;
          width: 70%; } }
      @media (min-width: 1820px) and (max-width: 2559px) {
        .contentsectionflex .sectionflex .flexsectioncontent {
          font-size: 1.2em;
          width: 70%; } }
      @media (min-width: 2560px) {
        .contentsectionflex .sectionflex .flexsectioncontent {
          font-size: 1.2em;
          width: 70%; } }

.solution_img {
  width: 100%;
  padding: 6em 0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .solution_img {
      width: 90%;
      margin: 0 auto; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .solution_img {
      width: 85%;
      margin: 0 auto; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    .solution_img {
      width: 80%;
      margin: 0 auto; } }
  @media (min-width: 1820px) and (max-width: 2559px) {
    .solution_img {
      width: 90%;
      margin: 0 auto; } }
  @media (min-width: 2560px) {
    .solution_img {
      width: 70%;
      margin: 0 auto;
      padding: 12em 0; } }
  .solution_img .solncaption {
    position: relative;
    font-size: 1em;
    color: #7E7E7E;
    text-align: center; }
    @media (min-width: 2560px) {
      .solution_img .solncaption {
        font-size: 1.4em; } }

.solution_img_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .solution_img_flex .solncaption {
    position: relative;
    font-size: 1em;
    color: #7E7E7E;
    text-align: center; }
    @media (min-width: 2560px) {
      .solution_img_flex .solncaption {
        font-size: 1.4em; } }
  .solution_img_flex .solnimgdiv {
    margin-top: 3em; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .solution_img_flex .solnimgdiv {
        width: 45%;
        margin: 0 auto; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .solution_img_flex .solnimgdiv {
        width: 45%;
        margin: 0 auto; } }
    @media (min-width: 1820px) and (max-width: 2559px) {
      .solution_img_flex .solnimgdiv {
        width: 45%;
        margin: 0 auto; } }
    @media (min-width: 2560px) {
      .solution_img_flex .solnimgdiv {
        width: 45%;
        margin: 0 auto; } }

.caption {
  font-size: 1em;
  color: #7E7E7E;
  text-align: center;
  margin-top: 1.5em; }
  @media (min-width: 2560px) {
    .caption {
      font-size: 1.4em; } }

.centerimg {
  width: 100%;
  margin-bottom: 6em; }
  .centerimg .appdesc {
    width: 100%;
    margin: 0 auto; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .centerimg .appdesc {
        width: 90%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .centerimg .appdesc {
        width: 100%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .centerimg .appdesc {
        width: 90%; } }
    @media (min-width: 1820px) and (max-width: 2559px) {
      .centerimg .appdesc {
        width: 90%; } }
    @media (min-width: 2560px) {
      .centerimg .appdesc {
        width: 80%; } }
    .centerimg .appdesc img {
      width: 100%; }
  .centerimg .prototype {
    width: 100%;
    margin: 0 auto; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .centerimg .prototype {
        width: 60%; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .centerimg .prototype {
        width: 60%; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .centerimg .prototype {
        width: 50%; } }
    @media (min-width: 1820px) and (max-width: 2559px) {
      .centerimg .prototype {
        width: 50%; } }
    @media (min-width: 2560px) {
      .centerimg .prototype {
        width: 50%; } }
    .centerimg .prototype img {
      width: 100%; }
  .centerimg .appflow {
    width: 100%;
    margin: 0 auto; }
    .centerimg .appflow img {
      width: 100%; }

.container,
body,
html {
  height: 100%;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

#footer {
  margin: 0 auto;
  padding: 8em 0 4em; }
  #footer #hello {
    font-family: georgia;
    font-size: 3em; }
  #footer #contactflex {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    justify-content: space-between; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #footer #contactflex {
        width: 100%; } }
    #footer #contactflex .contcontent {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      padding: 2em 0;
      transition: 0.3s all ease-in-out; }
      @media (min-width: 768px) and (max-width: 1023px) {
        #footer #contactflex .contcontent {
          width: 50%;
          padding: 2em 0; } }
      @media (min-width: 1024px) and (max-width: 1439px) {
        #footer #contactflex .contcontent {
          width: 25%;
          padding: 2em 0; } }
      @media (min-width: 1440px) and (max-width: 1819px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      @media (min-width: 1820px) and (max-width: 2559px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      @media (min-width: 2560px) {
        #footer #contactflex .contcontent {
          width: 25%; } }
      #footer #contactflex .contcontent a {
        color: black;
        transition: 0.3s all ease-in-out; }
        @media (min-width: 1820px) and (max-width: 2559px) {
          #footer #contactflex .contcontent a {
            font-size: 1.4em; } }
        @media (min-width: 2560px) {
          #footer #contactflex .contcontent a {
            font-size: 1.6em; } }
      #footer #contactflex .contcontent .contline {
        height: 4px;
        width: 50px;
        background-color: black;
        border-radius: 2px;
        position: relative;
        top: 10px;
        margin-right: 1.5em;
        transition: 0.3s all ease-in-out; }
        @media (min-width: 2560px) {
          #footer #contactflex .contcontent .contline {
            top: 20px; } }
    #footer #contactflex .contcontent:hover {
      transition: 0.3s all ease-in-out;
      cursor: pointer; }
      #footer #contactflex .contcontent:hover a {
        color: #F04B33;
        transition: 0.3s all ease-in-out; }
      #footer #contactflex .contcontent:hover .contline {
        background-color: #F04B33;
        transition: 0.3s all ease-in-out;
        transform: translateX(6px); }

.footernavcontainer {
  display: flex;
  justify-content: space-between; }
  .footernavcontainer .navbutton {
    width: 50%;
    padding: 1em 0;
    background-color: #F3F3F3;
    text-align: center; }
  .footernavcontainer .esaurnxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage2/esaurbg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .esaurnxt:hover .nextprojbig,
    .footernavcontainer .esaurnxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .piunxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage/piubg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .piunxt:hover .nextprojbig,
    .footernavcontainer .piunxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .actinxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/actilist/herobg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .actinxt:hover .nextprojbig,
    .footernavcontainer .actinxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .smarthomenxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/smarthome/homeimg2.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .smarthomenxt:hover .nextprojbig,
    .footernavcontainer .smarthomenxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .expedianxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage/hotel_room.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .expedianxt:hover .nextprojbig,
    .footernavcontainer .expedianxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer .datescoutnxt:hover {
    transition: all 0.20s ease-in-out;
    cursor: pointer;
    background-image: url("img/homepage/dscoutcouplebg.png");
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; }
    .footernavcontainer .datescoutnxt:hover .nextprojbig,
    .footernavcontainer .datescoutnxt:hover .nextprojsmall {
      color: white;
      font-weight: 700; }
  .footernavcontainer a {
    color: #424242; }
  .footernavcontainer .nextprojsmall {
    font-size: 1em; }
    @media (min-width: 2560px) {
      .footernavcontainer .nextprojsmall {
        font-size: 1.4em; } }
  .footernavcontainer .nextprojbig {
    font-size: 1em;
    font-weight: 500; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1440px) and (max-width: 1819px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 1820px) and (max-width: 2559px) {
      .footernavcontainer .nextprojbig {
        font-size: 2em; } }
    @media (min-width: 2560px) {
      .footernavcontainer .nextprojbig {
        font-size: 2.4em; } }

.footerdiv {
  background-color: #292929;
  width: 100%; }

.getintouch {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
  padding: 2em 0;
  text-align: center; }
  @media (min-width: 375px) and (max-width: 768px) {
    .getintouch {
      font-size: 1.5em; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .getintouch {
      font-size: 2em;
      text-align: center; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 1440px) and (max-width: 1819px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 1820px) and (max-width: 2559px) {
    .getintouch {
      font-size: 2em; } }
  @media (min-width: 2560px) {
    .getintouch {
      font-size: 2em; } }

.iconsflex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 4em;
  justify-content: center; }
  .iconsflex .email {
    font-size: 1.5em;
    color: white; }
  .iconsflex .icondiv {
    width: 28px;
    margin: 0 2em; }
  .iconsflex .mail {
    fill: #F5F5F5;
    width: 28px;
    padding-top: 0.57em; }
  .iconsflex .in {
    fill: #F5F5F5;
    width: 28px; }
  .iconsflex .mailicon:hover .mail {
    transition: all 0.20s ease-in-out;
    fill: #DC4638; }
  .iconsflex .inicon:hover .in {
    transition: all 0.20s ease-in-out;
    fill: #0075B5; }

.resumeline {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 1em;
  padding-bottom: 1em; }
  .resumeline #resume {
    color: #D92A1C; }

.arrowup {
  width: 50px;
  margin: 0 auto;
  padding: 2em 0 3em; }

.copyrightdiv {
  width: 100%;
  border-radius: 3px 3px 0 0;
  margin: 0 auto 2em;
  background-color: #F5F5F5; }

.copyright {
  padding: 0.8em 0;
  text-align: center;
  color: #7E7E7E;
  font-size: 1em;
  margin: 0 auto; }
  @media (min-width: 2560px) {
    .copyright {
      font-size: 1.4em; } }

/*# sourceMappingURL=thd_unload_planner.css.map */
