* {
    transition: 0.3s all ease-in-out;
    color: $textdark;
    line-height: 1.8em;
}

a {
    text-decoration: none;
}

.threeemboth {
    padding: 3em 0;
}

.twoemboth {
    padding: 2em 0;
}

.oneemboth {
    padding: 1em 0;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
    @media #{$tablet} {
        max-width: 650px;
    }
    @media #{$tablet} {
        max-width: 1000px;
    }
}
/////////////////////  HOMEPAGE HEADER START /////////////////////

#hpheader {
    margin: 2.1em auto;
    width: 100%;
    @media #{$tablet} {
        margin: 4.1em auto;
    }

    #hpheaderflex {
        @media #{$mac13} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }

        .name {
            transition: 0.25s all ease-in-out;
            position: relative;

            a {
                color: black;
                transition: 0.25s all ease-in-out;
            }

            p {
                font-family: $poppins;
                width: 240px;
                font-size: 1.5em;
                margin: 0;
                color: #25334A;
                transition: 0.25s all ease-in-out;
                font-weight: 300;
            }

            p:hover {
                transition: 0.25s all ease-in-out;
                color: $setured;
            }
        }

        .name:hover {
            transition: 0.25s all ease-in-out;

            a {
                color: $setured;
                transition: 0.25s all ease-in-out;
            }
        }

        ul {
            padding: 1em 0;
            transition: 0.25s all ease-in-out;
            display: none;
            @media #{$mac13} {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
            }

            li {
                list-style: none;
                padding: 1.5em 0;
                @media #{$mac13} {
                    padding: 0.45em 0 0 4em;
                }

                a {
                    color: #25334A;
                    font-family: $opensans;
                    font-size: 0.9em;
                    font-weight: 400;
                    letter-spacing: 1px;
                    transition: 0.25s all ease-in-out;
                }

                a:hover {
                    transition: 0.25s all ease-in-out;
                    color: $setured;
                }
            }
        }
    }
}

#hpmenuicondiv {
    position: absolute;
    right: 0;
    z-index: 100;
    top: 0;
    padding: 2.5em 1em;
    display: block;
    position: fixed;
    @media #{$tablet} {
        padding: 4em 3em;
    }
    @media #{$mac13} {
        display: none;
        // padding: 4.5em 3em;
    }

    img:hover {
        cursor: pointer;
    }
}

#hpmobilemenuwrapper {
    opacity: 0;
    z-index: -2;
    transition: 0.25s all ease-in-out;
    width: 100%;
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    position: fixed;
    -webkit-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
    -moz-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
    box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);

    .hpmobilemenucontent {
        width: 90%;
        margin: 0 auto;
    }

    #hpmenunameflex {
        padding: 2.1em 0 0;
        transition: 0.25s all ease-in-out;

        #hpmenuName {
            max-width: 200px;

            a {
                font-size: 1.5em;

                p {
                    font-family: $poppins;
                    width: 240px;
                    font-size: 1em;
                    margin: 0;
                    color: #25334A;
                    transition: 0.25s all ease-in-out;
                    font-weight: 300;
                }

                p:hover {
                    transition: 0.25s all ease-in-out;
                    color: $setured;
                }
            }
            @media #{$tablet} {
                margin-top: 2em;
            }
        }

        #hpmenuxicondiv {
            position: absolute;
            top: 0;
            right: 0;
            padding: 2.5em 1.25em 0 0;
            @media #{$tablet} {
                padding: 4em 3.2em;
            }
            @media #{$mac13} {
                // display: none;
                padding: 4.5em 6.2em;
            }

            img:hover {
                cursor: pointer;
            }
        }
    }

    ul {
        padding: 1em 0;
        transition: 0.3s all ease-in-out;
        margin: 0;

        li {
            list-style: none;
            padding: 1.5em 0;

            a {
                color: #25334A;
                font-family: $opensans;
                font-size: 0.9em;
                font-weight: 400;
                letter-spacing: 1px;
            }

            a:hover {
                color: $setured;
                transition: 0.25s all ease-in-out;
            }
        }
    }
}
//////////////// HOMEPAGE HEADER END ///////////////

#mypicture {
    background-image: url("img/aboutme/setu.jpg");
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
    border-radius: 0;
    margin: 0 auto 6em;
    height: 350px;
    @media #{$tablet} {
        height: 460px;
    }
    @media #{$mac13} {
        border-radius: 15px;
        height: 500px;
        max-width: 1000px;
    }
}

.abouttitle {
    width: 85%;
    margin: 2em auto;
    @media #{$tablet} {
        max-width: 600px;
    }
    @media #{$mac13} {
        max-width: 850px;
    }

    p {
        color: $setured;
        font-family: $poppins;
        font-size: 2.5em;
        font-weight: 700;
    }
}

.contentsection {
    width: 85%;
    max-width: 650px;
    margin: 0 auto;
    @media #{$tablet} {
        max-width: 600px;
    }
    @media #{$mac13} {
        max-width: 850px;
    }

    p {
        font-size: 1.3em;
        font-family: $opensans;
        line-height: 2em;
    }
}

.subtitle {
    width: 85%;
    margin: 0 auto;
    @media #{$tablet} {
        max-width: 600px;
    }
    @media #{$mac13} {
        max-width: 650px;
    }

    p {
        font-size: 1.1em;
        font-weight: 700;
        font-family: $opensans;
    }
}

.imgdesc {
    p {
        width: 85%;
        margin: 0 auto;
        font-style: italic;
        text-align: center;
        color: $grey4;
        font-family: $opensans;
        line-height: 30px;
        @media #{$tablet} {
            max-width: 600px;
        }
        @media #{$mac13} {
            max-width: 650px;
        }
    }
}

.linediv {
    width: 85%;
    height: 3px;
    background-color: $grey1;
    margin: 0 auto 6em;
    @media #{$tablet} {
        max-width: 600px;
    }
    @media #{$mac13} {
        max-width: 650px;
    }
}

#socialflex {
    display: flex;
    flex-wrap: wrap;
    margin: 6em auto 8em;
    justify-content: space-between;
    width: 85%;
    // background-color: red;
    // margin: 0 auto;
    @media #{$tablet} {
        max-width: 600px;
    }
    @media #{$mac13} {
        max-width: 850px;
    }

    a {
        margin: 0 auto;
        @media #{$tablet} {
            margin: 0;
        }
    }

    .buttondiv {
        position: relative;
        margin: 1em auto;
        @media #{$tablet} {
            margin: 0;
        }

        .button {
            width: 260px;
            height: 50px;
            background-color: white;
            border: 2px solid #25334A;
            border-radius: 5px;
            @media #{$tablet} {
                width: 160px;
                margin: 0 auto;
            }

            p {
                color: #25334A;
                font-family: $opensans;
                font-size: 1em;
                font-weight: 700;
                transition: 0.25s all ease-in-out;
                z-index: 50;
                position: relative;
                top: -1px;
            }
        }

        .hoverdiv {
            height: 48px;
            width: 0;
            transition: 0.2s all ease-in-out;
            position: absolute;
            border-radius: 3px;
            background-color: #25334A;
            top: 0;
        }
    }

    .buttondiv:hover {
        cursor: pointer;

        .button {
            p {
                @media #{$mac13} {
                    color: white;
                    transition: 0.25s all ease-in-out;
                }
            }
        }

        .hoverdiv {
            @media #{$mac13} {
                width: 160px;
                background-color: #25334A;
                transition: 0.2s all ease-in-out;
                border-radius: 5px;
            }
        }
    }
}
////////////////////////// COPYRIGHT START ///////////////////////

#copyrightdiv {
    width: 90%;
    margin: 0 auto;

    p {
        font-family: $opensans;
        text-align: center;
        font-size: 1.2em;
        letter-spacing: 0.5px;
        color: $grey4;
    }
}
////////////////////////// COPYRIGHT END ///////////////////////
////////////////// STOP ////////////////////