#amsbanner {
    margin: 2em 0 0 2em;
    background-image: url("https://cdn.flixbus.de/city_description_images/amsterdam-nightlife.jpg");
    width: 600px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

#contentbox {
    padding: 1em 0 0 1em;
    width: 60%;
}

#flagflex {
    background: rgba(0, 0, 0, 0.7);
    position: relative;
}

#amsterdamflex {
    display: flex;
    position: relative;
    left: 1em;
}

#amsterdam {
    width: 30%;
    font-size: 40px;
    color: white;
    font-style: sans-serif;
}

#nedflag {
    width: 40px;
    height: 30px;
    margin: 1.3em 0 0 8em;
}

#properties {
    position: relative;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    top: -0.8em;
    left: 1em;
}

#taglinediv {
    display: flex;
    justify-content: flex-end;
    padding: 2em 1em 1em;
    font-size: 1em;
    color: white;
    width: 100%;
    text-align: right;
}

#tagline {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px 10px;
}
