.titlebar {
    padding: 2em 0;

    .sectionheader {
        text-align: center;
        font-size: 2em;
        color: $dspink;
        @media #{$monitor} {
            font-size: 3em;
        }
    }
}

.darkcontainer {
    width: 100%;
    background-color: $dsdarkgrey;
}

.subtitle {
    font-weight: 500;
    font-size: 1.5em;
    color: $dsdarkgrey;
}

.container {
    padding: 4em 0;
    @media #{$monitor} {
        max-width: 70%;
        margin: 0 auto;
    }
}

.contentbox {
    p {
        line-height: 2em;
    }
}

.body {
    color: $textdark;
}
/////////////////////////// HERO ////////////////////////

#ptitle {
    background-image: url("img/datescout/dscoutcouplebg.png");
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 500px;
    @media #{$phablet} {
        height: 600px;
    }
    @media #{$tablet} {
        height: 700px;
    }
    @media #{$mac13} {
        height: 600px;
    }
    @media #{$mac15} {
        height: 600px;
    }
    @media #{$monitor} {
        height: 800px;
    }

    .logodiv {
        width: 80%;
        padding-top: 10em;
        margin: 0 auto;

        img {
            width: 100%;
        }
        @media #{$tablet} {
            width: 50%;
            margin: 0 auto;
        }
        @media #{$mac13} {
            width: 35%;
            margin: 0 auto;
            padding-top: 13em;
        }
        @media #{$mac15} {
            width: 30%;
            margin: 0 auto;
            padding-top: 15em;
        }
        @media #{$monitor} {
            padding-top: 20em;
            width: 25%;
            margin: 0 auto;
        }
    }

    .headintro {
        color: white;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-top: 4em;
        font-size: 1.2em;
        @media #{$tablet} {
            width: 40%;
            font-size: 1.4em;
        }
    }
}
/////////////////////////// INTRO ////////////////////////

.introcontainer {
    .introbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media #{$tablet} {
            width: 90%;
            margin: 0 auto;
        }
    }

    #intropicdiv {
        width: 90%;
        margin: 0 auto;
        @media #{$tablet} {
            width: 50%;
            margin: 0 auto;
        }
        @media #{$mac13} {
            width: 50%;
            margin: 0 auto;
        }
        @media #{$mac15} {
            width: 35%;
            margin: 0 auto;
        }
        @media #{$monitor} {
            width: 40%;
            margin: 0 auto;
        }

        img {
            width: 100%;
        }
    }

    .contentbox {
        width: 90%;
        margin: 0 auto;
        padding: 4em 0;
        @media #{$phablet} {
            width: 75%;
            margin: 0 auto;
        }
        @media #{$tablet} {
            width: 50%;
            margin: 0 auto;
            padding-left: 3em;
        }
        @media #{$mac13} {
            width: 40%;
            margin: 0 auto;
            padding: 5em 0 0 3em;
        }
        @media #{$mac15} {
            width: 30%;
            padding: 6em 0 0 3em;
            margin: 0 auto;

            p {
                font-size: 1.2em;
            }
        }
        @media #{$monitor} {
            width: 35%;
            margin: 0 auto;
            padding: 5em 0 0 3em;

            p {
                font-size: 1.2em;
            }
        }

        .subtitle {
            padding-bottom: 1em;
        }
    }

    .sectionheader {
        padding-bottom: 2em;
    }
}
//////////////////////////////ROLE/////////////////////////////////////

.rolecontainer {
    background-color: #88224C;
}

.roleflex {
    padding: 2em 0 4em 1em;
    @media #{$phablet} {
        padding: 2em 0 4em 2em;
    }
    @media #{$tablet} {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        margin: 0 auto;
    }
    @media #{$mac13} {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        margin: 0 auto;
    }
    @media #{$mac15} {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        margin: 0 auto;
    }
    @media #{$monitor} {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        justify-content: space-around;
        margin: 0 auto;
    }
}

.roleitem {
    @media #{$tablet} {
        width: 50%;
        margin: 2em 0;
    }
    @media #{$mac13} {
        width: 50%;
        margin: 2em 0;
    }
}

.roletitle {
    color: $grey3;
    padding-top: 2em;
    font-weight: 600;
    @media #{$tablet} {
        width: 80%;
        margin: 0 auto;
    }
    @media #{$mac13} {
        width: 80%;
        margin: 0 auto;
    }
    @media #{$mac15} {
        width: 80%;
    }
    @media #{$monitor} {
        width: 80%;
    }
}

.rolebody {
    color: #ECECEC;
    font-size: 1.1em;
    width: 90%;
    @media #{$tablet} {
        font-size: 1.1em;
        width: 80%;
        margin: 1em auto;
    }
    @media #{$mac13} {
        font-size: 1.1em;
        width: 80%;
        margin: 1em auto;
    }
    @media #{$mac15} {
        font-size: 1.1em;
        width: 100%;
        margin: 1em auto;
    }
    @media #{$monitor} {
        font-size: 1.1em;
        width: 100%;
        margin: 1em auto;
    }
}
/////////////////////// IMAGES /////////////////////////////

.imagegrpcontainer {
    .groupaflex {
        display: flex;
        flex-wrap: wrap;
    }

    .screengrpscrollmob {
        width: 90%;
        margin: 0 auto;
        padding: 4em 0;
        @media #{$tablet} {
            width: 70%;
        }
        @media #{$mac13} {
            width: 50%;

            .groupimagebox {
                width: 80%;
                margin: 0 auto;
            }
        }
        @media #{$mac15} {
            width: 50%;

            .groupimagebox {
                width: 70%;
                margin: 0 auto;
            }
        }
        @media #{$monitor} {
            width: 50%;

            .groupimagebox {
                width: 70%;
                margin: 0 auto;
            }
        }
    }
}
///////////////// Patterns //////////////

.patternscontainer {
    padding: 4em 0;
    @media #{$monitor} {
        width: 70%;
        margin: 0 auto;
    }

    .contentbox {
        width: 90%;
        margin: 0 auto;
        padding: 4em 0;
        @media #{$phablet} {
            width: 75%;
            margin: 0 auto;
        }
        @media #{$tablet} {
            width: 50%;
            margin: 0 auto;
            padding-left: 3em;
        }
        @media #{$mac13} {
            width: 40%;
            margin: 0 auto;
            padding: 5em 0 0 3em;
        }
        @media #{$mac15} {
            width: 30%;
            padding: 6em 0 0 3em;
            margin: 0 auto;

            p {
                font-size: 1.2em;
            }
        }
        @media #{$monitor} {
            width: 35%;
            margin: 0 auto;
            padding: 5em 0 0 3em;

            p {
                font-size: 1.2em;
            }
        }

        .subtitle {
            padding-bottom: 1em;
        }
    }

    .designpatternimagecontainer {
        @media #{$mac13} {
            padding: 4em 0;
        }
        @media #{$mac15} {
            padding: 4em 0;
        }
        @media #{$monitor} {
            padding: 6em 0;
        }

        .patternflex {
            display: flex;
            flex-wrap: wrap;

            .designpatternbox {
                img {
                    width: 100%;
                }
                width: 90%;
                margin: 0 auto;
                padding: 2em 0;
                @media #{$tablet} {
                    width: 60%;
                    padding: 4em 0;
                }
                @media #{$mac13} {
                    width: 50%;

                    .patternimg {
                        width: 70%;
                        margin: 0 auto;
                        padding: 2em 0;
                    }
                }
                @media #{$mac15} {
                    width: 50%;

                    .patternimg {
                        width: 70%;
                        margin: 0 auto;
                        padding: 4em 0;
                    }
                }
                @media #{$monitor} {
                    width: 50%;

                    .patternimg {
                        width: 70%;
                        margin: 0 auto;
                        padding: 4em 0;
                    }
                }
            }
        }
    }
}
/////////////////////// Site map /////////////////////////////

.sitemapcontainer {
    margin: 4em 0;

    .contentbox {
        width: 90%;
        margin: 0 auto;
        padding: 4em 0;
        @media #{$phablet} {
            width: 75%;
            margin: 0 auto;
        }
        @media #{$tablet} {
            width: 50%;
            margin: 0 auto;
            padding-left: 3em;
        }
        @media #{$mac13} {
            width: 40%;
            margin: 0 auto;
            padding: 5em 0 0 3em;
        }
        @media #{$mac15} {
            width: 30%;
            padding: 6em 0 0 3em;
            margin: 0 auto;

            p {
                font-size: 1.2em;
            }
        }
        @media #{$monitor} {
            width: 35%;
            margin: 0 auto;
            padding: 5em 0 0 3em;

            p {
                font-size: 1.2em;
            }
        }

        .subtitle {
            padding-bottom: 1em;
        }
    }

    .sitemapdiv {
        padding: 4em 0;
        width: 90%;
        margin: 0 auto;
        @media #{$tablet} {
            width: 60%;
        }
        @media #{$mac13} {
            width: 50%;
        }
        @media #{$mac15} {
            width: 35%;
        }
        @media #{$monitor} {
            width: 30%;
            padding: 4em 0;
        }
    }
}
//////////////////////// IMAGE BG ///////////////////////

.slantimagecontainer {
    @media #{$monitor} {
        width: 70%;
        margin: 0 auto;
    }
}

.secondimagegroup {
    img {
        width: 100%;
    }
    width: 90%;
    margin: 0 auto;
    padding: 4em 0;
    @media #{$mac13} {
        padding: 8em 0;
    }
    @media #{$mac15} {
        padding: 8em 0;
    }
    @media #{$monitor} {
        padding: 8em 0;
        width: 90%;
    }
}
///// persona ///////

.personacontainer {
    padding: 4em 0;
    @media #{$monitor} {
        width: 70%;
        margin: 0 auto;
    }

    .contentbox {
        width: 90%;
        margin: 0 auto;
        padding: 4em 0;
        @media #{$phablet} {
            width: 75%;
            margin: 0 auto;
        }
        @media #{$tablet} {
            width: 50%;
            margin: 0 auto;
            padding-left: 3em;
        }
        @media #{$mac13} {
            width: 40%;
            margin: 0 auto;
            padding: 5em 0 0 3em;
        }
        @media #{$mac15} {
            width: 30%;
            padding: 6em 0 0 3em;
            margin: 0 auto;

            p {
                font-size: 1.2em;
            }
        }
        @media #{$monitor} {
            width: 35%;
            margin: 0 auto;
            padding: 5em 0 0 3em;

            p {
                font-size: 1.2em;
            }
        }
    }

    .personadiv {
        width: 100%;
        margin: 0 auto;
        @media #{$mac13} {
            width: 70%;
            margin: 0 auto;
            padding: 4em 0;
        }
        @media #{$mac15} {
            width: 70%;
            margin: 0 auto;
            padding: 4em 0;
        }
        @media #{$monitor} {
            width: 70%;
            margin: 0 auto;
            padding: 4em 0;
        }
    }
}
//////////////////// Evolution //////////////////

.evolutioncontainer {
    padding: 4em 0;
    @media #{$monitor} {
        width: 70%;
        margin: 0 auto;
    }

    .evolutionflex {
        display: flex;
        flex-wrap: wrap;

        .evolutionimgdiv {
            width: 90%;
            margin: 0 auto;
            position: relative;

            img {
                width: 100%;
            }
            @media #{$tablet} {
                width: 55%;
                margin: 0 auto;
            }
            @media #{$mac13} {
                width: 50%;
                margin: 0 auto;

                .evolutionbox {
                    width: 70%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            @media #{$mac15} {
                width: 50%;
                margin: 0 auto;

                .evolutionbox {
                    width: 70%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            @media #{$monitor} {
                width: 50%;
                margin: 0 auto;

                .evolutionbox {
                    width: 70%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .contentbox {
            width: 90%;
            margin: 0 auto;
            padding: 4em 0;
            @media #{$phablet} {
                width: 75%;
                margin: 0 auto;
            }
            @media #{$tablet} {
                width: 50%;
                margin: 0 auto;
                padding-left: 3em;
            }
            @media #{$mac13} {
                width: 40%;
                margin: 0 auto;
                padding: 5em 0 0 3em;
            }
            @media #{$mac15} {
                width: 30%;
                padding: 6em 0 0 3em;
                margin: 0 auto;

                p {
                    font-size: 1.2em;
                }
            }
            @media #{$monitor} {
                width: 35%;
                margin: 0 auto;
                padding: 5em 0 0 3em;

                p {
                    font-size: 1.2em;
                }
            }
        }
    }

    #oldideadiv {
        width: 90%;
        padding: 4em 0;
        margin: 0 auto;
        @media #{$tablet} {
            width: 60%;
            margin: 0 auto;
        }
        @media #{$mac13} {
            width: 60%;
            margin: 0 auto;
        }
        @media #{$mac15} {
            width: 40%;
            margin: 0 auto;
            padding: 8em 0;
        }
        @media #{$monitor} {
            width: 50%;
            margin: 0 auto;
            padding: 8em 0;
        }
    }
}
// .
