* {
    transition: 0.3s all ease-in-out;
    color: $textdark;
    line-height: 1.8em;
}
/////////////////////  PROJECT HEADER START /////////////////////

#ppheadercontainer {
    @media #{$mac13} {
        height: 180px;
    }

    #ppmenuicondiv {
        position: absolute;
        right: 0;
        z-index: 100;
        top: 0;
        padding: 2.25em 1em;
        display: block;
        position: fixed;
        @media #{$tablet} {
            padding: 4.5em 3em;
        }
        @media #{$mac13} {
            padding: 4.5em 6em;
        }

        img:hover {
            cursor: pointer;
        }
    }

    #ppmobilemenuwrapper {
        opacity: 0;
        z-index: -2;
        transition: 0.25s all ease-in-out;
        width: 100%;
        background-color: white;
        position: relative;
        top: 0;
        left: 0;
        position: fixed;
        -webkit-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
        -moz-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
        box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);

        .ppmobilemenucontent {
            width: 90%;
            margin: 0 auto;
            @media #{$mac13} {
                max-width: 1000px;
            }
            @media #{$mac15} {
                max-width: 1000px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            #ppmenunameflex {
                padding: 2em 0 0;
                transition: 0.25s all ease-in-out;

                #ppmenuName {
                    max-width: 200px;

                    a {
                        font-size: 1.5em;

                        p {
                            font-family: $poppins;
                            width: 240px;
                            font-size: 1em;
                            margin: 0;
                            color: #25334A;
                            transition: 0.25s all ease-in-out;
                            font-weight: 300;
                        }

                        p:hover {
                            color: $setured;
                            transition: 0.25s all ease-in-out;
                        }
                    }
                    @media #{$tablet} {
                        margin-top: 2em;
                    }
                }

                #ppmenuxicondiv {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 2.4em 1.25em 0 0;
                    @media #{$tablet} {
                        padding: 4.5em 3.3em;
                    }
                    @media #{$mac13} {
                        // display: none;
                        padding: 4.5em 6.2em;
                    }

                    img:hover {
                        cursor: pointer;
                    }
                }
            }

            ul {
                padding: 1em 0;
                transition: 0.3s all ease-in-out;
                margin: 0;
                @media #{$mac15} {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 2em;
                }

                li {
                    list-style: none;
                    padding: 1.5em 0;
                    @media #{$mac15} {
                        padding: 1.5em;
                        margin-bottom: 2em;
                    }

                    a {
                        color: #25334A;
                        font-family: $opensans;
                        font-size: 0.9em;
                        font-weight: 400;
                        letter-spacing: 1px;
                        transition: 0.25s all ease-in-out;
                    }

                    a:hover {
                        color: $setured;
                        transition: 0.25s all ease-in-out;
                    }
                }
            }
        }
    }
}
//////////////// PROJECT HEADER END ///////////////

p {
    line-height: 1.8em;
}
@media #{$phablet} {}
@media #{$tablet} {}
@media #{$mac13} {}
@media #{$mac15} {}
// @media #{$monitor} {}
// @media #{$fourk} {}

#supercontainer {
    width: 90%;
    @media #{$tablet} {
        width: 90%;
    }
    @media #{$mac13} {
        width: 80%;
    }
    @media #{$mac15} {
        width: 80%;
    }
    // @media #{$monitor} {
    //     width: 70%;
    // }
    @media #{$fourk} {
        width: 60%;
    }
    margin: 0 auto;
}

.sixembottom {
    padding-bottom: 6em;
}

.fourembottom {
    padding-bottom: 4em;
}

.oneemtop {
    padding: 1em 0 0;
}

.twoemboth {
    padding: 2em 0;
}

.threeemboth {
    padding: 3em 0;
}

.fouremboth {
    padding: 4em 0;
}

.sixemboth {
    padding: 6em 0;
}
////////////////////////////////////////////////////////////////////

#herosection {
    // background-color: #A2E3B3;
    background-image: url("img/thd_ss/hero-bg-purple.svg");
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
    border-radius: 0;
    margin: 0 auto;
    height: 350px;
    @media #{$tablet} {
        height: 460px;
    }
    @media #{$mac13} {
        border-radius: 15px;
        height: 550px;
        max-width: 950px;
    }

    #heroimg {
        position: absolute;
        top: 25%;
        transform: translateX(0%);

        .imgdiv {
            width: 90%;
            margin: 0 auto;
        }
        @media #{$tablet} {
            .imgdiv {
                width: 80%;
                margin: 0 auto;
            }
            position: absolute;
            top: 15%;
        }
        @media #{$mac13} {
            .imgdiv {
                width: 70%;
                margin: 0 auto;
            }
            position: absolute;
            top: 15%;
        }
    }
}

#herotitle {
    p {
        font-weight: 500;
        font-size: 2em;
        padding-top: 1em;
        width: 85%;
        margin: 5em auto 0;
        font-family: $poppins;
        letter-spacing: 2px;
        @media #{$tablet} {
            max-width: 600px;
            font-size: 2.6em;
            margin: 2em auto 0;
        }
        @media #{$mac13} {
            max-width: 1000px;
            font-size: 2.6em;
            margin: 0 auto;
        }
    }
}

.contentsection {
    width: 85%;
    max-width: 650px;
    margin: 0 auto;
    @media #{$tablet} {
        max-width: 600px;
    }
    @media #{$mac13} {
        max-width: 1000px;
    }

    p {
        font-size: 18px;
        font-family: $opensans;
    }
}

.imgdesc {
    p {
        width: 85%;
        margin: 0 auto;
        font-style: italic;
        text-align: center;
        color: $grey4;
        font-family: $opensans;
        @media #{$tablet} {
            max-width: 600px;
        }
        @media #{$mac13} {
            max-width: 1250px;
        }
    }
}

.expflex {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
    @media #{$mac13} {
        max-width: 1250px;
        margin: 0 auto 8em;
    }

    .expdiv {
        max-height: 850px;
        max-width: 500px;
        border-radius: 14px;
        margin: 0 auto 6em;
        // background-color: $grey1;
        @media #{$mac13} {
            margin: 0;
            width: 45%;
        }

        .videodiv {
            video {
                border-radius: 10px;
                display: block;
                margin: 0 auto;
                -webkit-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
                -moz-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
                box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
                width: 75%;
                @media #{$tablet} {
                    width: 65%;
                }
                @media #{$mac13} {
                    width: 55%;
                }
            }
        }
    }
}

.animatednavbar {
    position: relative;
    top: 0;
    @media #{$mac13} {
        top: 40px;
    }
}

.centerimg {
    width: 90%;
    margin: 0 auto;

    .imagediv {
        margin: 0 auto;
        @media #{$tablet} {
            max-width: 600px;
        }
        @media #{$mac13} {
            max-width: 700px;
        }

        img {
            width: 100%;
            border-radius: 10px;
            -webkit-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
            -moz-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
            box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
        }
    }
}

.expcenterdiv {
    // width: 85%;
    margin: 0 auto 8em;
    max-height: 800px;
    // background-color: $grey1;
    max-width: 500px;
    border-radius: 14px;
    @media #{$tablet} {
        max-width: 850px;
    }
    @media #{$mac13} {
        max-width: 1250px;
    }

    .videodiv {
        video {
            border-radius: 10px;
            display: block;
            margin: 0 auto;
            -webkit-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
            -moz-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
            box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
            width: 90%;
            @media #{$mac15} {
                position: relative;
                bottom: 25px;
            }
        }
    }
}

#OWline {
    width: 100%;
    height: 10px;
    border-radius: 3px;
    background-color: $grey1;
    margin: 0 auto;
    @media #{$tablet} {
        max-width: 700px;
    }
    @media #{$mac13} {
        max-width: 1000px;
    }
}

#owsectiontitle {
    width: 85%;
    margin: 0 auto;
    @media #{$tablet} {
        max-width: 700px;
    }
    @media #{$mac13} {
        max-width: 1000px;
    }

    p {
        font-size: 1.4em;
        font-weight: 500;
        font-family: $poppins;
        letter-spacing: 2px;
        @media #{$tablet} {
            font-size: 1.8em;
        }
    }
}

.otherworksflex {
    display: flex;
    flex-wrap: wrap;
    margin: 2em auto;
    justify-content: space-between;
    @media #{$tablet} {
        max-width: 700px;
    }
    @media #{$mac13} {
        max-width: 1000px;
        margin: 4em auto;
    }

    .owdiv {
        margin: 2em auto;
        width: 90%;
        transition: 0.25s all ease-in-out;
        position: relative;
        @media #{$tablet} {
            width: 45%;
            margin: 0;
        }

        .otherprojimgdiv {
            padding: 2em 0;
            border-radius: 8px;
            @media #{$tablet} {
                min-width: 300px;
                min-height: 352px;
                max-height: 352px;
            }
            @media #{$mac13} {
                min-width: 400px;
            }
        }

        .otherprojname {
            padding: 1em 0;

            p {
                font-size: 1.2em;
                font-weight: 600;
                letter-spacing: 1px;
                font-family: $poppins;
                color: #25334A;
            }
        }
    }

    .comingsoon {
        position: relative;
        top: -30px;

        p {
            font-family: $opensans;
            color: $grey4;
            font-style: italic;
            letter-spacing: 1px;
            font-weight: 500;
            font-size: 1em;
        }
    }
    ////////////////////// PROJECT SPECIFIC START ////////////////////////////
    ///// PICKING PRIORITY /////
    .thd_pp_outer {
        border-radius: 8px;
        background-color: #C9E9F4;
        position: relative;
        transition: 0.25s all ease-in-out;
    }

    .thd_pp_inner {
        width: 70%;
        margin: 0 auto;
        @media #{$tablet} {
            bottom: 30px;
            width: 60%;
        }
        @media #{$mac13} {
            width: 50%;
        }

        .img {
            width: 100%;
        }
    }
    ///// NON CON VIZ /////
    .thd_ncv_outer {
        border-radius: 8px;
        background-color: #A2E3B3;
        position: relative;
        transition: 0.25s all ease-in-out;
    }

    .thd_ncv_inner {
        width: 90%;
        margin: 0 auto;
        top: 30px;
        position: relative;
        @media #{$tablet} {
            top: 50px;
        }
        @media #{$mac13} {
            width: 85%;
        }

        .img {
            width: 100%;
        }
    }
    ///// SIMPLE SORT ////
    .thd_ss_outer {
        background-color: #DBDCFF;
        position: relative;
        transition: 0.25s all ease-in-out;
    }

    .thd_ss_inner {
        width: 85%;
        margin: 0 auto;
        position: relative;
        @media #{$tablet} {
            top: 50px;
        }

        .img {
            width: 100%;
        }
    }
    ///// PUMP IT UP ////
    .piu_outer {
        background-color: #C7FAF6;
        position: relative;
        transition: 0.25s all ease-in-out;
    }

    .piu_inner {
        width: 55%;
        margin: 0 auto;
        position: relative;
        @media #{$tablet} {
            top: -10px;
            width: 50%;
        }
        @media #{$mac13} {
            top: -10px;
            width: 37.5%;
            max-width: 150px;
        }

        .img {
            width: 100%;
        }
    }
    //////////////////////// PROJECT SPECIFIC ENDS /////////////////////////
    .owdiv:hover {
        .thd_pp_outer {
            background-color: #8AC6DB;
            transition: 0.25s all ease-in-out;
        }

        .thd_ncv_outer {
            background-color: #78CB8D;
            transition: 0.25s all ease-in-out;
        }

        .thd_ss_outer {
            background-color: #ABACE2;
            transition: 0.25s all ease-in-out;
        }

        .piu_outer {
            background-color: #85CBCA;
            transition: 0.25s all ease-in-out;
        }
    }
}
///////////////////////// COPYRIGHT START ///////////////////////

#copyrightdiv {
    p {
        font-family: $opensans;
        text-align: center;
        font-size: 1em;
        letter-spacing: 0.5px;
        color: $grey4;
    }
}
////////////////////////// COPYRIGHT END ///////////////////////