body {
    background-color: #F3f3f3;
}

.wrapper {
    // max-width: 1000px;
    margin: 0 auto;
    width: 90%;
    @media #{$phablet} {
        width: 90%;
    }
    @media #{$tablet} {
        width: 80%;
    }
    @media #{$mac13} {
        max-width: 1000px;
    }
    @media #{$mac15} {
        max-width: 1000px;
    }
    @media #{$monitor} {
        max-width: 1000px;
    }
}

#intro {
    max-width: 1000px;
    margin: 0 auto;
    padding: 8em 0 2em;

    #hello {
        font-family: georgia;
        font-size: 3em;
    }

    #shortintro {
        width: 90%;
        @media #{$tablet} {
            width: 60%;
        }
        @media #{$mac13} {
            width: 45%;
        }
        @media #{$mac15} {
            width: 45%;
        }
        @media #{$monitor} {
            width: 42%;
        }
        padding-top: 2em;
        font-size: 1.2em;
        color: $halfgrey;

        #redtext {
            color: $setured;
        }
    }

    #factflex {
        padding-top: 4em;
        display: flex;
        flex-wrap: wrap;

        .factbox {
            width: 100%;
            padding-bottom: 2em;
            margin: 0 auto;
            @media #{$mac13} {
                width: 33%;
                padding: 0;
            }
            @media #{$mac15} {
                width: 33%;
                padding: 0;
            }
            @media #{$monitor} {
                width: 33%;
                padding: 0;
            }

            #facttitle {
                font-size: 0.9em;
                color: $halfgrey;

                p {
                    margin: 0;
                    padding: 0;
                }
            }

            #fact {
                padding-top: 0.8em;
            }
        }

        .lastfactbox {
            padding-bottom: 0;
        }
    }
}

.breakline {
    height: 1px;
    position: relative;
    margin-top: 8em;
    width: 100%;
    background-color: $grey2;
}

.breaklinetop {
    margin: 4em 0;
}

.breaklineaboutme {
    height: 1px;
    position: relative;
    top: 2em;
    width: 100%;
    background-color: $grey2;
}

.maincard {
    background-color: white;
    margin: 8em auto 0;
    border-radius: 3px;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
    transition: 0.4s all ease-in-out;
    position: relative;

    #link {
        color: black;
    }

    .cardcontents {
        padding: 1em;
        @media #{$tablet} {
            padding: 2em;
        }
        @media #{$mac13} {
            padding: 2em 4em;
        }
        @media #{$mac15} {
            padding: 2em 4em;
        }
        @media #{$monitor} {
            padding: 2em 4em;
        }

        .projectdate {
            opacity: 1;
            transition: 0.4s all ease-in-out;
            font-size: 0.7em;
            @media #{$mac13} {
                font-size: 1em;
                opacity: 0;
                transition: 0.4s all ease-in-out;
            }
            @media #{$mac15} {
                font-size: 1em;
                opacity: 0;
                transition: 0.4s all ease-in-out;
            }
            @media #{$monitor} {
                font-size: 1em;
                opacity: 0;
                transition: 0.4s all ease-in-out;
            }
            position: relative;
            color: $halfgrey;
        }
    }

    #projecttitle {
        font-family: georgia;
        font-size: 2em;
        font-weight: 600;
        @media #{$tablet} {
            padding: 1em 0 0 1em;
        }
        @media #{$mac13} {
            font-size: 3em;
        }
        @media #{$mac15} {
            font-size: 3em;
        }
        @media #{$monitor} {
            font-size: 3em;
        }
    }

    #blackline {
        height: 4px;
        background-color: black;
        width: 100%;
        @media #{$tablet} {
            margin-left: 2em;
            width: 60%;
        }
        @media #{$mac13} {
            width: 70%;
            margin-bottom: 2em;
        }
        @media #{$mac15} {
            width: 70%;
            margin-bottom: 2em;
        }
        @media #{$monitor} {
            width: 60%;
            margin-bottom: 2em;
        }
    }

    #projectflex {
        display: flex;
        flex-wrap: wrap;
    }
    ////////////// IMAGE CODE IS AT THE BOTTOM //////////////
    #projectcontent {
        width: 100%;
        padding: 1em 0;
        @media #{$tablet} {
            width: 90%;
            padding-left: 2.5em;
        }
        @media #{$mac13} {
            width: 50%;
            padding: 2em;
        }
        @media #{$mac15} {
            width: 50%;
            padding: 2em;
        }
        @media #{$monitor} {
            width: 50%;
            padding: 2em;
        }

        #primarycontent {
            font-size: 1em;
            padding-bottom: 2em;
            @media #{$tablet} {
                font-size: 1.2em;
            }
            @media #{$mac13} {
                font-size: 1.2em;
            }
            @media #{$mac15} {
                font-size: 1.2em;
            }
            @media #{$monitor} {
                font-size: 1.2em;
            }
        }

        #secondarycontent {
            font-size: 0.8em;
            color: $grey4;
            @media #{$tablet} {
                font-size: 1em;
            }
            @media #{$mac13} {
                font-size: 1em;
            }
            @media #{$mac15} {
                font-size: 1em;
            }
            @media #{$monitor} {
                font-size: 1em;
            }
        }
    }
}

.maincard:hover {
    box-shadow: 0 14px 96px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    cursor: pointer;
    transition: 0.4s all ease-in-out;

    .projectdate {
        transition: 0.4s all ease-in-out;
        opacity: 1;
    }
}

#aboutsection {
    max-width: 1000px;
    margin: 0 auto;
    padding: 8em 0 4em;

    #hello {
        font-family: georgia;
        font-size: 3em;
    }

    #aboutme {
        width: 90%;
        font-size: 1em;
        line-height: 1.8em;
        @media #{$tablet} {
            width: 85%;
        }
        @media #{$mac13} {
            width: 65%;
        }
        @media #{$mac15} {
            width: 65%;
        }
        @media #{$monitor} {
            width: 55%;
        }
        padding-top: 2em;
        color: $halfgrey;
    }
}
////////////// CARD SPECIFIC CODE //////////////
/////////THD/////////////

#thdpic {
    width: 90%;
    padding: 4em 0;
    margin: 0 auto;
    @media #{$phablet} {
        width: 70%;
    }
    @media #{$tablet} {
        width: 60%;
    }
    @media #{$mac13} {
        padding: 2em 0;
        width: 40%;
    }
    @media #{$mac15} {
        padding: 2em 0;
        width: 35%;
    }
    @media #{$monitor} {
        padding: 2em 0;
        width: 30%;
    }

    img {
        width: 100%;
        margin: 0 auto;
    }
}
///////// PIU /////////////

#piupic {
    width: 80%;
    padding: 4em 0;
    margin: 0 auto;
    @media #{$phablet} {
        width: 70%;
    }
    @media #{$tablet} {
        width: 40%;
    }
    @media #{$mac13} {
        padding: 2em 0;
        width: 20%;
    }
    @media #{$mac15} {
        padding: 2em 0;
        width: 20%;
    }
    @media #{$monitor} {
        padding: 2em 0;
        width: 20%;
    }

    img {
        width: 100%;
        margin: 0 auto;
    }
}
///////// PREMERA ///////////

#premerapic {
    width: 100%;
    padding: 4em 0;
    margin: 0 auto;
    @media #{$phablet} {
        width: 100%;
    }
    @media #{$tablet} {
        width: 90%;
    }
    @media #{$mac13} {
        padding: 2em 0;
        width: 50%;
    }
    @media #{$mac15} {
        padding: 2em 0;
        width: 45%;
    }
    @media #{$monitor} {
        padding: 2em 0;
        width: 50%;
    }

    img {
        width: 100%;
        margin: 0 auto;
    }
}
///////// UBER ///////////

#uberpic {
    width: 80%;
    padding: 4em 0;
    margin: 0 auto;
    @media #{$phablet} {
        width: 70%;
    }
    @media #{$tablet} {
        width: 40%;
    }
    @media #{$mac13} {
        padding: 2em 0;
        width: 25%;
    }
    @media #{$mac15} {
        padding: 2em 0;
        width: 25%;
    }
    @media #{$monitor} {
        padding: 2em 0;
        width: 25%;
    }

    img {
        width: 100%;
        margin: 0 auto;
    }
}
///////// EXPEDIA ///////////

#expediapic {
    width: 80%;
    padding: 4em 0;
    margin: 0 auto;
    @media #{$phablet} {
        width: 70%;
    }
    @media #{$tablet} {
        width: 45%;
    }
    @media #{$mac13} {
        padding: 2em 0;
        width: 30%;
    }
    @media #{$mac15} {
        padding: 2em 0;
        width: 30%;
    }
    @media #{$monitor} {
        padding: 2em 0;
        width: 30%;
    }

    img {
        width: 100%;
        margin: 0 auto;
    }
}
///////// ACTILIST ///////////

#actipic {
    width: 90%;
    padding: 4em 0;
    margin: 0 auto;
    @media #{$phablet} {
        width: 75%;
    }
    @media #{$tablet} {
        width: 50%;
    }
    @media #{$mac13} {
        padding: 2em 0;
        width: 30%;
    }
    @media #{$mac15} {
        padding: 2em 0;
        width: 30%;
    }
    @media #{$monitor} {
        padding: 2em 0;
        width: 30%;
    }

    img {
        width: 100%;
        margin: 0 auto;
    }
}
///////// SMARTHOME ///////////

#smarthomepic {
    width: 100%;
    padding: 4em 0;
    margin: 0 auto;
    @media #{$phablet} {
        width: 100%;
    }
    @media #{$tablet} {
        width: 80%;
    }
    @media #{$mac13} {
        padding: 2em 0;
        width: 50%;
    }
    @media #{$mac15} {
        padding: 2em 0;
        width: 50%;
    }
    @media #{$monitor} {
        padding: 2em 0;
        width: 50%;
    }

    img {
        width: 100%;
        margin: 0 auto;
    }
}