* {
    // transition: 0.4s all ease-in-out;
}
/////////////////////  HOMEPAGE HEADER START /////////////////////

#hpheader {
    margin: 2.1em auto;
    width: 100%;
    @media #{$tablet} {
        margin: 4.1em auto;
    }

    #hpheaderflex {
        @media #{$mac13} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }

        .name {
            transition: 0.25s all ease-in-out;
            position: relative;

            a {
                color: black;
                transition: 0.25s all ease-in-out;
            }

            p {
                font-family: $poppins;
                width: 240px;
                font-size: 1.5em;
                margin: 0;
                color: #25334A;
                transition: 0.25s all ease-in-out;
                font-weight: 300;
            }

            p:hover {
                transition: 0.25s all ease-in-out;
                color: $setured;
            }
        }

        .name:hover {
            transition: 0.25s all ease-in-out;

            a {
                color: $setured;
                transition: 0.25s all ease-in-out;
            }
        }

        ul {
            padding: 1em 0;
            transition: 0.25s all ease-in-out;
            display: none;
            @media #{$mac13} {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
            }

            li {
                list-style: none;
                padding: 1.5em 0;
                @media #{$mac13} {
                    padding: 0.45em 1.5em;
                }

                a {
                    color: #25334A;
                    font-family: $opensans;
                    font-size: 0.9em;
                    font-weight: 400;
                    letter-spacing: 1px;
                    transition: 0.25s all ease-in-out;
                }

                a:hover {
                    transition: 0.25s all ease-in-out;
                    color: $setured;
                }
            }
        }
    }
}

#hpmenuicondiv {
    position: absolute;
    right: 0;
    z-index: 100;
    top: 0;
    padding: 2.5em 1em;
    display: block;
    position: fixed;
    @media #{$tablet} {
        padding: 4em 3em;
    }
    @media #{$mac13} {
        display: none;
        // padding: 4.5em 3em;
    }

    img:hover {
        cursor: pointer;
    }
}

#hpmobilemenuwrapper {
    opacity: 0;
    z-index: -2;
    transition: 0.25s all ease-in-out;
    width: 100%;
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    position: fixed;
    -webkit-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
    -moz-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
    box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);

    .hpmobilemenucontent {
        width: 90%;
        margin: 0 auto;
    }

    #hpmenunameflex {
        padding: 2.1em 0 0;
        transition: 0.25s all ease-in-out;

        #hpmenuName {
            max-width: 200px;

            a {
                font-size: 1.5em;

                p {
                    font-family: $poppins;
                    width: 240px;
                    font-size: 1em;
                    margin: 0;
                    color: #25334A;
                    transition: 0.25s all ease-in-out;
                    font-weight: 300;
                }

                p:hover {
                    transition: 0.25s all ease-in-out;
                    color: $setured;
                }
            }
            @media #{$tablet} {
                margin-top: 2em;
            }
        }

        #hpmenuxicondiv {
            position: absolute;
            top: 0;
            right: 0;
            padding: 2.5em 1.25em 0 0;
            @media #{$tablet} {
                padding: 4em 3.2em;
            }
            @media #{$mac13} {
                // display: none;
                padding: 4.5em 6.2em;
            }

            img:hover {
                cursor: pointer;
            }
        }
    }

    ul {
        padding: 1em 0;
        transition: 0.3s all ease-in-out;
        margin: 0;

        li {
            list-style: none;
            padding: 1.5em 0;

            a {
                color: #25334A;
                font-family: $opensans;
                font-size: 0.9em;
                font-weight: 400;
                letter-spacing: 1px;
            }

            a:hover {
                color: $setured;
                transition: 0.25s all ease-in-out;
            }
        }
    }
}
//////////////// HOMEPAGE HEADER END ///////////////

#wrapper {
    width: 90%;
    margin: 0 auto;
    @media #{$tablet} {
        max-width: 650px;
    }
    @media #{$tablet} {
        max-width: 1000px;
    }
}

.twoemboth {
    padding: 2em 0;
}

.threeemboth {
    padding: 3em 0;
}

.fouremboth {
    padding: 4em 0;
}

.oneemboth {
    padding: 1em 0;
}

.navplaceholder {
    height: 80px;
    width: 100%;
    background-color: $grey2;
}

#newheader {
    margin: 0 auto;
    @media #{$tablet} {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media #{$mac13} {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logodiv {
        width: 60px;
    }

    #newnavflex {
        display: flex;
        flex-wrap: wrap;
        padding-top: 2em;
        @media #{$tablet} {
            width: 40%;
            padding-top: 0;
        }
        @media #{$mac13} {
            width: 35%;
            padding-top: 0;
        }

        .newnavitem {
            width: 33%;

            p {
                font-family: $opensans;
                font-size: 1em;
                @media #{$tablet} {
                    font-size: 0.9em;
                }
            }
        }

        .navitemcenter {
            text-align: center;
        }

        .navitemright {
            text-align: right;
        }
    }
}

#firstfold {
    margin: 0 auto;
    padding: 8em 0;
    @media #{$mac13} {
        padding: 14em 0;
    }
}

#helloline {
    p {
        font-family: $poppins;
        font-size: 1.7em;
        font-weight: 300;
        color: #25334A;
    }

    span {
        font-weight: 400;
        color: $setured;
    }
}

#whatido {
    p {
        font-family: $opensans;
        font-size: 1em;
        color: #25334A;
        line-height: 28px;
    }
    @media #{$tablet} {
        max-width: 500px;
    }
    @media #{$mac13} {
        max-width: 500px;
    }
}

.projectcard {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8em;
    @media #{$mac13} {
        justify-content: space-between;
        margin-bottom: 12em;
    }

    .projectimgdiv {
        padding: 2em 0;
        border-radius: 8px;
        transition: 0.25s all ease-in-out;
        position: relative;
        @media #{$mac13} {
            width: 50%;
            max-height: 325px;
            border-radius: 10px;
            margin: 0;
        }
    }

    .projectcontentdiv {
        width: 90%;
        margin: 0 auto;
        padding-top: 2em;
        position: relative;
        @media #{$mac13} {
            width: 44%;
            padding: 3em 0 0 2em;
            margin: 0;
        }

        .projectnumber {
            position: absolute;
            top: -2em;
            left: -3em;
            @media #{$mac13} {
                top: -3em;
                left: 0;
            }

            p {
                font-size: 8em;
                font-family: $poppins;
                letter-spacing: 2.5px;
                color: $grey1;
                font-weight: 500;
            }
        }

        .organization {
            position: relative;
            z-index: 99;

            p {
                font-size: 0.8em;
                font-weight: 800;
                font-family: $opensans;
                color: #A3a3a3;
                letter-spacing: 1px;
            }
        }

        .projecttitle {
            p {
                font-family: $poppins;
                font-size: 1.7em;
                font-weight: 400;
                color: #25334A;
                letter-spacing: 1px;
                text-decoration: none;
                position: relative;
                z-index: 100;
            }
        }

        .projectdesc {
            position: relative;
            z-index: 98;

            p {
                font-size: 1em;
                font-family: $opensans;
                color: #25334A;
                line-height: 28px;
                @media #{$tablet} {
                    max-width: 380px;
                }
                @media #{$mac13} {
                    max-width: 300px;
                }
            }
        }

        .comingsoon {
            p {
                font-family: $opensans;
                color: $grey4;
                font-style: italic;
                letter-spacing: 1px;
                font-weight: 500;
                font-size: 1em;
            }
        }
    }
}
///////////////////////////////// PROJECT SPECIFIC ///////////////////////////////
//////////// THD NCV CARD SPECIFIC //////////////

.thd_ncv {
    background-color: #A2E3B3;
    width: 100%;

    .projectimg {
        position: relative;
        top: 10%;
        width: 90%;
        margin: 0 auto;
        transition: 0.25s all ease-in-out;
        @media #{$tablet} {
            width: 70%;
        }
        @media #{$mac13} {
            height: 300px;
        }
    }
}
//////////// THD PP CARD SPECIFIC //////////////

.thd_pp {
    background-color: #C9E9F4;
    width: 100%;

    .projectimg {
        width: 90%;
        margin: 0 auto;
        transition: 0.25s all ease-in-out;
        @media #{$tablet} {
            width: 50%;
        }
        @media #{$mac13} {
            position: relative;
            width: 38%;
            top: 0;
            height: 300px;
        }
    }
}
//////////// THD SS CARD SPECIFIC //////////////

.thd_ss {
    background-color: #DBDCFF;
    width: 100%;
    @media #{$tablet} {
        min-height: 450px;
    }
    @media #{$mac13} {
        min-height: 0;
    }

    .projectimg {
        width: 90%;
        margin: 0 auto;
        transition: 0.25s all ease-in-out;
        position: relative;
        @media #{$tablet} {
            top: 10%;
            width: 70%;
            height: 300px;
        }
        @media #{$mac13} {
            width: 85%;
            top: 0;
        }
    }
}
//////////// MOTION DESIGN CARD SPECIFIC //////////////

.motion_design {
    background-color: #F8B2B2;
    width: 100%;
    @media #{$tablet} {
        min-height: 450px;
    }
    @media #{$mac13} {
        min-height: 0;
    }

    .projectimg {
        width: 90%;
        margin: 0 auto;
        transition: 0.25s all ease-in-out;
        position: relative;

        img {
            border-radius: 10px;
        }
        @media #{$tablet} {
            top: 0;
            width: 55%;
            max-width: 380px;
        }
        @media #{$mac13} {
            max-width: 253.44px;
        }
    }
}
////////////////////// HOVER ACTION //////////////////////
////////////////////// HOVER ACTION //////////////////////
////////////////////// HOVER ACTION //////////////////////

.thd_ncv_card:hover {
    cursor: pointer;

    .thd_ncv {
        background-color: #78CB8D;
        transition: 0.25s all ease-in-out;
    }

    .projecttitle {
        p {
            text-decoration: underline;
            text-decoration-style: dotted;
            text-decoration-color: #78CB8D;
        }
    }
}

.thd_pp_card:hover {
    cursor: pointer;

    .thd_pp {
        background-color: #8AC6DB;
        transition: 0.25s all ease-in-out;
    }

    .projecttitle {
        p {
            text-decoration: underline;
            text-decoration-style: dotted;
            text-decoration-color: #8AC6DB;
        }
    }
}

.thd_ss_card:hover {
    cursor: pointer;

    .thd_ss {
        background-color: #BDBEEA;
        transition: 0.25s all ease-in-out;
    }

    .projecttitle {
        p {
            text-decoration: underline;
            text-decoration-style: dotted;
            text-decoration-color: #BDBEEA;
        }
    }
}

.motion_design_card:hover {
    cursor: pointer;

    .motion_design {
        background-color: #F08989;
        transition: 0.25s all ease-in-out;
    }

    .projecttitle {
        p {
            text-decoration: underline;
            text-decoration-style: dotted;
            text-decoration-color: #F08989;
        }
    }
}
//////////////////////// COPYRIGHT START ///////////////////////

#copyrightdiv {
    p {
        font-family: $opensans;
        text-align: center;
        font-size: 1em;
        letter-spacing: 0.5px;
        color: $grey4;
    }
}
////////////////////////// COPYRIGHT E