* {
    transition: 0.4s all ease-in-out;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
    @media #{$tablet} {
        max-width: 650px;
    }
    @media #{$tablet} {
        max-width: 1000px;
    }
}

.twoemboth {
    padding: 2em 0;
}

.threeemboth {
    padding: 3em 0;
}

.fouremboth {
    padding: 4em 0;
}

.oneemboth {
    padding: 1em 0;
}

#newheader {
    margin: 0 auto;
    @media #{$tablet} {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media #{$mac13} {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logodiv {
        width: 60px;
    }

    #newnavflex {
        display: flex;
        flex-wrap: wrap;
        padding-top: 2em;
        @media #{$tablet} {
            width: 40%;
            padding-top: 0;
        }
        @media #{$mac13} {
            width: 35%;
            padding-top: 0;
        }

        .newnavitem {
            width: 33%;

            p {
                font-family: $ubuntu;
                font-size: 1em;
                @media #{$tablet} {
                    font-size: 0.9em;
                }
            }
        }

        .navitemcenter {
            text-align: center;
        }

        .navitemright {
            text-align: right;
        }
    }
}

#firstfold {
    margin: 0 auto;
}

#helloline {
    p {
        font-family: $poppins;
        font-size: 1.3em;
        font-weight: 500;
        color: #25334A;
        @media #{$tablet} {
            font-size: 1.8em;
        }

        span {
            color: red;
        }
    }
}

#whatido {
    p {
        font-family: $ubuntu;
        font-size: 1.1em;
        color: #25334A;
    }
    @media #{$tablet} {
        max-width: 500px;
    }
    @media #{$mac13} {
        max-width: 600px;
    }
}

.projectcard {
    background-color: White;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    @media #{$tablet} {
        margin: 0 auto;
        border-radius: 10px;
    }
    @media #{$mac13} {
        margin: 0 auto;
        border-radius: 10px;
        flex-direction: row;
    }

    .projectimgdiv {
        width: 90%;
        margin: 0 auto;
        @media #{$mac13} {
            width: 40%;
            padding-top: 4em;
        }
    }

    .projectcontentdiv {
        width: 90%;
        margin: 0 auto;
        padding: 3em 0;
        @media #{$mac13} {
            width: 40%;
            padding-top: 4em;
        }

        .organization {
            p {
                font-size: 0.8em;
                font-weight: bolder;
                font-family: $ubuntu;
                color: #9097A2;
                letter-spacing: 2px;
            }
        }

        .projecttitle {
            p {
                font-family: $poppins;
                color: #25334A;
                font-size: 1.3em;
                font-weight: 800;
            }
        }

        .projectdesc {
            p {
                font-size: 1em;
                font-family: $ubuntu;
                color: #25334A;
                line-height: 28px;
            }
        }
    }
}

.projectcard:hover {
    box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
    transition: 0.4s all ease-in-out;
}