* {
    transition: 0.4s all ease-in-out;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
    @media #{$tablet} {
        max-width: 650px;
    }
    @media #{$tablet} {
        max-width: 1000px;
    }
}

.twoemboth {
    padding: 2em 0;
}

.threeemboth {
    padding: 3em 0;
}

.fouremboth {
    padding: 4em 0;
}

.oneemboth {
    padding: 1em 0;
}

.navplaceholder {
    height: 80px;
    width: 100%;
    background-color: $grey2;
}

#newheader {
    margin: 0 auto;
    @media #{$tablet} {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media #{$mac13} {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logodiv {
        width: 60px;
    }

    #newnavflex {
        display: flex;
        flex-wrap: wrap;
        padding-top: 2em;
        @media #{$tablet} {
            width: 40%;
            padding-top: 0;
        }
        @media #{$mac13} {
            width: 35%;
            padding-top: 0;
        }

        .newnavitem {
            width: 33%;

            p {
                font-family: $opensans;
                font-size: 1em;
                @media #{$tablet} {
                    font-size: 0.9em;
                }
            }
        }

        .navitemcenter {
            text-align: center;
        }

        .navitemright {
            text-align: right;
        }
    }
}

#firstfold {
    margin: 0 auto;
    padding: 8em 0;
    @media #{$mac13} {
        padding: 14em 0;
    }
}

#helloline {
    p {
        font-family: $poppins;
        font-size: 1.7em;
        font-weight: 300;
        color: #25334A;
    }

    span {
        font-weight: 400;
        color: $setured;
    }
}

#whatido {
    p {
        font-family: $opensans;
        font-size: 1em;
        color: #25334A;
    }
    @media #{$tablet} {
        max-width: 500px;
    }
    @media #{$mac13} {
        max-width: 500px;
    }
}

.projectcard {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8em;
    @media #{$mac13} {
        justify-content: space-between;
        margin-bottom: 12em;
    }

    .projectimgdiv {
        background-color: #A2E3B3;
        padding: 2em 0;
        border-radius: 8px;
        @media #{$mac13} {
            width: 40%;
            border-radius: 10px;
            margin: 0;
        }

        .projectimg {
            position: relative;
            top: 10%;
            width: 90%;
            margin: 0 auto;
            @media #{$tablet} {
                width: 60%;
            }
            @media #{$mac13} {
                width: 80%;
            }
        }
    }

    .projectcontentdiv {
        width: 90%;
        margin: 0 auto;
        padding-top: 2em;
        @media #{$mac13} {
            width: 40%;
            padding-top: 4em;
            margin: 0;
        }

        .organization {
            p {
                font-size: 0.8em;
                font-weight: 800;
                font-family: $opensans;
                color: #A3a3a3;
                letter-spacing: 1px;
            }
        }

        .projecttitle {
            p {
                font-family: $poppins;
                color: #25334A;
                font-size: 1.4em;
                font-weight: 800;
                letter-spacing: 1px;
                text-decoration: none;
            }
        }

        .projectdesc {
            p {
                font-size: 1em;
                font-family: $opensans;
                color: #25334A;
                line-height: 28px;
                max-width: 300px;
            }
        }
    }
}

.projectcard:hover {
    .projectimgdiv {
        background-color: #6CD387;
    }
}