* {
    font-family: $roboto;
}
////////////////////////////////////////////////////////////////////
////////////// NEW HEADER ////////////////

#header {
    padding: 2em 0;
    margin: 0 auto;
    width: 100%;
    @media #{$tablet} {
        padding: 2em 0;
    }
    @media #{$mac13} {
        // max-width: 1000px;
        padding: 2em 0;
    }
    @media #{$mac15} {
        // max-width: 1000px;
        padding: 2em 0;
    }
    @media #{$monitor} {
        // max-width: 1000px;
        padding: 2em 0;
    }
    @media #{$fourk} {
        max-width: 1550px;
    }

    #headerflex {
        @media #{$tablet} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }
        @media #{$mac13} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }
        @media #{$mac15} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }
        @media #{$monitor} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }
        @media #{$fourk} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }

        .name {
            transition: 0.3s all ease-in-out;
            position: relative;

            a {
                color: black;
                transition: 0.3s all ease-in-out;
            }

            p {
                font-family: georgia;
                width: 180px;
                font-size: 1.5em;
                margin: 0;
                @media #{$fourk} {
                    font-size: 1.9em;
                    width: 280px;
                }
            }
        }

        .name:hover {
            transition: 0.3s all ease-in-out;
            color: $setured;
            cursor: pointer;

            a {
                color: $setured;
                transition: 0.3s all ease-in-out;
            }
        }

        #navflex {
            width: 80%;
            padding-top: 1em;
            display: none;
            @media #{$mac13} {
                width: 40%;
                justify-content: space-between;
                padding-top: 0.7em;
                display: flex;
            }
            @media #{$mac15} {
                width: 40%;
                justify-content: space-between;
                padding-top: 0.7em;
                display: flex;
            }
            @media #{$monitor} {
                width: 40%;
                justify-content: space-between;
                padding-top: 0.7em;
                display: flex;
            }
            @media #{$fourk} {
                width: 40%;
                justify-content: space-between;
                padding-top: 0.7em;
                display: flex;
            }

            .navitem {
                a {
                    transition: 0.3s all ease-in-out;
                    color: black;
                }
                width: 20%;
                text-align: left;
                @media #{$mac13} {
                    text-align: right;
                }
                @media #{$mac15} {
                    text-align: right;
                }
                @media #{$monitor} {
                    text-align: right;
                }
                @media #{$fourk} {
                    text-align: right;
                    font-size: 1.4em;
                }
                transition: 0.3s all ease-in-out;

                p {
                    font-size: 0.9em;
                    font-weight: 500;
                }
            }

            .navitem:hover {
                a {
                    transition: 0.3s all ease-in-out;
                    color: $setured;
                }
                font-weight: bolder;
                cursor: pointer;
            }
        }
    }
}

#menuicon {
    font-size: 1.1em;
    position: absolute;
    right: 0;
    z-index: 100;
    top: 0;
    padding: 2em 1em;
    display: block;
    position: fixed;
    @media #{$tablet} {
        padding: 2em;
    }
    @media #{$mac13} {
        display: none;
    }
    @media #{$mac15} {
        display: none;
    }
    @media #{$monitor} {
        display: none;
    }
    @media #{$fourk} {
        display: none;
    }
}

#mobilemenuwrapper {
    opacity: 0;
    z-index: -2;
    transition: 0.3s all ease-in-out;
    width: 100%;
    background-color: white;
    padding: 0 1.5em 0 1em;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    -webkit-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
    -moz-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
    box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);

    #menunameflex {
        padding: 2em 0 0;
        @media #{$tablet} {
            padding: 2em 0 0 1em;
        }
        transition: 0.3s all ease-in-out;

        #menuName {
            a {
                letter-spacing: normal;
                font-size: 1.5em;

                p {
                    width: 180px;
                    font-family: georgia;
                    color: black;
                }
                transition: 0.3s all ease-in-out;
            }
        }

        #menuxicon {
            position: absolute;
            top: 0;
            right: 0;
            padding: 2.45em 1.5em 0 0;
            @media #{$tablet} {
                padding: 2.45em 2.4em 0 0;
            }
        }
    }

    #menuline {
        height: 3px;
        background-color: black;
        margin: 0 auto;
        width: 100%;
        margin-top: 2em;
        transition: 0.3s all ease-in-out;
        @media #{$tablet} {
            width: 95%;
        }
    }

    ul {
        padding: 1em 0;
        transition: 0.3s all ease-in-out;
        margin: 0;
        @media #{$tablet} {
            margin-left: 1.25em;
        }

        li {
            list-style: none;
            padding: 1.5em 0;

            a {
                color: black;
            }
        }
    }
}
//////////////// HEADER END ///////////////

#hero {
    background-image: url("img/photography/hero.png");
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 400px;
    position: relative;
    @media #{$phablet} {
        height: 600px;
    }
    @media #{$tablet} {
        height: 800px;
    }
    @media #{$mac13} {
        height: 600px;
    }
    @media #{$mac15} {
        height: 600px;
    }
    @media #{$monitor} {
        height: 800px;
    }

    .title {
        position: absolute;
        font-family: $cursive;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: white;
        width: 100%;
        text-shadow: 2px 2px $bgdark;
        font-size: 4em;
        @media #{$phablet} {
            font-size: 4em;
        }
        @media #{$tablet} {
            font-size: 6em;
        }
        @media #{$mac13} {
            font-size: 6em;
        }
        @media #{$mac15} {
            font-size: 6em;
        }
        @media #{$monitor} {
            font-size: 8em;
        }
    }
}

.outercontainer {
    background-color: $dsdarkgrey;

    .descriptioncontainer {
        padding: 4em 0;
        @media #{$monitor} {
            width: 70%;
            margin: 0 auto;
        }

        .contentbox {
            width: 90%;
            color: $grey2;
            line-height: 2em;
            margin: 0 auto;
            @media #{$tablet} {
                width: 70%;
                margin: 0 auto;
            }
            @media #{$mac13} {
                width: 70%;
                margin: 0 auto;
            }
            @media #{$mac15} {
                width: 70%;
                margin: 0 auto;
            }
            @media #{$monitor} {
                width: 65%;
                margin: 0 auto;
            }
        }
    }
}
/////////////////////////// photos ////////////////////////

.photographybody {
    background-color: #1E1E1E;

    .imagediv {
        width: 95%;
        margin: 0 auto;

        img {
            width: 100%;
        }

        .imgwide {
            width: 100%;
            padding: 2em 0;
            margin: 0 auto;
            @media #{$mac13} {
                padding: 4em 2em;
            }
            @media #{$mac15} {
                padding: 4em 2em;
            }
            @media #{$monitor} {
                padding: 4em 2em;
            }
        }

        .imageflex {
            // padding-bottom: 2em;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @media #{$mac13} {
                padding-bottom: 4em;
            }
            @media #{$mac15} {
                padding-bottom: 4em;
            }
            @media #{$monitor} {
                padding-bottom: 4em;
            }

            .imghalf {
                width: 100%;
                padding: 2em 0;
                @media #{$mac13} {
                    width: 50%;
                    padding: 2em;
                }
                @media #{$mac15} {
                    width: 50%;
                    padding: 2em;
                }
                @media #{$monitor} {
                    width: 50%;
                    padding: 2em;
                }
            }
        }
    }
}