* {
    font-family: $roboto;
    transition: 0.3s all ease-in-out;
}
////////////// NEW HEADER ////////////////

#headerwrapper {
    width: 90%;
}

#header {
    padding: 2em 1em;
    margin: 0 auto;
    width: 100%;
    @media #{$tablet} {
        padding: 2em;
    }
    @media #{$mac13} {
        // max-width: 1000px;
        padding: 2em 0;
    }
    @media #{$mac15} {
        // max-width: 1000px;
        padding: 2em 0;
    }
    @media #{$monitor} {
        // max-width: 1000px;
        padding: 2em 0;
    }
    @media #{$fourk} {
        max-width: 1550px;
    }

    #headerflex {
        @media #{$tablet} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }
        @media #{$mac13} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }
        @media #{$mac15} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }
        @media #{$monitor} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }
        @media #{$fourk} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }

        .name {
            transition: 0.3s all ease-in-out;
            position: relative;

            a {
                color: black;
                transition: 0.3s all ease-in-out;
            }

            p {
                font-family: georgia;
                font-size: 1.5em;
                margin: 0;
                @media #{$fourk} {
                    font-size: 1.9em;
                }
            }
        }

        .name:hover {
            transition: 0.3s all ease-in-out;
            color: $setured;
            cursor: pointer;

            a {
                color: $setured;
                transition: 0.3s all ease-in-out;
            }
        }

        #navflex {
            width: 80%;
            padding-top: 1em;
            display: none;
            @media #{$mac13} {
                width: 40%;
                justify-content: space-between;
                padding-top: 0.7em;
                display: flex;
            }
            @media #{$mac15} {
                width: 40%;
                justify-content: space-between;
                padding-top: 0.7em;
                display: flex;
            }
            @media #{$monitor} {
                width: 40%;
                justify-content: space-between;
                padding-top: 0.7em;
                display: flex;
            }
            @media #{$fourk} {
                width: 40%;
                justify-content: space-between;
                padding-top: 0.7em;
                display: flex;
            }

            .navitem {
                a {
                    transition: 0.3s all ease-in-out;
                    color: black;
                }
                width: 20%;
                text-align: left;
                @media #{$mac13} {
                    text-align: right;
                }
                @media #{$mac15} {
                    text-align: right;
                }
                @media #{$monitor} {
                    text-align: right;
                }
                @media #{$fourk} {
                    text-align: right;
                    font-size: 1.4em;
                }
                transition: 0.3s all ease-in-out;

                p {
                    font-size: 0.9em;
                    font-weight: 500;
                }
            }

            .navitem:hover {
                a {
                    transition: 0.3s all ease-in-out;
                    color: $setured;
                }
                font-weight: bolder;
                cursor: pointer;
            }
        }
    }
}

#menuicon {
    font-size: 1.1em;
    position: absolute;
    right: 0;
    z-index: 100;
    top: 0;
    padding: 2em 1em;
    display: block;
    position: fixed;
    @media #{$tablet} {
        padding: 2em;
    }
    @media #{$mac13} {
        display: none;
    }
    @media #{$mac15} {
        display: none;
    }
    @media #{$monitor} {
        display: none;
    }
    @media #{$fourk} {
        display: none;
    }
}

#mobilemenuwrapper {
    opacity: 0;
    z-index: -2;
    transition: 0.3s all ease-in-out;
    width: 100%;
    background-color: white;
    padding: 0 1.5em 0 1em;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    -webkit-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
    -moz-box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);
    box-shadow: 0 4px 15px -4px rgba(102,102,102,0.75);

    #menunameflex {
        padding: 2em 0 0;
        @media #{$tablet} {
            padding: 2em 0 0 1em;
        }
        transition: 0.3s all ease-in-out;

        #menuName {
            a {
                letter-spacing: normal;
                font-size: 1.5em;

                p {
                    font-family: georgia;
                    color: black;
                }
                transition: 0.3s all ease-in-out;
            }
        }

        #menuxicon {
            position: absolute;
            top: 0;
            right: 0;
            padding: 2.45em 1.5em 0 0;
            @media #{$tablet} {
                padding: 2.45em 2.4em 0 0;
            }
        }
    }

    #menuline {
        height: 3px;
        background-color: black;
        margin: 0 auto;
        width: 100%;
        margin-top: 2em;
        transition: 0.3s all ease-in-out;
        @media #{$tablet} {
            width: 95%;
        }
    }

    ul {
        padding: 1em 0;
        transition: 0.3s all ease-in-out;
        margin: 0;
        @media #{$tablet} {
            margin-left: 1.25em;
        }

        li {
            list-style: none;
            padding: 1.5em 0;

            a {
                color: black;
            }
        }
    }
}
//////////////// HEADER END ///////////////

p {
    line-height: 1.8em;
}
@media #{$phablet} {}
@media #{$tablet} {}
@media #{$mac13} {}
@media #{$mac15} {}
@media #{$monitor} {}
@media #{$fourk} {}
////////// PROGRESS BAR //////////

.KW_progressContainer {
    left: 0;
    width: 100%;
    height: 0.4em;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    background-color: white;
    content: "";
    display: table;
    table-layout: fixed;
}

.KW_progressBar {
    width: 0;
    float: left;
    height: 100%;
    z-index: 99;
    max-width: 100%;
    background-color: orange;
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
////////// PROGRESS BAR END //////////

.titlediv {
    text-align: left;
    padding: 1em 0;
    font-size: 1em;
    color: $grey4;
    font-weight: 400;
    @media #{$mac13} {
        font-size: 1.1em;
    }
}

.whitetext {
    color: white;
}

.highfidheader {
    color: $piudarkblue;
    font-weight: bold;
    font-size: 1.2em;
}

.sixembottom {
    padding-bottom: 6em;
}

.fourembottom {
    padding-bottom: 4em;
}

.fouremboth {
    padding: 4em 0;
}

.sixemboth {
    padding: 6em 0;
}

.subheader {
    font-weight: bold;
    font-size: 1.2em;
    color: $esaurgreen;
}

.centerdesc {
    // width: 90%;
    margin: 0 auto;
    line-height: 2em;
    @media #{$tablet} {
        width: 65%;
        text-align: left;
        margin: 0;
        font-size: 1.1em;
    }
    @media #{$mac13} {
        width: 55%;
        text-align: left;
        margin: 0;
        font-size: 1.2em;
    }
    @media #{$mac15} {
        width: 60%;
        text-align: left;
        margin: 0;
        font-size: 1.2em;
    }
    @media #{$monitor} {
        width: 50%;
        text-align: left;
        margin: 0;
        font-size: 1.4em;
    }
    @media #{$fourk} {
        width: 25%;
        text-align: left;
        margin: 0;
        font-size: 1.3em;
    }
}
////////////////////////////////////////////////////////////////////

#herosection {
    background-image: url("img/premera/herobg.png");
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: auto;
    position: relative;
    height: 500px;
    @media #{$phablet} {
        height: 600px;
    }
    @media #{$tablet} {
        height: 650px;
    }
    @media #{$mac13} {
        height: 600px;
    }
    @media #{$mac15} {
        height: 600px;
    }
    @media #{$monitor} {
        height: 800px;
    }
    @media #{$fourk} {
        height: 2800px;
    }

    #herotagline {
        p {
            color: white;
            font-weight: 500;
            text-align: center;
        }
        width: 90%;
        margin: 0 auto;
        padding: 2em 0;
        @media #{$tablet} {
            padding: 0;
        }
        @media #{$mac13} {
            font-size: 1.2em;
            position: absolute;
            top: 75%;
            transform: translateY(-50%);
            right: 5%;
            width: 40%;
        }
        @media #{$mac15} {
            font-size: 1.2em;
            position: absolute;
            top: 75%;
            transform: translateY(-50%);
            right: 15%;
            width: 30%;
        }
        @media #{$monitor} {
            font-size: 1.5em;
            position: absolute;
            top: 75%;
            transform: translateY(-50%);
            right: 16%;
            width: 25%;
        }
    }

    .logodiv {
        width: 80%;
        margin: 0 auto;
        padding: 6em 0 3em;
        @media #{$tablet} {
            width: 35%;
            margin: 0 auto;
            padding: 8em 0 2em;
        }
        @media #{$mac13} {
            position: absolute;
            top: 35%;
            transform: translateY(-50%);
            right: 5%;
            width: 40%;
        }
        @media #{$mac15} {
            position: absolute;
            top: 30%;
            transform: translateY(-50%);
            right: 15%;
            width: 30%;
        }
        @media #{$monitor} {
            position: absolute;
            top: 30%;
            transform: translateY(-50%);
            right: 15%;
            width: 25%;
        }
    }

    .macdiv {
        width: 95%;
        margin: 0 auto;
        // z-index: 999;
        @media #{$phablet} {
            width: 90%;
            max-width: 450px;
        }
        @media #{$tablet} {
            width: 75%;
            max-width: 520px;
            padding: 2em 0;
            transform: translateY(50%);
            transform: translateX(0%);
        }
        @media #{$mac13} {
            width: 65%;
            max-width: 720px;
            position: absolute;
            top: 62%;
            transform: translateY(-50%);
            left: -8em;
        }
        @media #{$mac15} {
            width: 55%;
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
            left: -10em;
        }
        @media #{$monitor} {
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
            left: 5em;
        }
    }

    .storytitle {
        text-align: center;
        width: 90%;
        padding: 2em 0;
        margin: 0 auto;
        font-size: 1.2em;
        @media #{$tablet} {
            font-size: 1em;
            position: absolute;
            top: 70%;
            transform: translateY(-50%);
            right: 5%;
            width: 40%;
        }
        @media #{$mac13} {
            font-size: 1.2em;
            position: absolute;
            top: 85%;
            transform: translateY(-50%);
            right: 5%;
            width: 40%;
        }
        @media #{$mac15} {
            font-size: 1.2em;
            position: absolute;
            top: 90%;
            transform: translateY(-50%);
            right: 15%;
            width: 30%;
        }
        @media #{$monitor} {
            font-size: 1.4em;
            position: absolute;
            top: 80%;
            transform: translateY(-50%);
            right: 15%;
            width: 30%;
        }
    }

    #greenline {
        width: 100%;
        height: 8px;
        background-color: $esaurgreen;
        position: absolute;
        bottom: 0;
    }
}
////////////////////// ROLE /////////////////

#rolesection {
    .roleflex {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100%;

        .roletitle {
            background-color: $premerateal;
            text-align: center;
            width: 90%;
            margin: 1em auto 0;
            padding: 1em;
            position: relative;

            .roletitletext {
                font-size: 1.8em;
                color: white;
                font-weight: bold;
                @media #{$tablet} {
                    position: absolute;
                    top: 40%;
                    transform: translateY(-50%);
                    right: 50%;
                    transform: translateX(40%);
                }
                @media #{$mac13} {
                    position: absolute;
                    top: 40%;
                    transform: translateY(-50%);
                    right: 50%;
                    transform: translateX(40%);
                }
                @media #{$mac15} {
                    position: absolute;
                    top: 40%;
                    transform: translateY(-50%);
                    right: 50%;
                    transform: translateX(40%);
                }
                @media #{$monitor} {
                    font-size: 2em;
                    position: absolute;
                    top: 40%;
                    transform: translateY(-50%);
                    right: 50%;
                    transform: translateX(40%);
                }
            }
            @media #{$tablet} {
                width: 25%;
                margin: 1em auto;
            }
            @media #{$mac13} {
                width: 25%;
                margin: 1em auto;
            }
            @media #{$mac15} {
                width: 25%;
                margin: 1em auto;
            }
            @media #{$monitor} {
                width: 25%;
                margin: 1em auto;
            }
        }

        .rolecontent {
            background-color: $esaurgrey1;
            text-align: center;
            width: 90%;
            margin: 0 auto 1em;
            @media #{$tablet} {
                width: 100%;
                margin: 1em auto;
            }
            @media #{$mac13} {
                margin: 1em auto;
            }
            @media #{$mac15} {
                margin: 1em auto;
            }
            @media #{$monitor} {
                margin: 1em auto;
            }

            .roletext {
                color: $textdark;
                padding-top: 2em;
                font-weight: bold;
                font-size: 1.3em;
                @media #{$monitor} {
                    font-size: 1.4em;
                }
            }

            .roleline {
                width: 70px;
                height: 3.5px;
                background-color: $premeracoral;
                margin: 0 auto;
            }

            .rolecontenttext {
                width: 100%;
                padding: 1em;
                font-size: 1.1em;
                text-align: center;
                margin: 0 auto;
                @media #{$tablet} {
                    width: 100%;
                    padding: 2em;
                }
                @media #{$mac13} {
                    width: 90%;
                    padding: 2em;
                }
                @media #{$mac15} {
                    width: 60%;
                    padding: 2em;
                }
                @media #{$monitor} {
                    width: 50%;
                    padding: 3em;
                }
            }
            @media #{$tablet} {
                width: 73%;
            }
            @media #{$mac13} {
                width: 73%;
            }
            @media #{$mac15} {
                width: 73%;
            }
            @media #{$monitor} {
                width: 73%;
            }
        }
    }
}

.stdbox {
    // background-color: $grey1;
    margin: 0 auto;
    width: 100%;

    .contentbox {
        width: 90%;
        margin: 0 auto;
        padding: 2em 0;
        @media #{$mac15} {
            width: 75%;
        }
        @media #{$monitor} {
            width: 75%;
        }
    }
}

.greybg {
    background-color: $grey1;
}

.imgdiv {
    padding: 3em 0;
}

.oldimagediv {
    @media #{$mac13} {
        width: 80%;
    }
}

.pretestimg {
    padding-bottom: 5em;
    @media #{$tablet} {
        width: 80%;
        margin: 0 auto;
    }
    @media #{$mac13} {
        width: 80%;
        margin: 0 auto;
    }
    @media #{$mac15} {
        width: 90%;
        margin: 0 auto;
    }
    @media #{$monitor} {
        width: 90%;
        margin: 0 auto;
    }
}

.premera_listens {
    @media #{$tablet} {
        width: 70%;
    }
    @media #{$mac13} {
        width: 65%;
    }
    @media #{$mac15} {
        width: 55%;
    }
    @media #{$monitor} {
        width: 45%;
    }
}

.wireframes {
    padding-bottom: 6em;
}