* {
    font-family: $roboto;
}
@media #{$phablet} {}
@media #{$tablet} {}
@media #{$mac13} {}
@media #{$mac15} {}
@media #{$monitor} {}
@media #{$fourk} {}

.titlediv {
    text-align: center;
    padding: 2em 0;
    font-weight: 300;
    font-size: 3em;
    color: $piudarkblue;
}

.whitetext {
    color: white;
    font-size: 1.3em;
}

.highfidheader {
    color: $piudarkblue;
    font-weight: bold;
    font-size: 1.2em;
}

.sixembottom {
    padding-bottom: 6em;
}

.fourembottom {
    padding-bottom: 4em;
}

.fouremboth {
    padding: 4em 0;
}

.sixemboth {
    padding: 6em 0;
}

.centerdesc {
    width: 90%;
    margin: 0 auto;
    line-height: 2em;

    .subheader {
        font-weight: bold;
        font-size: 1.2em;
        color: $piudarkblue;
    }
    @media #{$tablet} {
        width: 65%;
    }
    @media #{$mac13} {
        width: 55%;
    }
    @media #{$mac15} {
        width: 40%;
    }
    @media #{$monitor} {
        width: 35%;
    }
    @media #{$fourk} {
        width: 25%;
    }
}
////////////////////////////////////////////////////////////////////

#herosection {
    background-image: url("img/pumpitup/herobg.png");
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 400px;
    position: relative;
    @media #{$phablet} {
        height: 600px;
    }
    @media #{$tablet} {
        height: 800px;
    }
    @media #{$mac13} {
        height: 600px;
    }
    @media #{$mac15} {
        height: 600px;
    }
    @media #{$monitor} {
        height: 800px;
    }
    @media #{$fourk} {
        height: 2800px;
    }

    #piulogodiv {
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        width: 70%;

        #piulogo {
            width: 100%;
        }
        @media #{$phablet} {
            width: 80%;
            top: 30%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
        }
        @media #{$tablet} {
            width: 50%;
            top: 30%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
        }
        @media #{$mac13} {
            width: 30%;
            left: 10%;
            position: absolute;
            top: 60%;
            transform: translateY(-50%);
        }
        @media #{$mac15} {
            width: 25%;
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
            left: 15%;
        }
        @media #{$monitor} {
            width: 25%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15%;
        }
        @media #{$fourk} {
            width: 30%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15%;
        }
    }

    #herophonediv {
        position: absolute;
        bottom: 0;
        visibility: hidden;
        @media #{$mac13} {
            right: 5%;
            visibility: visible;
        }
        @media #{$mac15} {
            right: 15%;
            visibility: visible;
        }
        @media #{$monitor} {
            right: 15%;
            visibility: visible;
        }
        @media #{$fourk} {
            right: 15%;
            visibility: visible;
        }
    }

    #redline {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0.4em;
        background-color: $piured;
    }
}
/////////////// PROCESS  /////////////

#processsection {
    background-color: $piugreylight;

    .roleflex {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        @media #{$monitor} {
            width: 75%;
        }
    }

    .roleitem {
        width: 50%;
        padding-bottom: 4em;
        @media #{$tablet} {
            width: 50%;
            margin: 0 auto;
        }
        @media #{$mac13} {
            width: 25%;
            margin: 0 auto;
        }
        @media #{$mac15} {
            width: 25%;
        }
        @media #{$monitor} {
            width: 25%;
        }
    }

    .roletitle {
        color: #A0A0A0;
        // padding-top: 2em;
        @media #{$tablet} {
            width: 80%;
            margin: 0 auto;
        }
        @media #{$mac13} {
            width: 80%;
            margin: 0 auto;
        }
        @media #{$mac15} {
            width: 80%;
        }
        @media #{$monitor} {
            width: 80%;
        }
    }

    .rolebody {
        color: $piublack;
        font-size: 1em;
        width: 90%;
        @media #{$tablet} {
            font-size: 1.2em;
            width: 80%;
            margin: 1em auto;
        }
        @media #{$mac13} {
            font-size: 1.2em;
            width: 80%;
            margin: 1em auto;
        }
        @media #{$mac15} {
            font-size: 1.2em;
            width: 100%;
            margin: 1em auto;
        }
        @media #{$monitor} {
            font-size: 1.2em;
            width: 100%;
            margin: 1em auto;
        }
    }

    .processimgdiv {
        width: 90%;
        margin: 0 auto;
        padding: 4em 0 8em;

        #processimg {
            width: 100%;
        }
        @media #{$tablet} {
            width: 70%;
        }
        @media #{$mac13} {
            width: 50%;
        }
        @media #{$mac15} {
            width: 40%;
        }
        @media #{$monitor} {
            width: 40%;
            padding: 8em 0;
        }
    }
}
/////////////////////////// PROCESS ////////////////////////

#problemsection {
    @media #{$monitor} {
        width: 80%;
        margin: 0 auto;
    }

    .centerdesc {
        width: 90%;
        margin: 0 auto;
        padding: 2em 0;
        @media #{$tablet} {
            width: 65%;
        }
        @media #{$mac13} {
            width: 55%;
        }
        @media #{$mac15} {
            width: 40%;
        }
        @media #{$monitor} {
            width: 40%;
        }
        @media #{$fourk} {
            width: 35%;
        }
    }

    .problemflex {
        display: flex;
        flex-wrap: wrap;
        padding: 6em 0;
        // background-color: red;
        justify-content: center;

        .homediv {
            width: 90%;
            margin: 0 auto;

            #simplehome {
                width: 100%;
            }
            @media #{$phablet} {
                width: 90%;
            }
            @media #{$tablet} {
                width: 65%;
            }
            @media #{$mac13} {
                width: 45%;
            }
            @media #{$mac15} {
                width: 40%;
            }
            @media #{$monitor} {
                width: 40%;
            }
            @media #{$fourk} {
                width: 35%;
            }
        }

        .issuehalf {
            width: 90%;
            margin-left: 0;
            padding-top: 4em;
            // background-color: blue;
            @media #{$phablet} {
                width: 80%;
                margin-left: 0;
                padding-top: 4em;
            }
            @media #{$tablet} {
                width: 50%;
                margin-left: 0;
                padding-top: 4em;
            }
            @media #{$mac13} {
                width: 30%;
                margin: 0 6em;
                padding-top: 3em;
            }
            @media #{$mac15} {
                width: 30%;
                margin: 0 6em;
                padding-top: 3em;
            }
            @media #{$monitor} {
                width: 30%;
                margin-left: 6em;
                padding-top: 3em;
            }
            @media #{$fourk} {
                width: 30%;
                margin-left: 6em;
                padding-top: 3em;
            }

            .homeissuediv {
                display: flex;
                // flex-wrap: wrap;
                padding: 1em 0;

                .annotation {
                    background-color: $piured;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    border-radius: 30px;
                    color: white;
                    font-weight: bold;
                    margin-right: 1em;
                }

                .issuedesc {
                    width: 85%;
                }
            }
        }
    }
}
///////////////////////// RESEARCH /////////////////// -->

#researchsection {
    background-color: $piudarkblue;

    .researchiconsflex {
        padding: 8em 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .icondiv {
            width: 30%;
            padding: 2em 0;
            margin: 0 auto;
            // background-color: red;
            @media #{$tablet} {
                width: 15%;
            }
            @media #{$mac13} {
                width: auto;
            }
            @media #{$mac15} {
                width: auto;
            }
            @media #{$monitor} {
                width: auto;
            }
            @media #{$fourk} {
                width: auto;
            }
        }
    }
}

.researchcontentsection {
    .journeymapdiv {
        width: 95%;
        margin: 0 auto;

        .journeymap {
            width: 100%;
        }
        @media #{$phablet} {
            width: 95%;
        }
        @media #{$tablet} {
            width: 85%;
        }
        @media #{$mac13} {
            width: 85%;
        }
        @media #{$mac15} {
            width: 75%;
        }
        @media #{$monitor} {
            width: 70%;
        }
        @media #{$fourk} {
            width: 60%;
        }
    }

    .keyfindingflex {
        display: flex;
        flex-wrap: wrap;

        .keyfindingdiv {
            width: 90%;
            margin: 0 auto;

            .rfingdiv {
                width: 90%;
                margin: 0 auto;
                @media #{$monitor} {
                    width: 70%;
                }

                img {
                    width: 100%;
                }
            }
            @media #{$phablet} {
                width: 90%;
            }
            @media #{$tablet} {
                width: 50%;
            }
            @media #{$mac13} {
                width: 33%;
            }
            @media #{$mac15} {
                width: 33%;
            }
            @media #{$monitor} {
                width: 33%;
            }
            @media #{$fourk} {
                width: 33%;
            }
        }
    }
}
/////////////// IDEATION /////////////////////////////

#ideationsection {
    background-color: $piudarkblue;

    .ideaiconsflex {
        padding: 8em 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        @media #{$monitor} {
            width: 70%;
        }
        margin: 0 auto;

        .icondiv {
            width: 30%;
            margin: 0 auto;
            @media #{$tablet} {
                width: 15%;
            }
            @media #{$mac13} {
                width: auto;
            }
            @media #{$mac15} {
                width: auto;
            }
            @media #{$monitor} {
                width: auto;
            }
            @media #{$fourk} {
                width: auto;
            }
        }
    }
}

.ideacontentsection {
    .userneedflex {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        @media #{$monitor} {
            width: 70%;
        }

        .userneeddiv {
            // background-color: red;
            .userneed {
                width: 90%;
                @media #{$mac13} {
                    width: 80%;
                }
                @media #{$mac15} {
                    width: 80%;
                }
                @media #{$monitor} {
                    width: 80%;
                }
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }
            @media #{$mac13} {
                width: 33%;
            }
            @media #{$mac15} {
                width: 33%;
            }
            @media #{$monitor} {
                width: 33%;
            }
        }
    }

    .conceptdiv {
        width: 90%;
        margin: 0 auto;
        @media #{$tablet} {
            width: 75%;
        }
        @media #{$mac13} {
            width: 75%;
        }
        @media #{$mac15} {
            width: 65%;
        }
        @media #{$monitor} {
            width: 55%;
        }

        .concept {
            width: 100%;
        }
    }

    .sketchesflex {
        display: flex;
        flex-wrap: wrap;

        .sketchdiv {
            width: 90%;
            margin: 0 auto;
            padding: 2em 0;
            @media #{$tablet} {
                width: 65%;
            }
            @media #{$mac13} {
                width: 50%;
                padding: 4em 2em;
            }
            @media #{$mac15} {
                width: 33%;
                padding: 4em 2em;
            }
            @media #{$monitor} {
                width: 30%;
                padding: 4em 2em;
            }
        }
    }
}
////////////////////// LOW FIDELITY ///////////////////////////

#lowfidsection {
    background-color: $piudarkblue;

    .ideaiconsflex {
        padding: 8em 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        @media #{$monitor} {
            width: 70%;
        }
        margin: 0 auto;

        .icondiv {
            width: 30%;
            margin: 0 auto;
            @media #{$tablet} {
                width: 15%;
            }
            @media #{$mac13} {
                width: auto;
            }
            @media #{$mac15} {
                width: auto;
            }
            @media #{$monitor} {
                width: auto;
            }
            @media #{$fourk} {
                width: auto;
            }
        }
    }
}

.lowfidcontentsection {
    .changeflex {
        display: flex;
        flex-wrap: wrap;

        .changediv {
            width: 90%;
            margin: 0 auto;
            @media #{$mac13} {
                width: 40%;
            }
            @media #{$mac15} {
                width: 40%;
            }
            @media #{$monitor} {
                width: 50%;
            }

            .changepic {
                width: 90%;
                @media #{$tablet} {
                    width: 60%;
                }
                @media #{$monitor} {
                    width: 55%;
                }
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }
        }
    }

    .lowfidflex {
        display: flex;
        flex-wrap: wrap;

        .lowfiddiv {
            width: 90%;
            margin: 0 auto;
            @media #{$mac13} {
                width: 50%;
            }
            @media #{$mac15} {
                width: 50%;
            }
            @media #{$monitor} {
                width: 50%;
            }

            .lowfid {
                width: 100%;
                margin: 0 auto;
                @media #{$tablet} {
                    width: 75%;
                }
                @media #{$mac13} {
                    width: 80%;
                }
                @media #{$mac15} {
                    width: 65%;
                }
                @media #{$monitor} {
                    width: 65%;
                }

                img {
                    width: 100%;
                }
            }
        }

        .lowfidtaskdiv {
            width: 90%;
            margin: 0 auto;
            @media #{$mac13} {
                width: 50%;
            }
            @media #{$mac15} {
                width: 50%;
            }
            @media #{$monitor} {
                width: 50%;
            }

            .lowfidtask {
                width: 90%;
                padding-top: 6em;
                margin: 0 auto;
                @media #{$phablet} {
                    width: 75%;
                }
                @media #{$tablet} {
                    width: 50%;
                }
                @media #{$mac13} {
                    width: 55%;
                }
                @media #{$mac15} {
                    width: 40%;
                }
                @media #{$monitor} {
                    width: 35%;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}
////////////////////// HIGH FIDELITY ///////////////////////////

#highfidsection {
    background-color: $piudarkblue;
    // position: relative;
    .protobtndiv {
        padding: 6em 0;

        .protobtn {
            width: 260px;
            font-size: 1.5em;
            color: white;
            border: 2px solid white;
            text-align: center;
            border-radius: 8px;
            margin: 0 auto;

            p {
                padding-top: 0.5em;
            }
        }

        .protobtn:hover {
            cursor: pointer;
            background-color: white;
            font-weight: 600;
            color: $piudarkblue;
            transition: all 0.30s ease-in-out;
        }
    }
}

#highfidcontentsection {
    .hfsec {
        width: 90%;
        @media #{$tablet} {
            width: 90%;
        }
        @media #{$mac13} {
            width: 85%;
        }
        @media #{$mac15} {
            width: 80%;
        }
        @media #{$monitor} {
            width: 75%;
        }
        margin: 0 auto;
    }

    .hfsecuserneedflex {
        display: flex;
        flex-wrap: wrap;
        // background-color: green;
        justify-content: space-between;

        .hfsecuserneeddiv {
            @media #{$tablet} {
                width: 50%;
            }
            @media #{$mac13} {
                width: 50%;
            }
            @media #{$mac15} {
                width: 50%;
            }
        }

        .hfsecuserneediconflex {
            width: 100%;
            // background-color: red;
            display: flex;
            flex-wrap: wrap;

            .userneedicondiv {
                @media #{$mac13} {
                    width: 90%;
                }
                @media #{$mac15} {
                    width: 50%;
                    position: relative;
                    left: -0.5em;
                }
                @media #{$monitor} {
                    width: 50%;
                    position: relative;
                    left: -0.5em;
                }
            }

            .userneedicon {
                padding-bottom: 1.5em;
                @media #{$phablet} {
                    width: 100%;
                    padding-bottom: 1.5em;
                }
                @media #{$tablet} {
                    width: 90%;
                    padding-bottom: 1.5em;
                }
                @media #{$mac13} {
                    width: 80%;
                    padding: 1em;
                }
                @media #{$mac15} {
                    width: 90%;
                    padding: 0;
                }
                @media #{$monitor} {
                    width: 100%;
                    padding: 0 1em;
                }
            }
        }

        .hfsecuserneeddesc {
            width: 100%;
            // background-color: red;
            @media #{$phablet} {
                width: 95%;
            }
            @media #{$tablet} {
                width: 50%;
            }
            @media #{$mac13} {
                width: 50%;
            }
            @media #{$mac15} {
                width: 40%;
            }
            @media #{$monitor} {
                width: 35%;
            }

            p {
                line-height: 2em;
                color: $piublack;
            }
        }
    }

    .hfimgsection {
        background-color: $piugreylight;

        .hfimgdiv {
            margin: 0 auto;
            width: 100%;

            img {
                width: 100%;
            }
            @media #{$phablet} {
                padding: 1em 0.5em;
            }
            @media #{$tablet} {
                width: 80%;
                padding: 2em 1em;
            }
            @media #{$mac13} {
                width: 70%;
                padding: 4em 0;
            }
            @media #{$mac15} {
                width: 50%;
                padding: 6em 0;
            }
            @media #{$monitor} {
                width: 50%;
                padding: 8em 0;
            }
        }

        .hfimgdiv2 {
            // background-color: red;
            margin: 0 auto;
            padding: 1em 0.5em;

            img {
                width: 100%;
            }
            @media #{$phablet} {
                padding: 1em 0.5em;
            }
            @media #{$tablet} {
                width: 80%;
                padding: 2em 1em;
            }
            @media #{$mac13} {
                width: 75%;
                padding: 4em 0;
            }
            @media #{$mac15} {
                width: 60%;
                padding: 6em 0;
            }
            @media #{$monitor} {
                width: 60%;
                padding: 8em 0;
            }
        }
    }

    .hfimgsectionflex {
        background-color: $piugreylight;
        display: flex;
        flex-wrap: wrap;

        .hfimgdiv {
            margin: 0 auto;

            img {
                width: 100%;
            }
            width: 100%;
            padding: 4em 1em 1em;
            @media #{$tablet} {
                width: 70%;
                padding: 4em 1em;
            }
            @media #{$mac13} {
                width: 50%;
                padding: 4em 1em;
            }
            @media #{$mac15} {
                width: 50%;
                padding: 6em 2em;
            }
            @media #{$monitor} {
                width: 40%;
                padding: 8em 2em;
            }
        }

        .hifiimgannotationsdiv {
            margin: 0 auto;
            @media #{$mac13} {
                width: 50%;
            }
            @media #{$mac15} {
                width: 50%;
            }

            .hifiimgannotations {
                width: 90%;
                margin: 0 auto;
                padding: 4em 0;

                img {
                    width: 100%;
                }
                @media #{$tablet} {
                    width: 80%;
                    padding: 2em 1em;
                }
                @media #{$mac13} {
                    width: 60%;
                    padding: 4em 0;
                }
                @media #{$mac15} {
                    width: 45%;
                    padding: 6em 0;
                }
                @media #{$monitor} {
                    width: 80%;
                    padding: 8em 0;
                }
            }
        }
    }
}
/////////////////////// REACTIONS //////////////////////

#reactionsection {
    background-color: $piudarkblue;
}

.reactioncontent {
    .reactionflex {
        display: flex;
        flex-wrap: wrap;
        @media #{$phablet} {
            width: 90%;
            margin: 0 auto;
        }
        @media #{$mac15} {
            width: 85%;
            margin: 0 auto;
        }
        @media #{$monitor} {
            width: 85%;
            margin: 0 auto;
        }

        .reactionbox {
            width: 90%;
            margin: 0 auto;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            margin: 2em auto;
            @media #{$phablet} {
                width: 45%;
            }
            @media #{$tablet} {
                width: 35%;
            }
            @media #{$mac13} {
                width: 22%;
            }
            @media #{$mac15} {
                width: 22%;
            }
            @media #{$monitor} {
                width: 20%;
            }

            .reaction {
                width: 100%;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }
        }

        .reactionbox:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }
}
////////////////////// REFLECTION ///////////////////////////

#reflectionsection {
    background-color: $piudarkblue;

    p {
        color: white;
    }

    .futureflex {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        @media #{$monitor} {
            width: 65%;
        }

        .futureheader {
            font-weight: bold;
            font-style: italic;
            font-size: 1.2em;
        }

        .futurecontent {
            font-size: 1em;
        }

        .futurediv {
            padding-bottom: 2em;
            @media #{$tablet} {
                width: 50%;
                padding: 2em 1em;
            }
            @media #{$mac13} {
                width: 33%;
                padding: 2em 1em;
            }
            @media #{$mac15} {
                width: 33%;
                padding: 2em 1em;
            }
            @media #{$monitor} {
                width: 33%;
                padding: 2em 1em;
            }
        }
    }

    .reflectionflex {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        @media #{$monitor} {
            width: 65%;
        }

        .refelctionheader {
            font-weight: bold;
            font-style: italic;
            font-size: 1.2em;
        }

        .reflectioncontent {
            font-size: 1em;
            line-height: 1.8em;
        }

        .reflectiondiv {
            padding-bottom: 2em;
            @media #{$tablet} {
                width: 70%;
                padding: 2em 1em;
            }
            @media #{$mac13} {
                width: 50%;
                padding: 2em;
            }
            @media #{$mac15} {
                width: 50%;
                padding: 3em;
            }
            @media #{$monitor} {
                width: 50%;
                padding: 4em;
            }
        }
    }

    #iframe {
        height: 400px;
        width: 310px;
        margin: 0 auto;
        @media #{$phablet} {
            height: 445px;
            width: 375px;
            margin: 0 auto;
        }
        @media #{$tablet} {
            height: 550px;
            width: 600px;
            margin: 0 auto;
        }
        @media #{$mac13} {
            height: 600px;
            width: 800px;
            margin: 0 auto;
        }
        @media #{$mac15} {
            height: 600px;
            width: 800px;
            margin: 0 auto;
        }
        @media #{$monitor} {
            height: 750px;
            width: 1000px;
            margin: 0 auto;
        }
    }

    #videocredits {
        text-align: center;
        padding: 1em 0;
        color: $grey3;
    }
}
////////// Vertical NAV /////////
//
// .vNav {
//     position: fixed;
//     top: 50%;
//     // transform: translateY(-50%);
//     left: 80%;
//     width: 50px;
//     z-index: 9999;
//     list-style-type: none;
// }
//
// .vNav ul {
//     position: relative;
//     padding: 3px 3px 3px 35%;
//     // background-color: red;
// }
//
// .vNav ul li {
//     position: relative;
//     padding-bottom: 20px;
//     padding-left: 35%;
//     color: rgb(113,135,133);
// }
//
// .vNav a {
//     display: block;
//     width: 18px;
//     height: 18px;
//     text-indent: -9999px;
//     border-radius: 50%;
//     border: 3px solid;
//     border-color: rgb(113,135,133);
//     text-decoration: none;
// }
//
// .vNav a:hover {
//     border-radius: 50%;
//     background-color: rgb(113,135,133);
//     text-decoration: none;
// }
//
// .vNav a.active {
//     border-radius: 50%;
//     background-color: red;
//     text-decoration: none;
// }
//
// .labeloo {
//     position: relative;
//     top: -60%;
//     left: -120px;
//     width: 86px;
//     border-radius: 2px;
//     padding: 5px;
//     text-align: right;
//     font-size: 1em;
//     color: $piugreylight;
//     display: none;
//     background-color: $piulightblue;
// }