// .fixedLeftColumn {
//     background-color: $grey4;
//     width: 200px;
//     height: 100vh;
//     position: fixed;
//     z-index: 1;
//     top: 0;
//     left: 0;
//     overflow-x: hidden;
//
//     .leftbtn {}
// }

#wrapper {
    margin-top: 10em;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 20em auto;

    #btndiv {
        width: 150px;
        height: 30px;
        background-color: $esaurblue;

        p {
            text-align: center;
            color: white;
        }
    }

    #flexbox {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        #flexdivA {
            width: 100px;
            height: 100px;
            background-color: $grey2;
        }

        #flexdivB {
            width: 100px;
            height: 100px;
            background-color: green;
        }

        #flexdivC {
            width: 100px;
            height: 100px;
            background-color: $grey2;
        }
    }
}