///////////////// MEDIA QUERIES /////////////////////
$phablet: "(min-width: 0px)";
$tablet: " (min-width: 768px)";
$mac13: " (min-width: 1024px)";
$mac15: "(min-width: 1440px)";
$fourk: "(min-width: 2560px)";
$monitor: "(min-width: 18200px) and (max-width: 25590px)"; // $insignia: "(min-width: 1916px)"; /////////////////
///////////////// MEDIA QUERIES /////////////////////
// $phablet: "(min-width: 375px) and (max-width: 768px)";
// $tablet: "(min-width: 768px) and (max-width: 1023px)";
// $mac13: "(min-width: 1024px) and (max-width: 1439px)";
// $mac15: "(min-width: 768px) and (max-width: 1920px)";
// $tab-monitor: "(min-width: 768px) and (max-width: 1920px)";
// $fourk: "(min-width: 2560px)";
// $monitor: "(min-width: 1820px) and (max-width: 2559px)"; // $insignia: "(min-width: 1916px)"; /////////////////TYPOGRAPHY/////////////////////
$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;
$cursive: 'Great Vibes', cursive;
$opensans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$medium: 600; /////////////// COLORS /////////////////////////
$yellow: #FFCA01;
$pink: #FC136A;
$green: #4AFF01;
$skyblue: #3A89F3;
$setured: #F04B33;
$textdark: #414141; ///////////// ACTILIST  /////////////////
$darkblue: #183161;
$bgblue: #3F97F9;
$bgdark: #424242;
$halfgrey: #7f7f7f;
$grey0: #F8F8F8;
$grey1: #EDEDED;
$grey2: #D5D5D5;
$grey3: #BCBCBC;
$grey4: #7E7E7E;
$grey5: #F3F3F3;
$actilistred: #EC5454;
$actigreen: #0FE5A8;
$darkgreen: #00936E;
$navgrey: #272727; ////////EXPEDIA //////////
$expediablue: #033260;
$expediayellow: #FDCF08;
$linkedinblue: #0075B5;
$gmailred: #DC4638; /////// DATESCOUT //////
$dspink: #FF0068;
$dsdarkgrey: #363535; /////////////EVENTOSAUR/////////////
$esaurgreen: #00BFA0;
$esaurblue: #00377D;
$esaurblack: #3F3F3F;
$esaurgrey1: #F5F5F5; ///////
///////////////// Pump IT UP //////////////
$piugreylight: #f6f6f6;
$piulightblue: #53B0BD;
$piudarkblue: #026F8B;
$piured: #D63D31;
$piublack: #032A2F;
$smarthomepurple: #D714E7; /////////// PREMERA ///////////////////////
$premerateal: #00A7B5;
$premerared: #E04E39;
$premeracoral: #FF7C76; /////////// UBER ///////////////////////
$uberblue: #1fbad6; ///////////////// THD ///////////////////////
$thdorange: #F96301;
$ncv: #EFBEDF;
$ncv_hover: #DB99C5;
$ss: #DBDCFF;
$ss_hover: #B2B3ED;
$pp: #AFB7C3;
$pp_hover: #8E9CAF;
$pumpitup: #C6F1D6;
$pumpitup_hover: #90E5AF;
$exploration: #B8EBFD;
$exploration_hover: #96D3E8;
$emptext: #282F3B;
$loadplan: #EFD5BE;
$loadplan_hover: #EFC5A1;
$pulse: #FFEAA3;
$pulse_hover: #DECD94;