#titleFlex {
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    margin-left: 5em;
}

#title {
    width: 100%;
    padding: 2em 0 0em 0;
    font-size: 1em;
    font-weight: 600;
}

/* #myButton{
  position: relative;
  bottom: 1.9em;
  width: 100px;
  height: 30px;
  background-color: #ED4C3B;
  font-weight: bold;
  color: white;

} */
#inputBox {
    width: 300px;
    height: 25px;
}

#passFlex {
    display: flex;
    width: 300px;
    margin-left: 5em;
}

#circle {
    width: 15px;
    /* margin-top: 3em; */
    margin-right: 1em;
    height: 15px;
    border-radius: 100px;
    background-color: none;
    /* display: none; */
}

#myButton {
    margin: 2em;
}